<?php $this->load->view('front/header_inner'); ?>

<section class="personal_info">
              <div class="title_pro mar-bot-40">
                                <h3>Verify Bank Account : <?php if($bank_verification->status != ""){  if($bank_verification->status == "verified"){
								echo "<span style='color:green'>".$bank_verification->status . "</span>"; 
								} elseif($bank_verification->status == "Rejected") { echo "<span style='color:red'>".$bank_verification->status . "</span>"; }
else { echo "<span style='color:orange'>".$bank_verification->status . "</span>"; } } else { echo "<span style='color:red'>unverified</span>"; } ?></h3>
                            </div>
                           <div class="container">
						   <?php if($bank_verification->status != "pending") { ?>
                            <div class="row">
                               
							   
							   <?php echo form_open("",array('class'=>'form-horizontal profile_form','id'=>'bank_form')); ?>							   
							   <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                        <label class="col-md-4">Bank Name</label>    
                                <div class="col-md-8">
                                    <div class="form_inp">
                                    <input type="text" class="form-control" placeholder="Bank Name" name="bank_name" value="<?php echo $bank_verification->bank_name; ?>">
                                    </div>
                                    </div>    
                                    </div>
                                
                                <div class="form-group">
                        <label class="col-md-4">Account Holder</label>    
                                <div class="col-md-8">
                                    <div class="form_inp">
                                    <input type="text" class="form-control" placeholder="Bank Account Holder" name="account_holder"  value="<?php echo $bank_verification->account_holder; ?>">
                                    </div>
                                    </div>    
                                    </div>
                                    
                                     <div class="form-group">
                        <label class="col-md-4">Bank Account Number</label>    
                                <div class="col-md-8">
                                    <div class="form_inp">
                                    <input type="text" class="form-control" placeholder="Bank Account Number" name="account_number" value="<?php echo $bank_verification->account_number; ?>">
                                    </div>
                                    </div>    
                                    </div>
									</div>
                         
						 <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                        <label class="col-md-4">Bank Address</label>    
                                <div class="col-md-8">
                                    <div class="form_inp">
                                    <input type="text" class="form-control" placeholder="Bank Address" name="bank_address"  value="<?php echo $bank_verification->bank_address; ?>">
                                    </div>
                                    </div>    
                                    </div>
									
									<div class="form-group">
                        <label class="col-md-4">IBAN / IFSC Code</label>    
                                <div class="col-md-8">
                                    <div class="form_inp">
                                    <input type="text" class="form-control" placeholder="Swift / IBAN / IFSC Code" name="iban_code" value="<?php echo $bank_verification->iban_code; ?>">
                                    </div>
                                    </div>    
                                    </div>
									
									<div class="form-group">
                        <label class="col-md-4">Account type</label>
                                <div class="col-md-8">
                                <div class="form_inp">
                                <select class="form-control" name="account_type">
								<option value="savings" <?php if($bank_verification->account_type == "savings"){ echo "selected"; } ?>>savings</option>
								<option value="current" <?php if($bank_verification->account_type == "current"){ echo "selected"; } ?>>current</option>
								</select>
                                </div>
                                </div>
                                </div>
								</div>
								</div>
							   <?php } ?>
                            </div>
              </section>

			  <?php if($bank_verification->status != "pending") { ?>
<section class="bank_proof">
<div class="container">
    
                    <div class="row">
                <div class="proof clearfix">
                    <div class="col-md-12 col-sm-12">
                    <div class="accoun_info">
                        <h4>Bank Account Book</h4>
                        </div>
                        <div class="file_upload no-js">
                            <div class="content">
                        <div class="box">
					<input type="file" name="document1" id="file-6" class="inputfile inputfile-5" />
					<label for="file-6"><div>
					<?php if($bank_verification->document ==  "") { ?>
                    <img src="<?php echo base_url(); ?>assets/img/verify_id.png" class="img-responsive">
					<?php } else 
					{ ?>
					 <img src="<?php echo base_url(); ?>assets/uploads/verification/<?php echo $bank_verification->document; ?>" class="img-responsive">
					<?php } ?>					
                        </div> <span></span></label>
				</div>
                               
                </div>
                        </div>
                        <div class="upload_format">
                <p>Upload formats are: jpeg, jpg, png, gif</p> 
                </div> 
                    </div>
                    
                    
                    
                     
                    </div>    
                    </div> 
    </div>
</section>
<?php } else { ?> <br><br><?php } ?>


<section class="notict">
<div class="container">
    <div class="row">
	<?php if($bank_verification->status == "verified") { ?>
		<div class="notice_title">
        <h4>notice</h4>
        
        <h5>To avoid delays when verifying your account, make sure that your submitted documents are:</h5>
        
        <ul>
        <li>Images of High Quality (colour images, 300dpi resolution or higher)</li>
        </ul> 
        <?php } ?>
		
		<?php if($bank_verification->status != "pending") { ?>
        <button  type="submit" class="btn btn_submit">submit</button>
		<?php } else { ?>
		<center><h3>Pending for Admin Approval<br><br><br></h3></center>
		<?php  }?>
		
		<br>
		</form>
        </div>
    </div>
    </div>
</section>

<?php $this->load->view('front/footer');  ?>

<script src="<?php echo base_url(); ?>assets/js/bank_verify.js?<?php echo time(); ?>"></script>

<script src="<?php echo base_url(); ?>assets/js/custom-file-input.js"></script>