<?php $this->load->view('front/header_inner'); ?>
<section class="blog_sec">
    <div class="inner_title">
      <h4>blogs</h4>
    </div>
<div class="container">
    <div class="row">
    <div class="col-md-9">
        <div class="row mar-top-20">
             <div class="col-md-7">
            <div class="blog_cont">
                <h5><span><img src="<?php echo base_url(); ?>assets/img/calender.png" class="img-responsive"></span><?php echo $blog->create_date; ?></h5>
                <h4><?php echo $blog->heading; ?> </h4>
                <p><?php echo htmlspecialchars_decode($blog->description); ?></p>
                </div>
            </div>
            
        <div class="col-md-5">
            <div class="blog_img blog_det">
            <img src="<?php echo base_url(); ?>assets/uploads/blog_cat/<?php echo $blog->img; ?>" class="img-responsive">
            </div>
            </div>
        </div>
        
        
        
        <div class="commen_sec mar-top-40">
        <h4><?php echo $comments_count; ?> comments</h4>
        
            <div class="total_list">
                
				<?php if($comments) { 
				foreach($comments as $comments1) { ?>
				<div class="com_prof">
                    <img src="<?php echo base_url(); ?>assets/img/no_img.png" class="img-responsive">
                    </div>
                <div class="prof_cmments prf_det">
                    <h4><?php echo $comments1->name; ?></h4>
                    <p><?php echo $comments1->comments; ?></p>
                    </div>    
                
                <div class="clearfix mar-top-20"></div>    
               
<?php } } else 
{
?>
EMPTY
<?php 
}
?>
            </div>
        </div>
        
        
        
          <div class="commen_sec mar-top-40">
        <h4>Leave a reply</h4>
        <p>Your email address will not be published. Required fields are marked *</p>
        
        <?php echo form_open("",array("class"=>"form-horizontal leave_form row","id"=>"blog_reply_form")); ?>
            
            <div class="col-md-4">
            <label>name</label>
            <input class="form-control" placeholder="name" name="name">
            </div>
            
            <div class="col-md-4">
            <label>Email ID</label>
            <input class="form-control" placeholder="Email ID" name="emailid">
            </div>
            
            <div class="col-md-4">
            <label>Website</label>
            <input class="form-control" placeholder="Website" name="website">
            </div>
            
			<input type="hidden" name="blog_id" value="<?php echo $this->uri->segment(2); ?>">
            <div class="col-md-12 mar-top-20">
            <label>comments</label>
            <textarea class="form-control" placeholder="comments" name="comments"></textarea>
                
            <button type ="submit" class="btn btn_submit_leave mar-top-20">post comment</button>    
            </div>
		</form>
        </div>
		</div>
		<div class="col-md-3">
        <div class="side_panel">
        <input type="text" class="form-control" placeholder="search">            
        <div class="cate_list">
            <h4>Categories</h4>
              <ul>
			<?php if($blog_cat){  foreach($blog_cat as $blog_cat1) {?>
			<li><a href="<?php echo base_url(); ?>blogs/<?php echo $blog_cat1->cat_id ?>"><?php echo $blog_cat1->category; ?></a></li>
				<?php } }  ?>
            </ul>
            </div>  
            
            <!--<div class="comments">
            <h4>comments</h4>
            </div>    
                <div class="total_list">
               <?php if($comments_lim) { 
				foreach($comments_lim as $comments_lim1) { ?>
			   <div class="com_prof">
                    <img src="<?php echo base_url(); ?>assets/img/no_admin.png" class="img-responsive">
                    </div>
                <div class="prof_cmments">
				<h4>Admin says :</h4>
				<p>Quisque semper nunc vitae...</p>
				</div>
				<div class="clearfix mar-top-20"></div>
                
				<?php } } else 
						{ ?>
EMPTY
					<?php } ?>
            </div> -->
        </div>
        </div>    
    </div>
    </div>
</section>

<?php $this->load->view('front/footer'); ?>

<script src="<?php echo base_url(); ?>assets/js/blog_details.js?<?php echo time(); ?>"></script>


