<?php
$this->load->view('front/header_inner');
?>
<section class="contact_us">
<div class="container">
     <div class="inner_title">
    <h4>contact us</h4>
    </div>
	<div class="row mar-top-40">
    <div class="full_cont">    
    <div class="col-md-6 col-sm-6">
        <div class="contact_list">
        <p>
           <?php echo htmlspecialchars_decode($contact->pagecontent); ?>
            </p>
            
            <div class="clearfix mar-bot-20 mar-top-20">
            <div class="cont_ph">
            <img src="<?php echo base_url(); ?>assets/img/ph.png" class="img-responsive">
            </div>
            
            <div class="ph_num">
            <p>+91 <?php echo $site->phno; ?></p>
            <!--<p>+91 98765 43210</p> -->
            </div>
            </div>
            
            <div class="clearfix mar-bot-20 mar-top-20">
            <div class="cont_ph">
            <img src="<?php echo base_url(); ?>assets/img/mail.png" class="img-responsive">
            </div>
            <div class="ph_num">
                <p><?php echo $site->dilZiIaSmOe; ?></p>
                </div>    
            </div>
            
            <div class="clearfix">
            <ul class="list-inline  social_list">
                <li><a href="<?php echo $site->facebook_url; ?>"><i class="fa fa-facebook"></i></a></li>
                <li><a href="<?php echo $site->google_plus; ?>"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="<?php echo $site->twitter_url; ?>"><i class="fa fa-twitter"></i></a></li>
				<li><a href="<?php echo site_config()->medium_url; ?>"><i class="fa fa-medium"></i></a></li>
                </ul>
            </div>
        </div>
        </div>
    <div class="col-md-6 col-sm-6">
    <div class="cont_list">
        <h4>contact details</h4>
        <?php  echo form_open('',array('id'=>'contact_form','class'=>'form-horizontal form_contact')); ?>
								<div class="form-group">
									<input type="text" placeholder="<?php echo 'Your Name'; ?>" class="form-control" id="" name="contact_name">
								</div>
								<div class="form-group">
									<input type="text" placeholder="<?php echo 'Email Id'; ?>" class="form-control" id="" name='contact_email'>
								</div>
								<div class="form-group">
									<input type="text" placeholder="<?php echo 'Subject'; ?>" class="form-control" id="" name="subject">
								</div>
								<div class="form-group">
									<textarea cols="4" rows="4" placeholder="<?php echo $this->lang->line('Description'); ?>" class="form-control contactDesc" name="contact_message"></textarea>
								</div>
								<div class="form-group">
									<button type="submit" class="btn btn_submit_leave"><?php echo $this->lang->line('Submit'); ?></button>
								</div>
							</form>
        </div>
        </div>    
    </div>
    </div>    
    </div>
</section>
<?php 
$this->load->view('front/footer');
 ?>
 <script src="<?php echo base64_encode_url('assets/js/contact.js',get_extension_from_url(base_url().'assets/js/contact.js')); ?>"></script>