<?php $this->load->view('front/header_inner'); ?>

<section class="depost_btc">
  <div class="container">
    <div class="inner_title">
      <h4>deposit</h4>
    </div>
	<?php if($verify_status == "Approved") { ?>
    <div class="dep_blk1">
	<?php echo form_open_multipart('',array("class"=>"cm_frm1 row","id"=>"deposit_ia")); ?>
        <div class="col-md-6 col-sm-6 col-xs-12 cls_resp50 cls_rsmmp50">
        <div class="inr_lef">
            <div class="form-group row clearfix">
              <div class="col-md-6 col-sm-12 col-xs-12">
                <label class="form-control-label">Deposit Currency</label>
                <div class="select_style1">
                  <select name="cur" id="curr">
                    <option value="<?php echo $cur; ?>"><?php echo $cur; ?></option>
                    </select>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12">
                <label class="form-control-label">Deposit Amount</label>
                <div class="input-group cls_cminpgrp2">
                  <input class="form-control"  onkeypress="return isNumberKey(event)" placeholder="Amount" type="text" name="amount12" oninput="fee_per(this.value)">
                  <span class="input-group-addon"><?php echo $cur; ?></span> </div>
				  <label for="amount12" class="error"></label><span id="rec"></span>
              </div>
            </div>
            <div class="form-group row clearfix">
              <div class="col-md-6 col-sm-12 col-xs-12">
                <label class="form-control-label">Transaction Number *</label>
                <input class="form-control" placeholder="Transaction Number *" type="text" name="txid">
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12">
                <label class="form-control-label">Bank Slip *</label>
                <div class="btn-block">
                  <div class="fileUpload btn cm_ashbtn1"> <span> <img src="<?php  echo base_url(); ?>assets/img/upload1.png" class="uplo_im1"> Upload</span>
                    <input class="upload" type="file" name="attachment">
                  </div>
                  <small class="hint1">Upload formats are : jpeg, jpg, png &amp; gif</small> </div>
              </div>
            </div>
            <div class="form-group cmnt_blk clearfix">
              <label class="form-control-label">Comments</label>
              <textarea class="tarea1" placeholder="Comments" name="desc"></textarea>
              
            </div>
			<button type="submit" class="cm_blubtn1">Deposit</button>
          </div>
        </div>
		
        <div class="col-md-6 col-sm-4 col-xs-12 cls_resp50 cls_rsmmp50">
          <div class="bank_det">
            <div class="cm_head1">
              <h4>Admin Bank Details</h4>
            </div>
            <div class="row">
              <div class="clearfix">
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <label class="form-control-label">Bank Name</label>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <label class="form-control-label"><?php echo $acc_details->bank_name ?></label>
                </div>
              </div>
              <div class="clearfix">
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <label class="form-control-label">Account Name</label>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <label class="form-control-label"><?php echo $acc_details->account_owner; ?></label>
                </div>
              </div>
              <div class="clearfix">
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <label class="form-control-label">Account Number</label>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <label class="form-control-label"><?php echo $acc_details->acc_number; ?></label>
                </div>
              </div>
              <div class="clearfix">
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <label class="form-control-label">IFSC Code</label>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <label class="form-control-label"><?php echo $acc_details->iban; ?></label>
                </div>
              </div>
              <div class="clearfix">
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <label class="form-control-label">Bank country</label>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                  <label class="form-control-label"><?php echo $acc_details->bank_country; ?></label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="notif_blk1">
        <h4><span>Important Notice</span></h4>
        <p><?php echo $acc_details->message; ?></p>
      </div>
    </div>
    <div class="dep_tablesc dep_tableinrsc">
      <div id="flip-scroll" class="login_history cm_table1">
        <table class="table" id="table_list">
          <thead>
            <tr>
              <th>S. No.</th>
              <!--<th>Currency</th>-->
              <th>Transaction ID</th>
              <th>Ask Amount</th>
              <th>Deposit Amount</th>
              <!--<th>Address / Account Number</th>-->
              <th>Date & Time</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
           <?php
			$i=1;
			foreach($deposit_list as $deposit_list1)
			{
		   ?>
            <tr>
              <td class="snum"><?php echo $i; ?></td>
              <!--<td>INR</td>-->
              <td>#<?php echo $deposit_list1->txid; ?></td>
              <td><?php echo $deposit_list1->askamount; ?></td>
              <td><?php echo $deposit_list1->amount; ?></td>
              <!--<td>00001234566791</td>-->
              <td><?php echo $deposit_list1->request_date ." ". $deposit_list1->request_time; ?></td>
              <td>
			  <?php if($deposit_list1->status == "confirmed"){ ?>
			  <span class="text-success"><?php echo ucfirst($deposit_list1->status); ?></span>
			  <?php } else if($deposit_list1->status == "cancelled"){ ?>
			  
			  <span class="text-danger"><?php echo ucfirst($deposit_list1->status); ?></span>
			  
			   <?php } else if($deposit_list1->status == "pending"){ ?>
			   
			   <span class="text-warning"><?php echo ucfirst($deposit_list1->status); ?></span> 
			    <?php } else { ?>
				 <span class="text-warning"><?php echo ucfirst($deposit_list1->status); ?></span> 
				
				<?php } ?>
			  
			  </td>
            </tr>
			<?php 
			$i++;
			} 
			?>
          </tbody>
        </table>
      </div>
    </div>
	
	<?php } else { ?>
	<br>
	<br>
	<br>
	<div class="alert alert-danger">
			<?php echo 'IDENTITY VERIFICATION REQUIRED. PLEASE'; ?> <span><a href="<?php echo base_url(); ?>profile/verification" style="text-decorative:underline;"><?php echo 'VERIFY YOUR ACCOUNT'; ?></a></span> <?php echo 'TO PROCEED'; ?>
			</div>
	<br><br><br><br><br><br>
	<?php } ?>
  </div>
</section>

<?php $this->load->view('front/footer');  ?>

<script src="<?php echo base_url(); ?>assets/js/deposit_ia.js?<?php echo time(); ?>"></script>

<script src="<?php echo base_url(); ?>assets/js/jquery.dataTables.min.js"></script>
<script src="<?php echo base_url(); ?>assets/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
$('#table_list').DataTable();
var fee="<?php echo $fee ?>";
</script>