
<?php $this->load->view('front/header_inner');?>
<section class="depost_btc">
  <div class="container">
    <div class="inner_title">
      <h4>deposit</h4>
    </div>
    
    <?php
     $this->db->where("status",'active');
	$allcurrency=$this->db->get("ycneZrIrSuOc")->result();
    ?>
    
	<?php if($verify_status == "Approved") { ?>
    <div class="dep_blk1">
      <form class="cm_frm1 row">
        <div class="col-md-3 col-sm-4 col-xs-12 cls_resp50 cls_rsmmp50">
          <label class="form-control-label">Deposit Currency</label>
          <div class="select_style1" >
              <select name="crypto_deposit" id="crypto_deposit" onchange="refresh_deposit(this.value)">
                  <?php 
                  foreach($allcurrency as $curs1){
                      $sel_cur=$this->uri->segment('2');
                      $stats=($sel_cur == $curs1->currency_symbol)?'selected':"";
                      echo "<option value='".$curs1->currency_symbol."'".$stats.">".$curs1->currency_symbol."</option>";
                  }
                  ?>
              </select>
          </div>
        </div>
        <div class="col-md-6 col-sm-8 col-xs-12 cls_resp50 cls_rsmmp50">
          <label class="form-control-label">Send Amount to below <span id="selected_currency">BTC</span> Amount</label>
          <h3 id="selected_address">3HdSjZmPmdwHhpLYpHR5YsqKWxHw5NfeFH</h3>
          <span id="destination_tag"></span>
          <!--<?php if($curs1->currency_symbol =='BTC'){ ?>
            <a href="javascript:void(0)" id="selected_link" onclick="generate_address(crypto_deposit.value)"><button type="button" class="cm_blubtn1">Generate New Address</button></a>
          <?php } ?>-->
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12"> <img id="dep_image" alt="BTC address" src="" class="dep_im img-responsive"> </div>
      </form>
      <div class="notif_blk1">
        <h4><span>Important Notice</span></h4>
        <p>It may take up to 1 hour for the <span id="selected_currency1">BTC</span> network to confirm the transaction. We require 3 network confirmations. You can request new deposit address every 24 hours.</p>
      </div>
    </div>
    <div class="dep_tablesc">
      <div id="flip-scroll" class="login_history cm_table1">
        <table class="table dep_history" id="table_list">
          <thead>
            <tr>
              <th>S. No.</th>
              <th>Currency</th>
              <!--<th>Transaction ID</th>-->
              <th>Deposit Amount</th>
              <th>Address</th>
              <th>Date & Time</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>            
          </tbody>
        </table>
      </div>
    </div>
	<?php } else { ?>
	<br>
	<br>
	<br>
	<div class="alert alert-danger">
			<?php echo 'IDENTITY VERIFICATION REQUIRED. PLEASE'; ?> <span><a href="<?php echo base_url(); ?>verification" style="text-decorative:underline;"><?php echo 'VERIFY YOUR ACCOUNT'; ?></a></span> <?php echo 'TO PROCEED'; ?>
			</div>
	<br><br><br><br><br><br>
	<?php } ?>
  </div>
</section>

<?php $this->load->view('front/footer'); 

if($sel_cur == "")
{
$sel_cur="BTC";
}
?>
<script>
var sel_cur="<?php echo $sel_cur; ?>";
</script>



	<script src="<?php echo base_url(); ?>assets/js/deposit.js?<?php echo time(); ?>"></script>
	
<script src="<?php echo base_url(); ?>assets/js/jquery.dataTables.min.js"></script>
<script src="<?php echo base_url(); ?>assets/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
$('#table_list').DataTable();
</script>
	
