

<?php 
if($exchange_status == "enable")
{
$this->load->view('front/header_inner'); ?>

<section class="depost_btc">
  <div class="container">
    <div class="inner_title">
      <h4>Exchange</h4>
    </div>
    <div class="dep_blk1">
     <?php echo form_open("",array('class'=>'cm_frm1 row','id'=>'exchange')); ?>
        <div class="col-md-7 col-sm-6 col-xs-12 cls_resp50 cls_rsmmp50">
          <ul class="list-inline field1">		  
            <li class="fst_fd">
              <label class="form-control-label">Send</label>
              <div class="select_style1">
                <select name="f_cur" id="f_cur" class="f_cur" onchange="refresh_exchange()">
                  <option value="BTC">BTC</option>
                  <option value="ETH">ETH</option>
                  <option value="INR">INR</option>
                  <option value="AED">AED</option>
                </select>
              </div>
              <div class="input-group cls_cminpgrp2">
                <input class="form-control" placeholder="Amount" type="text" name="amount" id="amount" oninput="change_val()" maxlength="10">
                <span class="input-group-addon" id="f"></span> </div>
				<span>You have <span id="balance"><?php echo $btc_bal; ?></span> <span id="fcu">BTC</span></span>
				<label for="amount" class="error"></label>
            </li>
            <li class="mid_sep"><img src="<?php echo base_url(); ?>assets/img/exch_ico.png" class="img-responsive center-block"></li>
            <li class="sec_fd">
              <label class="form-control-label">Receive</label>
              <div class="select_style1">
                <select name="s_cur" id="s_cur" class="s_cur" onchange="change_sec(this.value)">
                  <option value="BTC">BTC</option>
                  <option value="ETH">ETH</option>
                  <option value="INR">INR</option>
                  <option value="AED">AED</option>
                </select>
              </div>
              <div class="input-group cls_cminpgrp2">
                <input class="form-control" placeholder="Price" type="text" name="price" id="price" readonly>
                <span class="input-group-addon" id="s">BTC</span> </div>
					<label for="price" class="error"></label>
            </li>
          </ul>
        <!--  <div class="form-group clearfix">
            <label class="form-control-label">Your Bitcoin Address</label>
            <input class="form-control" placeholder="Your Bitcoin Address" type="text">
          </div>-->
         <!-- <div class="exch_lis">
            <div class="cm_head1">
              <h4>Your Bank Account Details</h4>
            </div>
            <div class="row">
              <div class="clearfix">
                <div class="col-md-4 col-sm-5 col-xs-12">
                  <label class="form-control-label">Bank Account</label>
                </div>
                <div class="col-md-6 col-sm-7 col-xs-12">
                  <label class="form-control-label bnk_rigtx1">916020008738680</label>
                </div>
              </div>
              <div class="clearfix">
                <div class="col-md-4 col-sm-5 col-xs-12">
                  <label class="form-control-label">Account Name</label>
                </div>
                <div class="col-md-6 col-sm-7 col-xs-12">
                  <label class="form-control-label bnk_rigtx1">Ankit Ramola</label>
                </div>
              </div>
              <div class="clearfix">
                <div class="col-md-4 col-sm-5 col-xs-12">
                  <label class="form-control-label">Bank Name</label>
                </div>
                <div class="col-md-6 col-sm-7 col-xs-12">
                  <label class="form-control-label bnk_rigtx1">Axis Bank</label>
                </div>
              </div>
              <div class="clearfix">
                <div class="col-md-4 col-sm-5 col-xs-12">
                  <label class="form-control-label">IBAN / Swift / IFSC Code</label>
                </div>
                <div class="col-md-6 col-sm-7 col-xs-12">
                  <label class="form-control-label bnk_rigtx1">UTIB0000022</label>
                </div>
              </div>
              <div class="clearfix">
                <div class="col-md-4 col-sm-5 col-xs-12">
                  <label class="form-control-label">Bank Address</label>
                </div>
                <div class="col-md-6 col-sm-7 col-xs-12">
                  <label class="form-control-label bnk_rigtx1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </label>
                </div>
              </div>
              <div class="clearfix">
                <div class="col-md-4 col-sm-5 col-xs-12">
                  <label class="form-control-label">Bank country</label>
                </div>
                <div class="col-md-6 col-sm-7 col-xs-12">
                  <label class="form-control-label bnk_rigtx1">India</label>
                </div>
              </div>
            </div>
          </div> -->
          <!--<div class="form-group clearfix">
            <label class="form-control-label">Your Email ID</label>
            <input class="form-control" placeholder="Your Email ID" type="text">
          </div>-->
          <div class="form-group clearfix">
            <label class="form-control-label">Purpose</label>
            <input class="form-control" placeholder="Purpose" type="text" name="desc">
            <button type="submit" class="cm_blubtn1">Exchange Now</button>
          </div>
        </div>
        
        <div class="col-md-5 col-sm-6 col-xs-12 cls_resp50 cls_rsmmp50">
          <div class="cm_blupan">   
          <div class="cm_panbdy1">
          <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
          <label class="form-control-label">Market Price</label>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
          <label class="form-control-label">1 <span id="market_fcur">BTC </span>=<span id="tot"> <?php echo $BTC_INR; ?></span> <span id="market_scur">INR</span></label>
          </div>          
          </div>
          <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
          <label class="form-control-label">Service Charge</label>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
          <label class="form-control-label"><span id="service_charge">0.00</span> <span class="market_scur">INR</span></label>
          </div>          
          </div>
          <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
          <label class="form-control-label">Final Amount</label>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
          <label class="form-control-label"><span id="final">0.00</span> <span class="market_scur">INR</span></label>
          </div>          
          </div>
          </div>
          <!--<div class="cm_panbdy1">
          <div class="cm_head2">
          <h3>Admin Bitcoin Address</h3>
          <h4>3HdSjZmPmdwHhpLYpHR5YsqKWxHw5NfeFH</h4>
          </div>
          </div> 
          <div class="cm_panbdy1">
          <div class="cm_head2">
          <h3 class="exc_hd">Admin Bank Details</h3>
          </div>
  <div class="bank_lis1">
          <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
          <label class="form-control-label">Bank Name</label>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
          <label class="form-control-label">Axis Bank</label>
          </div>          
          </div>
          <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
          <label class="form-control-label">Account Name</label>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
          <label class="form-control-label">Ankit Ramola</label>
          </div>          
          </div>
          <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
          <label class="form-control-label">Account Number</label>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
          <label class="form-control-label">916020008738680</label>
          </div>          
          </div>
          <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
          <label class="form-control-label">IFSC Code</label>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
          <label class="form-control-label">UTIB0000022</label>
          </div>          
          </div>
          <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
          <label class="form-control-label">Bank country</label>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
          <label class="form-control-label">India</label>
          </div>          
          </div>
          </div>
            </div>-->
          </div>          
        </div>
      </form>
    </div>
    <div class="dep_tablesc dep_tableinrsc">
      <div id="flip-scroll" class="login_history cm_table1">
        <table class="table ex_history" id="table_list">
          <thead>
            <tr>
              <th>S. No.</th>
              <th>Pairs</th>
              <th>Amount</th>
              <th>Fees</th>
              <th>Total Amount</th>
              <th>Date & Time</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            
            <tr>
              <td class="snum">10</td>
              <td>BTC / AED</td>
              <td>0.00045678</td>
              <td>0.00045678</td>
              <td>0.00045678</td>
              <td>15-07-2017  04:32:59 pm</td>
              <td><span class="text-success">Completed</span></td>
              <td><span class="empty_tx">-</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<?php $this->load->view('front/footer'); ?>

<script>
var BTC_INR="<?php echo $BTC_INR; ?>";
var BTC_AED="<?php echo $BTC_AED; ?>";
var ETH_INR="<?php echo $ETH_INR; ?>";
var ETH_AED="<?php echo $ETH_AED; ?>";
var fee_BTC_INR="<?php echo $fee_BTC_INR; ?>";
var fee_BTC_AED="<?php echo $fee_BTC_AED; ?>";
var fee_ETH_INR="<?php echo $fee_ETH_INR; ?>";
var fee_ETH_AED="<?php echo $fee_ETH_AED; ?>";
var fee_INR_BTC="<?php echo $fee_INR_BTC; ?>";
var fee_INR_ETH="<?php echo $fee_INR_ETH; ?>";
var fee_AED_ETH="<?php echo $fee_AED_ETH; ?>";
var fee_AED_BTC="<?php echo $fee_AED_BTC; ?>";
var btc_bal="<?php echo $btc_bal; ?>";
var eth_bal="<?php echo $eth_bal; ?>";
var inr_bal="<?php echo $inr_bal; ?>";
var aed_bal="<?php echo $aed_bal; ?>";
</script>

<script src="<?php echo base_url(); ?>assets/js/exchange.js?<?php echo time(); ?>"></script>

<script src="<?php echo base_url(); ?>assets/js/jquery.dataTables.min.js"></script>
<script src="<?php echo base_url(); ?>assets/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
$('#table_list').DataTable();
</script>

<?php } else  {
$this->load->view('front/header_inner'); ?>

<section class="trade_cen mar-top-20 mar-bot-10">
<div class="container">
<br><br><br><br><br><br><br>
<center>
<h1>Coming Soon</h1>
<p>We are updating some wonderful things waiting for the Upgrade</p>
</center>
<br><br><br>
</div>
</section>
<?php $this->load->view('front/footer'); ?>
<?php }  ?>