<?php $this->load->view('front/header_inner');?>

<section class="depost_btc">
  <div class="container">
    <div class="inner_title">
      <h4>Frequently Asked Question</h4>
    </div>
    <div class="panel-group panel_det mar-top-40" id="faqAccordion">
        
		<?php if($faq) {  foreach($faq as $faq1) { ?>
		<div class="panel panel-default ">
            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question<?php echo $faq1->faqid; ?>">
                 <h4 class="panel-title">
                    <a href="#" class="ing"><?php echo $faq1->question; ?></a>
              </h4>
			  </div>
            <div id="question<?php echo $faq1->faqid; ?>" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                   <?php echo htmlspecialchars_decode($faq1->answer); ?>
                </div>
            </div>
        </div>
		<?php }  } ?>   
</div>
</div>
</section>
<br>
<br>
<br>
<br>
<br>
<br>

<?php $this->load->view('front/footer');?>
