<?php $this->load->view('front/header');?>
<div class="ban_cont">
    <div class="container">
      <h2>Buy, Sell & Accept Bitcoin!</h2>
    <h4>The Next Gen Hybrid Digital Currency exchange</h4>
    
	<?php if($this->session->userdata("user_id") == "") { ?>
    <button class="btn btn_create" onclick="register_popup()">Create an account</button>
	<?php } ?>
      </div>
   </div>
    
    <div class="bitcoin_det">
    <div class="container">
        <ul class="list-inline">
        <li>
        <p>BTC / INR</p>
        <p class="btc_amnt"><?php  echo number_format((float)$BTC_INR['lastPrice'], 2, '.', '');  ?> </p>
        </li> 
        
         <li>
        <p>BTC / AED </p>
        <p class="btc_amnt"><?php  echo number_format((float)$BTC_AED['lastPrice'], 2, '.', '');  ?> </p>
        </li> 
            
         <li>
        <p>ETH / INR</p>
        <p class="btc_amnt"><?php  echo number_format((float)$ETH_INR['lastPrice'], 2, '.', '');  ?> </p>
        </li>  
            <li>
        <p>ETH / AED </p>
        <p class="btc_amnt"><?php  echo number_format((float)$ETH_AED['lastPrice'], 2, '.', '');  ?></p>
        </li>
            
            <li>
        <p> ETH / BTC  </p>
        <p class="btc_amnt"><?php  echo number_format((float)$ETH_BTC['lastPrice'], 8, '.', '');  ?> </p>
        </li>
            
            <li>
        <p>XRP / BTC</p>
        <p class="btc_amnt"><?php  echo number_format((float)$XRP_BTC['lastPrice'], 8, '.', '');  ?> </p>
        </li>
            
            <li>
        <p>XMR / BTC</p>
        <p class="btc_amnt"><?php  echo number_format((float)$XMR_BTC['lastPrice'], 8, '.', '');  ?> </p>
        </li>
            
            <li>
        <p>ETC / BTC </p>
        <p class="btc_amnt"><?php  echo number_format((float)$ETC_BTC['lastPrice'], 8, '.', '');  ?> </p>
        </li>
            
            <li>
        <p>ZEC / BTC</p>
        <p class="btc_amnt"><?php  echo number_format((float)$ZEC_BTC['lastPrice'], 8, '.', '');  ?></p>
        </li>
            
            <li>
        <p>MAID / BTC </p>
        <p class="btc_amnt"><?php  echo number_format((float)$MAID_BTC['lastPrice'], 8, '.', '');  ?> </p>
        </li>
            
            <li>
        <p>DOGE / BTC   </p>
        <p class="btc_amnt"><?php  echo number_format((float)$DOGE_BTC['lastPrice'], 8, '.', '');  ?> </p>
        </li>
            
            <li>
        <p>DASH / BTC   </p>
        <p class="btc_amnt"><?php  echo number_format((float)$DASH_BTC['lastPrice'], 8, '.', '');  ?> </p>
        </li>
            
             <li>
        <p>SJCX/BTC</p>
        <p class="btc_amnt"><?php  echo number_format((float)$SJCX_BTC['lastPrice'], 8, '.', '');  ?></p>
        </li>
            
            
        </ul>
        </div>
    </div>
    
    </div>

<!--feature sectin start      -->
<section class="feature">
    <div class="container">
    <div class="row">
    <div class="feature_title">
        <h3>Bitunio PLATFORM FEATURES</h3>
        </div>
        
        <div class="clearfix box_full_feature">
        <div class="col-md-3 col-sm-3">
        <div class="box_feature">
        <img src="<?php echo base_url(); ?>assets/img/feat_1.png" class="img-responsive wow fadeInUp">
        <h4><?php echo $exchange->pagetitle; ?></h4>    
        <p><?php echo $exchange->pagecontent; ?></p>    
            </div>
        </div>
        
        
        <div class="col-md-3 col-sm-3">
        <div class="box_feature">
        <img src="<?php echo base_url(); ?>assets/img/feat_2.png" class="img-responsive wow fadeInUp">
        <h4><?php echo $order->pagetitle; ?></h4>    
        <p><?php echo $order->pagecontent; ?></p>
            </div>
        </div>
        
        
        <div class="col-md-3 col-sm-3">
        <div class="box_feature">
        <img src="<?php echo base_url(); ?>assets/img/feat_3.png" class="img-responsive wow fadeInUp">
        <h4><?php echo $custom->pagetitle; ?></h4>    
        <p><?php echo $custom->pagecontent; ?></p>   
            </div>
        </div>
        
        
        <div class="col-md-3 col-sm-3">
        <div class="box_feature">
        <img src="<?php echo base_url(); ?>assets/img/feat_4.png" class="img-responsive wow fadeInUp">
        <h4><?php echo $security->pagetitle; ?></h4>    
        <p><?php echo $security->pagecontent; ?></p>   
            </div>
        </div>
        
        </div> 
        </div>
    </div>  
      
      </section>      
      
<!--    security section start  -->
<section class="security pad-top-30">
        <div class="feature_title">
        <h3><?php echo $multi->pagetitle; ?></h3>
        <p><?php echo $multi->pagecontent; ?> </p>    
        </div>
      <div class="container">
    <div class="row mar-top-40">
        <div class="col-md-5 col-sm-7">
        <div class="key_se wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.3s">
            <div class="box_det ">
            <img src="<?php echo base_url(); ?>assets/img/secu_1.png" class="img-responsive">
            </div>
            <div class="sec_box_det">
            <h4><?php echo $bitunio_key->pagetitle; ?> </h4>
            <p><?php echo $bitunio_key->pagecontent; ?></p>    
            </div>
            </div>
            
            <div class="key_se wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.5s">
            <div class="box_det">
            <img src="<?php echo base_url(); ?>assets/img/secu_2.png" class="img-responsive">
            </div>
            <div class="sec_box_det">
			 <h4><?php echo $sec_key->pagetitle; ?> </h4>
            <p><?php echo $sec_key->pagecontent; ?></p>
                    </div>
            </div>
            
            
            <div class="key_se wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay="0.7s">
            <div class="box_det">
            <img src="<?php echo base_url(); ?>assets/img/secu_3.png" class="img-responsive">
            </div>
            <div class="sec_box_det">
           	 <h4><?php echo $rec_key->pagetitle; ?></h4>
            <p><?php echo $rec_key->pagecontent; ?></p>
            </div>
            </div>
        </div> 
        
        <div class="col-md-7 col-sm-5">
        <div class="secur_list">
            <img src="<?php echo base_url(); ?>assets/img/secur_side.png" class="img-responsive">
            </div>
        </div>
          </div>
    </div>
      </section>   
      
<!--company logo section      -->
    <section class="company_logo">
      <div class="container">
        <div class="row">
            
          <div class="client_log">
            <ul class="list-inline">
              <li><img src="<?php echo base_url(); ?>assets/img/brand1.png" class="img-responsive"> </li>
                <li><img src="<?php echo base_url(); ?>assets/img/brand2.png" class="img-responsive"> </li>
                <li><img src="<?php echo base_url(); ?>assets/img/brand3.png" class="img-responsive"> </li>
                <li><img src="<?php echo base_url(); ?>assets/img/brand4.png" class="img-responsive"> </li>
              </ul>
            </div>
          </div>
        </div>
      </section>  

<!--data exchanged list      -->
      <section class="exchange">
      <div class="container">
          <div class="row">
          <div class="col-md-6 col-sm-6">
              <div class="exchange_list">
              <h4>Digital Currency Exchanged<span><?php echo $trans_count; ?></span></h4>
              </div>
              </div>
			  
              <div class="col-md-6 col-sm-6">
              <div class="exchange_list">
              <h4>Customers Served <span><?php echo $users_count; ?></span></h4>
              </div>
              </div>
              
              
          </div>
          </div>
      </section>
      
<!--  account start    -->
      <section class="accout_login">
      <div class="container">
        <div class="row">
            
			<?php if($this->session->userdata("user_id") == "") { ?>
          <div class="col-md-3 col-sm-6">
            <div class="start_acc">
              <h4>start an account now</h4>
              </div>
            </div>
               <div class="col-md-3 col-sm-6">
                   <div class="acc_btn">
                   <button class="btn btn_login" onclick="login_popup()">login</button>
                    <button class="btn btn_reg" onclick="register_popup()">register</button>
                   </div>
              </div> <?php } ?>
              
               <div class="col-md-6 col-sm-12">
                <div class="newsletter">
                       
                    <h3>get started</h3>
					<?php  echo form_open("",array('id'=>'subscribe'))?>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Email ID"  aria-describedby="basic-addon2" name="email">
						<div class="input-group-btn">
						  <button class="btn btn-default" type="submit">
							Subscribe
						  </button>
						</div>
					  </div>
           <!--   <div class="input-group">
              <input type="text" class="form-control" placeholder="Email ID" aria-describedby="basic-addon2" name="email">
              <!--<span class="input-group-addon" id="basic-addon2">Subscribe</span>
			  <button type="submit" class="" id="">Subscribe</button>
            </div>-->
			</form>
                   </div>
              </div>
              
            </div>
          </div>  
      </section>
<?php $this->load->view('front/footer');?>

<script src="<?php echo base_url(); ?>assets/js/home.js?<?php echo time(); ?>"></script>

<?php if($this->session->flashdata('error_w')) {  ?>

<script type="text/javascript">
		$("#msg").html("<?php echo $this->session->flashdata('error_w'); ?>");
		$('#error-modal').modal('show');	
</script>
<?php } ?>