<?php $this->load->view('front/header_inner'); ?>
<section class="profile_content">
<div class="container">
<br>
<div class="title_pro mar-bot-40">
                  <h3>Refer Friend</h3>
                </div>
			
<?php if($type == "broker") { ?>			
<div class="deposit_bg">

<h3>Please refer below link and get credits. </h3>
<p class="mar-top-20 text-center" style="color:#0553ab">Referral Link: <?php echo base_url().'bitunio/index/'.$profile->refer_id ."/".$profile->emanZrIeSsOu; ?></p>
</div>

<div class="profile_form">
<h4 class="mar-bot-30">Please refer Your friends and get credits. </h4>
<?php echo form_open('',array('name'=>'referral_form','id'=>'referral_form','class'=>"cm_frm1 row")); ?>

  
  
   <div class="form-group col-sm-6">
  <div class="">
  <div class="">
    <label for="">Friend Name</label>
    <input type="text" class="form-control"  id="friendname" name="friendname"  placeholder="" >
    </div>
    </div>
  </div>


  <div class="form-group">
  <div class="row">
  <div class="col-sm-6">
    <label for="">Friend Email Id:</label>
    <input type="text" class="form-control"  id="email" name="email" placeholder="">
    </div>
    </div>
  </div> 
  
  <div class="form-group col-sm-8">
  <div class="row">
  <div class="col-sm-12">
    <label for="">Referral Email Content:</label>
   <textarea  id="refermessage" name="refermessage"  class="form-control" rows="3" style="height:100px;"></textarea>
    </div>
    </div>
  </div>
  
  
  
  <div class="form-group">
  <div class="row">
  <div class="col-sm-8">
  <div class="alert alert-success" id="refer_success" style="display:none"></div>
		<div class="alert alert-danger" id="refer_error" style="display:none"></div>
   <!--<button type="submit" name="submit" value="1" class="profile_btn mar-bot-20 mar-top-20"> Send Referral Email </button> -->
   
   
   
    </div>
    </div>
	
  </div>
  <div class="form-group">
   <div class="row">
  <button id="withdraw_btn" class="cm_blubtn1" type="submit">Send Referral Email</button>
    </div>
	
    </div>
<?php echo form_close(); ?>

<h3>Referred Users</h3>
		  <div class="dep_tablesc dep_tableinrsc">
      <div id="flip-scroll" class="login_history cm_table1">
        <table class="table ex_history" id="table_list">
          <thead>
            <tr>
              <th>S. No.</th>
              <th>Username</th>
              <th>Email Id</th>
              <th>Date of Register</th>
              <!--<th>Date & Time</th>-->
            
            </tr>
          </thead>
          <tbody>
		 <?php $i=1; foreach($ref_friends as $ref_friends1) {  ?>
		  <tr>
		  <td><?php echo $i; ?></td>
		  <td><?php echo $ref_friends1->emanZrIeSsOu; ?></td>
		  <td><?php echo $this->user_model->get_email_admin($ref_friends1->DiZrIeSsOu); ?></td>
		  <td><?php echo $ref_friends1->dateofreg; ?></td>
		 
		  </tr>		  
		  <?php $i++; }  ?>
		  </tbody>
        </table>
      </div>
    </div>

   
 </div>
 <?php } else { ?>
 
 
 <div class="">
				  
					<?php echo form_open("",array('id'=>'verify_broker_form','class'=>'form-horizontal profile_form')); ?>
<div class="notice_title">
        <h4>notice</h4>
        <?php echo htmlspecialchars_decode($cms->pagecontent); ?>
		<?php  if($profile->bro_status != "Approved" && $profile->bro_status != "pending") { ?>
		<center>
		<input type="checkbox" name="agree_broker_terms" >    Agree our <a href="<?php echo base_url();  ?>broker_terms">Affiliate Terms & Conditions</a>
		 <br><label for="agree_broker_terms" class="error" style=""></label>
        </center>
		
        <button  type="submit" class="btn btn_submit">submit</button>
		
		<?php  } else {  ?><center><h3>Pending For Admin Approval</h3></center><?php } ?>
		<br>
		</form>
        </div>
 
 <?php } ?>
 
 </div>
</div>
  <?php $this->load->view('front/footer'); ?>

  <script src="<?php echo base_url(); ?>assets/js/refer.js?<?php echo time(); ?>"></script>
  
<script src="<?php echo base_url(); ?>assets/js/jquery.dataTables.min.js"></script>
<script src="<?php echo base_url(); ?>assets/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
$('#table_list').DataTable();
</script>