<?php 
$this->load->view('front/header_inner');
 ?>

<section class="depost_btc">
  <div class="container">
    <div class="inner_title">
      <h4>testimonials</h4>
    </div>
   <?php if($testi) { foreach($testi as $testi1) { ?>
  
      <div class="col-md-6 col-sm-6">
       <div class="testimonial_pro">
          <div class="test_img">
           <img src="<?php echo base_url(); ?>assets/uploads/testimonials/<?php echo $testi1->avatar; ?>" class="img-responsive">
           </div>
           <div class="test_cont">
           <h4>“ <?php echo $testi1->message; ?> “</h4>
               
            <h3> <?php echo $testi1->name; ?></h3>   
            <h5> <?php echo $testi1->designation; ?></h5>   
           </div>
          </div>
       
       </div>
      
       <?php } } else { ?>
	    <br><br><br><br><br>
  <center><img src="<?php echo base_url(); ?>assets/img/soon.png"></center>
  <br><br><br><br><br>
	   
	   <?php } ?>
	   </div>
</section>

<?php 
$this->load->view('front/footer');
 ?>
 
