<?php
if($trade_status == "enable")
{
$fiat_array=array('INR','AED');
$s_class=(in_array($sc,$fiat_array))?'number-2':'number-8';
$f_class='number-8';
$this->load->view('front/header_inner'); ?>
<section class="trade_cen mar-top-20 mar-bot-10">
<div class="container">
    <div class="currency_tab">
    <ul class="list-inline">
	<?php  
	
	     $this->db->where("status",'active');
	     $allpair=$this->db->get("egatnZeIcSrOeZpIeSeOf")->result();
	
   $uri2=$this->uri->segment("2");
   
   if($uri2 == ""){$uri2="BTC_INR";}
    foreach($allpair as $pair1){
	$active321=($pair1->from_currency.'_'.$pair1->to_currency == $uri2)?'active':'';
	echo "<li class='$active321'><a href=".base_url()."trade/".$pair1->from_currency.'_'.$pair1->to_currency.">".$pair1->from_currency.'/'.$pair1->to_currency."</a></li>";
	} ?>
	
	</ul>
    </div>
    </div>
</section>

<section class="graph_sec">
<div class="container">
<div id="chart_div"></div>
    <!--<div class="graph_unit mar-bot-30" id="chart_data">
        <img src="<?php echo base_url() ?>assets/img/graph.png" class="img-responsive">
    </div> -->
    <div class="row">
    <div class="col-md-8">
        
        <div class="row">
        <div class="col-md-6">
        <div class="title_trade">
        <h4>buy</h4>
        </div>
        
        <div class="balance_list">
        <div class="bal_qus">
            <h4>Your Balance</h4>
            <h4>Lowest Ask Price</h4>
            </div>
            
            <div class="bal_ans">
            <h4><span id="sc_balance"> </span> <?php echo $sc; ?></h4>
            <h4><span id="buy_rate"></span> <?php echo $sc; ?></h4>
            </div>
        </div>
        
        <div id="tab" class="btn-group trade_btn mar-top-10" data-toggle="tab">
			<ul class="nav nav-pills">
              <li class="active"><a href="#market" class="btn btn-large btn-info" data-toggle="tab">market</a></li>
              <li><a href="#limit" class="btn btn-large btn-info" data-toggle="tab">limit</a></li>
              <li><a href="#stop" class="btn btn-large btn-info" data-toggle="tab">stop</a></li>
			</ul>
            </div>
        
         <div class="tab-content mar-top-20">
              <div class="tab-pane active" id="market">
			  <?php echo form_open("",array('class'=>'','id'=>'buy_instant')); ?>
               <div class="tab_group_list">
                  <label class="tab_title">amount</label>
                  <div class="input-group">
                 <input onkeypress="return isNumberKey(event)" type="text" class="form-control <?php echo $f_class; ?>" name="amount" oninput="buy_l_input(this.value)" id="buy_instant_amnt"> 
                  <span class="input-group-addon" id="basic-addon2"><?php echo $fc; ?></span>
                </div> 
                  </div>
				  <input type="hidden" name="fee" value="<?php echo $fee; ?>">
					<input type="hidden" name="fc" value="<?php echo $fc; ?>">
					<input type="hidden" name="sc" value="<?php echo $sc; ?>">
					<input type="hidden" name="price" value="<?php echo $buy_price; ?>">
					<input type="hidden" name="order_type" value="instant">
					<input type="hidden" name="type" value="Buy">
              
                  
                <div class="fees_det mar-top-20">
                  <div class="fee_qus">
                    <h4>Fee	</h4>
                    <h4>Total (<?php echo $sc; ?>)</h4>  
                    </div>
					
					<div class="fee_ans">
                    <h4><?php echo $fee; ?> %</h4>
                    <h4><span id="buy_l_subtot">0.00</span></h4>
                     </div>
                  </div>  
                  <div class="clearfix"></div>
				  <span id="buy_instant_error" style="color:#f33;font-size: 15px;"></span>
                  <div class="button_final mar-top-20">
                  <button type="button" class="btn btn_btc" id="buy_instant_btn">buy <?php echo $fc; ?></button>
                  </div>
                  </form>
              </div>
             
			 <div class="tab-pane" id="limit">
			 <?php echo form_open("",array('class'=>'','id'=>'buy_limit')) ?>
               <div class="tab_group_list">
                  <label class="tab_title">amount</label>
                  <div class="input-group">
                  <input onkeypress="return isNumberKey(event)" type="text" class="form-control <?php echo $f_class; ?>" name="amount" id="buy_limit_amnt" oninput="buy_limit_input()">
				  
				  <input type="hidden" name="fee" value="<?php echo $fee; ?>">
					<input type="hidden" name="fc" value="<?php echo $fc; ?>">
					<input type="hidden" name="sc" value="<?php echo $sc; ?>">
					<input type="hidden" name="order_type" value="limit">
					<input type="hidden" name="type" value="Buy">
					
                  <span class="input-group-addon" id="basic-addon2"><?php echo $fc; ?></span>
                </div> 
                  </div>
                  
                  <div class="tab_group_list">
                  <label class="tab_title">price</label>
                  <div class="input-group">
                  <input type="text" onkeypress="return isNumberKey(event)" type="text" class="form-control <?php echo $s_class; ?>"  value="<?php echo $buy_price; ?>" name="price" id="buy_limit_price" oninput="buy_limit_input()">
                  <span class="input-group-addon" id="basic-addon2"><?php echo $sc; ?></span>
                </div> 
                  </div>
                  
                <div class="fees_det mar-top-20">
                  <div class="fee_qus">
                    <h4>Fee	</h4>
                    <h4>Total (<?php echo $sc; ?>)</h4>  
                    </div>
                
                    <div class="fee_ans">
                    <h4><?php echo $fee; ?> %</h4>
                    <h4><span id="buy_limit_subtot">0.00</span></h4>
                     </div>
                  </div>  
                  <div class="clearfix"></div>
				  <span id="buy_limit_error" style="color:#f33;font-size: 15px;"></span>
                  <div class="button_final mar-top-20">
                  <button id="buy_limit_btn" type="button" class="btn btn_btc">buy <?php echo $fc; ?></button>
                  </div>    
				  </form>
              </div>
           
		   <div class="tab-pane" id="stop">
		   <?php echo form_open("",array('class'=>'','id'=>'buy_stop')) ?>
               <div class="tab_group_list">
                  <label class="tab_title">amount</label>
                  <div class="input-group">
                 <input onkeypress="return isNumberKey(event)" type="text" class="form-control <?php echo $f_class; ?>" name="amount" id="buy_stop_amnt" oninput="buy_stop_input()">
				 
				 <input type="hidden" name="fee" value="<?php echo $fee; ?>">
					<input type="hidden" name="fc" value="<?php echo $fc; ?>">
					<input type="hidden" name="sc" value="<?php echo $sc; ?>">
					<input type="hidden" name="order_type" value="stop">
					<input type="hidden" name="type" value="Buy">
                  <span class="input-group-addon" id="basic-addon2"><?php echo $fc; ?></span>
                </div> 
                  </div>
                  
                  <div class="tab_group_list">
                  <label class="tab_title">price</label>
                  <div class="input-group">
                 <input onkeypress="return isNumberKey(event)" type="text" class="form-control <?php echo $s_class; ?>" name="price" id="buy_stop_price" oninput="buy_stop_input()">
                  <span class="input-group-addon" id="basic-addon2"><?php echo $sc; ?></span>
                </div> 
                  </div>
                  
                <div class="fees_det mar-top-20">
                  <div class="fee_qus">
                    <h4>Fee	</h4>
                    <h4>Total (<?php echo $sc; ?>)</h4>  
                    </div>
                
                    <div class="fee_ans">
                    <h4><?php echo $fee; ?> %</h4>
                    <h4><span id="buy_stop_subtot">0.00</span></h4>
                     </div>
                  </div>  
                  <div class="clearfix"></div>
				  <span id="buy_stop_error" style="color:#f33;font-size: 15px;"></span>
                  <div class="button_final mar-top-20">
                  <button type="button" class="btn btn_btc" id="buy_stop_btn">buy <?php echo $fc; ?></button>
                  </div>   
				  </form>
              </div>
              
            </div>
           
        </div>
        
        <div class="col-md-6 bor_lef">
        <div class="title_trade">
        <h4>sell</h4>
        </div>
        
        <div class="balance_list">
        <div class="bal_qus">
            <h4>Your Balance</h4>
            <h4>Highest Bid Price</h4>
            </div>
            
            <div class="bal_ans">
            <h4><span id="fc_balance"></span> <?php echo $fc; ?></h4>
            <h4><span id="sell_rate"></span> <?php echo $sc; ?></h4>
            </div>
        </div>
        
        <div id="tab" class="btn-group trade_btn mar-top-10" data-toggle="tab">
        
			<ul class="nav nav-pills">
              <li class="active"><a href="#sell_1" class="btn btn-large btn-info " data-toggle="tab">market</a></li>
              <li><a href="#sell_2" class="btn btn-large btn-info" data-toggle="tab">limit</a></li>
              <li><a href="#sell_3" class="btn btn-large btn-info" data-toggle="tab">stop</a></li>
			</ul>
            </div>
        
         <div class="tab-content mar-top-20">
              <div class="tab-pane active" id="sell_1">
			  <?php echo form_open("",array('class'=>'','id'=>'sell_instant')); ?>
               <div class="tab_group_list">
                  <label class="tab_title">amount</label>
                  <div class="input-group">
                 <input onkeypress="return isNumberKey(event)" type="text" class="form-control <?php echo $f_class; ?>" name="amount" oninput="sell_l_input(this.value)" id="sell_instant_amnt">
                  <span class="input-group-addon" id="basic-addon2"><?php echo $fc; ?></span>
                </div> 
                  </div>
				  <input type="hidden" name="fee" value="<?php echo $fee; ?>">
					<input type="hidden" name="fc" value="<?php echo $fc; ?>">
					<input type="hidden" name="sc" value="<?php echo $sc; ?>">
					<input type="hidden" name="price" value="<?php echo $sell_price; ?>">
					<input type="hidden" name="order_type" value="instant">
					<input type="hidden" name="type" value="Sell">
                  
              
                  
                <div class="fees_det mar-top-20">
                  <div class="fee_qus">
                    <h4>Fee	</h4>
                    <h4>Total (<?php echo $sc; ?>)</h4>  
                    </div>
                
                    <div class="fee_ans">
                    <h4><?php echo $fee; ?> %</h4>
                    <h4><span id="sell_l_subtot">0.00</span></h4>
                     </div>
                  </div>  
                  <div class="clearfix"></div>
				  <span id="sell_instant_error" style="color:#f33;font-size: 15px;"></span>
                  <div class="button_final mar-top-20">
                  <button  type="button" id="sell_instant_btn"  class="btn btn_sell">sell <?php echo $fc; ?></button>
                  </div>
				  </form>
                  
              </div>
              <div class="tab-pane" id="sell_2">
			  <?php echo form_open("",array('class'=>'','id'=>'sell_limit')) ?>
                   <div class="tab_group_list">
                  <label class="tab_title">amount</label>
                  <div class="input-group">
                  <input onkeypress="return isNumberKey(event)" type="text" class="form-control <?php echo $f_class; ?>" name="amount" id="sell_limit_amnt" oninput="sell_limit_input()">
				  <input type="hidden" name="fee" value="<?php echo $fee; ?>">
					<input type="hidden" name="fc" value="<?php echo $fc; ?>">
					<input type="hidden" name="sc" value="<?php echo $sc; ?>">
					<input type="hidden" name="order_type" value="limit">
					<input type="hidden" name="type" value="Sell">
                  <span class="input-group-addon" id="basic-addon2"><?php echo $fc; ?></span>
                </div> 
                  </div>
                  
                  <div class="tab_group_list">
                  <label class="tab_title">price</label>
                  <div class="input-group">
                  <input onkeypress="return isNumberKey(event)" type="text" class="form-control <?php echo $s_class; ?>" value="<?php echo $sell_price; ?>" name="price" id="sell_limit_price" oninput="sell_limit_input()">
                  <span class="input-group-addon" id="basic-addon2"><?php echo $sc; ?></span>
                </div> 
                  </div>
                  
                <div class="fees_det mar-top-20">
                  <div class="fee_qus">
                    <h4>Fee	</h4>
                    <h4>Total (<?php echo $sc; ?>)</h4>  
                    </div>
                
                    <div class="fee_ans">
                    <h4><?php echo $fee; ?> %</h4>
                    <h4><span id="sell_limit_subtot">0.00</span></h4>
                     </div>
                  </div>  
                  <div class="clearfix"></div>
				  <span id="sell_limit_error" style="color:#f33;font-size: 15px;"></span>
                  <div class="button_final mar-top-20">
                  <button class="btn btn_sell" type="button" id="sell_limit_btn">sell <?php echo $fc; ?></button>
                  </div>
				  </form>
              </div>
              <div class="tab-pane" id="sell_3">
			  <?php echo form_open("",array('class'=>'','id'=>'sell_stop')) ?>
                <div class="tab_group_list">
                  <label class="tab_title">amount</label>
                  <div class="input-group">
               <input  onkeypress="return isNumberKey(event)" type="text" class="form-control <?php echo $f_class; ?>" name="amount" id="sell_stop_amnt" oninput="sell_stop_input()">
			   
			   <input type="hidden" name="fee" value="<?php echo $fee; ?>">
					<input type="hidden" name="fc" value="<?php echo $fc; ?>">
					<input type="hidden" name="sc" value="<?php echo $sc; ?>">
					<input type="hidden" name="order_type" value="stop">
					<input type="hidden" name="type" value="Sell">
					
                  <span class="input-group-addon" id="basic-addon2"><?php echo $fc; ?></span>
                </div> 
                  </div>
                  
                  <div class="tab_group_list">
                  <label class="tab_title">price</label>
                  <div class="input-group">
                  <input onkeypress="return isNumberKey(event)" type="text" class="form-control <?php echo $s_class; ?>" name="price" id="sell_stop_price" oninput="sell_stop_input()">
                  <span class="input-group-addon" id="basic-addon2"><?php echo $sc; ?></span>
                </div> 
                  </div>
                  
                <div class="fees_det mar-top-20">
                  <div class="fee_qus">
                    <h4>Fee	</h4>
                    <h4>Total (<?php echo $sc; ?>)</h4>  
                    </div>
                
                    <div class="fee_ans">
                    <h4><?php echo $fee; ?> %</h4>
                    <h4><span id="sell_stop_subtot">0.00</span></h4>
                     </div>
                  </div>  
                  <div class="clearfix"></div>
				  <span id="sell_stop_error" style="color:#f33;font-size: 15px;"></span>
                  <div class="button_final mar-top-20">
                  <button type="button" id="sell_stop_btn" class="btn btn_sell">sell <?php echo $fc; ?></button>
                  </div>  
				  </form>
              </div>
              
            </div>
        </div>
        </div>
        
        <div class="row mar-top-40">
        <div class="col-md-6">
         <div class="title_trade">
        <h4>sell order</h4>
        </div>
        <div class="table_order">
        <table class="table" id="<?php echo $fc; ?>_<?php echo $sc; ?>_sell_orders">
          <thead>
            <tr>
              <th>Price</th>
              <th><?php echo $fc; ?></th>
              <th><?php echo $sc; ?></th>
            </tr>
          </thead>
		  <tbody class="sell_order"></tbody>
         
        </table>
        </div>
        </div>
        
        
        <div class="col-md-6 bor_lef">
         <div class="title_trade">
        <h4>buy order</h4>
        </div>
        <div class="table_order">
        <table class="table" id="<?php echo $fc; ?>_<?php echo $sc; ?>_buy_orders">
          <thead>
            <tr>
              <th>Price</th>
              <th><?php echo $fc; ?></th>
              <th><?php echo $sc; ?></th>
            </tr>
          </thead>
		  <tbody>
		  </tbody>
         
        </table>
        </div>
        </div>
             </div>
        
        </div>
    
        
        
    <div class="col-md-4 bor_lef pr-0">
        <div class="title_trade">
        <h4>trade history</h4>
        </div>
        <div class="history_tab flip-scroll">
        <table class="table" id="<?php echo $fc; ?>_<?php echo $sc; ?>_history_orders">
          <thead>
            <tr>
              <th>Price</th>
              <th><?php echo $fc; ?></th>
              <th>Total</th>
              <th>Date & Time</th>
            </tr>
          </thead>
          <tbody class="trade_history_scroll"> 
		  </tbody>
        </table>
        </div>
        </div>    
    </div>
    </div>
</section>

<section class="order_sec">
<div class="container">
    <div class="row">
    <div id="tab" class="btn-group trade_btn mar-top-10" data-toggle="tab">
              <ul class="nav nav-pills">
			  <li class="active"><a href="#active_ord" class="btn btn-large btn-info" data-toggle="tab">active order</a></li>
              <li><a href="#stop_ord" class="btn btn-large btn-info" data-toggle="tab">stop order</a></li>  
            </ul>
			</div>
        
         <div class="tab-content mar-top-20">
              <div class="tab-pane active" id="active_ord">
            <div class="orders_table">
            <table class="table" id="<?php echo $fc; ?>_<?php echo $sc; ?>_history_active_orders">
          <thead>
            <tr>
              <th>Date & Time	</th>
              <th>  Type</th>
              <th> Amount	(<?php echo $fc; ?>)</th>
                <th> Price(<?php echo $sc; ?>)</th>
                <th> Pair</th>
                <th>  Fees(<?php echo $sc; ?>)</th>
				<th> Total(<?php echo $sc; ?>)</th>
                <th>	Action</th>
            </tr>
          </thead>
          <tbody>
		  </tbody>
        </table>  
                  </div>   
                  
              </div>
              <div class="tab-pane" id="stop_ord">
                   <div class="orders_table">
                <table class="table" id="<?php echo $fc; ?>_<?php echo $sc; ?>_stop_orders">
          <thead>
            <tr>
              <th>Date & Time	</th>
              <th>  Type</th>
              <th> Amount(<?php echo $fc; ?>)</th>
                <th> Stop Price(<?php echo $sc; ?>)</th> 
                
                <th> Pair</th>
                <th>  Fees(<?php echo $sc; ?>)</th>
				<th> Total(<?php echo $sc; ?>)</th>
                <th>	Action</th>
            </tr>
          </thead>
          <tbody>
		  </tbody>
        </table>  
         </div>
              </div>

              
            </div>
    
    </div>
    </div>
</section>

<script>
	var comm="<?php echo $fee; ?>";
	var instant_sell_price="<?php echo $sell_price; ?>";
	var instant_buy_price="<?php echo $buy_price; ?>";
	var firstCurrency="<?php echo $fc; ?>";
	var secondCurrency="<?php echo $sc; ?>";
</script>
<?php $this->load->view('front/footer'); ?>
<script>
function isNumberKey(evt)
{
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 46 || charCode > 57))
        return false;
    return true;
}
</script>
    <!-- custom scrollbar stylesheet -->
	
	<script src="<?php echo base_url(); ?>assets/js/trade.js?<?php echo time(); ?>"></script>
	
	<script src="<?php echo base_url(); ?>assets/js/highstock.js"></script>
	
	<link rel="stylesheet" href="<?php echo base_url(); ?>assets/css/jquery.mCustomScrollbar.css">
	<script src="<?php echo base_url(); ?>assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script>

(function($){
			$(window).on("load",function(){

        var width = $(window).width();
    
        if(width>500){
      //    big screen //1282
        $(".trade_history_scroll,.sell_order,.buy_order,.order_table_scroll").mCustomScrollbar({
                          scrollButtons:{
                            enable:false
                          },

                      scrollbarPosition: 'inside',
                      autoExpandScrollbar:true, 
                      theme: 'dark',
                       axis:"y",
                          setWidth: "auto"
            });
          				
        }else{
    $(".trade_history_scroll,.sell_order,.buy_order,.order_table_scroll").mCustomScrollbar({
                          scrollButtons:{
                            enable:false
                          },

                      scrollbarPosition: 'inside',
                      autoExpandScrollbar:true, 
                      theme: 'dark',
                       axis:"x",
                          setWidth: "auto"
            });
       
        }
			});
		})(jQuery);
</script>

<?php } else  { 
$this->load->view('front/header_inner');  ?>

<section class="trade_cen mar-top-20 mar-bot-10">
<div class="container">
<br><br><br><br><br><br><br>
<center>
	<h1>Coming Soon</h1>
	<p>We are updating some wonderful things waiting for the Upgrade</p>
	</center>
	<br><br><br>
</div>
</section>
<?php $this->load->view('front/footer'); ?>
<?php }  ?>
