<?php $this->load->view('front/header_inner'); ?>

<section class="personal_info">
                <div class="title_pro mar-bot-40">
                  <h3>VERIFY ACCOUNT : <span><?php if($verification->verification_status != "") { 
					if($verification->verification_status != "Approved") { 
					
					if($verification->verification_status == "pending")
					{
				  echo "<span style='color:orange'>Pending</span>";
					}
					else if($verification->verification_status == "Rejected")
					{
				  echo "<span style='color:red'>Rejected</span>";
					}
					else 
					{
					echo "<span style='color:orange'>".$verification->verification_status."</span>";
					}


				  } else { echo "<span style='color:green'>Verified</span>"; } } else { echo "<span style='color:red'>unverified</span>"; }?></span></h3>
                </div>
				<?php if($verification->verification_status != "Approved" && $verification->verification_status != "pending") { ?>
                <div class="container">
                  <div class="row">
				  
					<?php echo form_open("",array('id'=>'verify_form','class'=>'form-horizontal profile_form')); ?>
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label class="col-md-4">Your Name</label>
                          <div class="col-md-8">
                            <div class="form_inp">
                              <input class="form-control" placeholder="Your Name" type="text" name="name" value="<?php echo $verification->fname; ?>">
                            </div>
                          </div>
                        </div>
                        <!--<div class="form-group">
                          <label class="col-md-4">ID Document Number</label>
                          <div class="col-md-8">
                            <div class="form_inp">
                              <input class="form-control" placeholder="Account Name" type="text">
                            </div>
                          </div>
                        </div>-->
                      </div>
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label class="col-md-4">Pan Card Number</label>
                          <div class="col-md-8">
                            <div class="form_inp">
                              <input class="form-control" placeholder="Pan Card Number" type="text" name="id_number" value="<?php echo $verification->Identity_card_no; ?>">
                            </div>
                          </div>
                        </div>
                      </div>
                        
                        
                       <!--  <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label class="col-md-4">Account Number</label>
                          <div class="col-md-8">
                            <div class="form_inp">
                              <input class="form-control" placeholder="Account Number" type="text">
                            </div>
                          </div>
                        </div>
                      </div> 
                        
                        
                        <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label class="col-md-4">Swift / IBAN / IFSC Code</label>
                          <div class="col-md-8">
                            <div class="form_inp">
                              <input class="form-control" placeholder="Swift / IBAN / IFSC Code" type="text">
                            </div>
                          </div>
                        </div>
                      </div>-->
                        
                        
                   
</div>     
                </div>
              </section>

<section class="bank_proof">
<div class="container">
    
                    <div class="row">
                <div class="proof clearfix">
                    <div class="col-md-4 col-sm-4">
                    <div class="accoun_info">
                        <h4>Pan card proof</h4>
                        </div>
                        <div class="file_upload no-js">
                            <div class="content">
                        <div class="box">
					<input type="file" name="document1" id="file-6" class="inputfile inputfile-5" />
					<label for="file-6"><div>
					<?php if($verification->document1 ==  "") { ?>
                    <img src="<?php echo base_url(); ?>assets/img/verify_id.png" class="img-responsive">
					<?php } else 
					{ ?>
					 <img src="<?php echo base_url(); ?>assets/uploads/verification/<?php echo $verification->document1; ?>" class="img-responsive">
					<?php } ?>					
                        </div> <span></span></label>
				</div>
                               
                </div>
                        </div>
                        <div class="upload_format">
                <p>Upload formats are: jpeg, jpg, png, gif</p> 
                </div> 
                    </div>
                    
                     <div class="col-md-4 col-sm-4">
                    <div class="accoun_info no-js">
                        <h4>Photo ID Proof</h4>
                        </div>
                        <div class="file_upload no-js">
                            <div class="content">
                        <div class="box">
					<input type="file" name="document2" id="file-7" class="inputfile inputfile-5"/>
					<label for="file-7"><div>
					<?php if($verification->document2 ==  "") { ?>
                    <img src="<?php echo base_url(); ?>assets/img/verify_id.png" class="img-responsive">
					<?php } else 
					{ ?>
					 <img src="<?php echo base_url(); ?>assets/uploads/verification/<?php echo $verification->document2; ?>" class="img-responsive">
					<?php } ?>	   
                        </div><span></span></label>
				</div>                
                </div>
                </div>
             <div class="upload_format">
                <p>Upload formats are: jpeg, jpg, png, gif</p> 
                </div>              
                    </div>
                    
                    
                     <div class="col-md-4 col-sm-4">
                    <div class="accoun_info no-js">
                        <h4>Address Proof</h4>
                        </div>
                        <div class="file_upload no-js">
                            <div class="content">
                        <div class="box">
					<input type="file" name="document3" id="file-8" class="inputfile inputfile-5"/>
					<label for="file-8"><div>
                   <?php if($verification->document3 ==  "") { ?>
                    <img src="<?php echo base_url(); ?>assets/img/verify_id.png" class="img-responsive">
					<?php } else 
					{ ?>
					 <img src="<?php echo base_url(); ?>assets/uploads/verification/<?php echo $verification->document3; ?>" class="img-responsive">
					<?php } ?>	 
                        </div> <span></span></label>
				</div>
                                 
                                	</div>
                        </div>
                         <div class="upload_format">
                <p>Upload formats are: jpeg, jpg, png, gif</p> 
                </div> 
                    </div>
                    </div>    
                    </div> 
    </div>
</section>

<?php } ?>



<section class="notict">
<?php if($verification->verification_status != "Approved") { ?>
<div class="container">
    <div class="row">
	<?php } else { ?> <div class="">
    <div class=""><?php } ?>
    <div class="notice_title">
        <h4>notice</h4>
		<?php echo $cms->pagecontent; ?>
		<?php if($verification->verification_status != "Approved" && $verification->verification_status != "pending") { ?>
        <button  type="submit" class="btn btn_submit">submit</button>
		<?php } ?>
		<br>
		</form>
        </div>
    </div>
    </div>
</section>
<br>
<br>
<br>

<?php $this->load->view('front/footer'); ?>

<script src="<?php echo base_url(); ?>assets/js/verification.js?<?php echo time(); ?>"></script>

<script src="<?php echo base_url(); ?>assets/js/custom-file-input.js"></script>
