<?php $this->load->view("admin/header"); ?>
    <div id="wrapper">
        <?php $this->load->view("admin/sidebar"); ?>
        
        <!--END CHAT FORM--><!--BEGIN PAGE WRAPPER-->
        <div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
            <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
            <div class="page-header pull-left">
            <div class="page-title">Add Category</div>
            </div>
            <ol class="breadcrumb page-breadcrumb pull-right">
            <li><i class="fa fa-home"></i>&nbsp;<a href="<?php echo base_url(); ?>AOdSmIiZn">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li><li class="active">Add Category</li>
                </ol>
                <div class="clearfix"></div>
				
            </div>
			
            <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
            <div class="page-content">
			
                <div class="row">
				
                    <div class="col-lg-12">
			
			  <div class="panel panel-blue">
                                            <div class="panel-heading">Category</div>
                                            <div class="panel-body pan">
	<?php $attributes=array('class'=>'form form-horizontal','id'=>'editadmin');
	echo  form_open('AOdSmIiZn/add_category_updte',$attributes); ?>                 
	<div class="form-wizard">
	
	
	<div class="">
	<br>
	<div class="tab-pane active" id="tab1">
  
	

	

	<input type="hidden" name="cat_id" value="<?php echo $each_curr[0]->cat_id;?>">
	<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">Category Name <span class="require">*</span></label>

                                                            <div class="col-md-6">
		<input type="text" class="form-control exchange_rate" minlength="3" maxlength="40" name="category" value="<?php echo $each_curr[0]->category;?>"  required/> 
		</div>
	</div>

	
	
	
	
	
	<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">Status<span class="require">*</span></label>

                                                            <div class="col-md-6">
		    <select name="status" class="form-control" required>
		    	<option value="active" <?php if($each_curr[0]->status=='active'){ echo 'selected'; }?>>Active</option>
		    	<option value="inactive" <?php if($each_curr[0]->status=='inactive'){ echo 'selected'; }?>>Inactive</option>
		    </select>
		</div>
	</div>

	

	</div>
	
	<div class="form-actions">
                                                        <div class="col-md-offset-3 col-md-9">
	<input type="submit" id="" name="submit" class="btn btn-success" value="Save" />
<div id="errorDiv1" class="error-div" style="float:left"></div>
</a>
</div>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
<?php $this->load->view('admin/footer'); ?>