<?php 
	$add1 = 1; $edit1 = 1; $view1 = 1; $dele1 = 1;
?>
<?php $this->load->view("admin/header"); ?>
    <div id="wrapper">
        <?php $this->load->view("admin/sidebar"); ?>
        
        <!--END CHAT FORM--><!--BEGIN PAGE WRAPPER-->
        <div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
            <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                <div class="page-header pull-left">
                    <div class="page-title">User Tickets</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a href="<?php echo base_url(); ?>AOdSmIiZn">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li><li class="active">User Tickets</li>
                </ol>
                <div class="clearfix"></div>
				
            </div>
			
            <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
            <div class="page-content">
			
                <div class="row">
				
                    <div class="col-lg-12">
					<div class="panel panel-green">
                    <div class="panel-heading">List Of Tickets</div>
                    <div class="panel-body">
                    <div class="table-responsive">
 

<?php 
	$success=$this->session->flashdata('success');									
	if($success)	{	?> 
	<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong>Success! </strong> <?php echo $success;?>.
	</div><?php } ?> 
     
 </p>



<div class="widget">

 <!-- BEGIN ADVANCED TABLE widget-->
<div class="row-fluid">
  

	<?php  $error=$this->session->flashdata('error');										
										if($error)	{	?> 
									 <div class="alert alert-error">
										<button type="button" class="close" data-dismiss="alert">&times;</button>
										<strong>  </strong><?php echo $error;?>.
									</div>
	<div class="span12">								<?php }?>  		
 <?php if(isset($view)) { ?>
	<h4><?php //echo anchor('admin/add_adminuser','Customer Details'); ?></h4>
		<?php  if(isset($notfound)) { ?>
	   <div class="alert">
			<button class="close" data-dismiss="alert">×</button>
			<strong>Sorry! </strong> <?php echo $notfound; ?>
	   </div>
<?php } 
else {  ?> 				
	
<!-- BEGIN EXAMPLE TABLE widget-->
<div class="widget">
<div class="widget-title">
	<h4><i class="icon-reorder"></i>List of  Tickets </h4>
	<span class="tools">
		<a href="javascript:;" class="icon-chevron-down"></a>
	   <!-- <a href="javascript:;" class="icon-remove"></a>-->
	</span>
</div>
<div class="widget-body">
	<table class="table table-striped table-bordered" id="example">
	<thead>
		<tr>
			<th>TicketId</th>
			<th>TicketDate</th>
			<th>Email</th>
			<th>Name</th>
			<th>Message</th>
			<th>Status</th>
			<th>Options</th>
		</tr>
	</thead>
   <tbody>
	<?php 
	$i=0;
if($result){
	foreach($result as $row)
	{
		$user_id = $row->user_id;  
		$where2 = "user_id=".$user_id; 
   	//	$username = $this->user_model->get_data('userdetails',$where2,'','','','','row','','username');  
	  $ticketuser = $row->username;
	echo "<tr>";
	$l=" ";
	echo "<td>".($i+1)."</td>";
	echo "<td>".$row->created_date."</td>";
	echo "<td>".$row->email."</td>";
	echo "<td>".$row->name."</td>";
	echo "<td>".substr($row->message,0,10)."</td>";
	echo "<td>".$row->status."</td>";
echo "<td>&nbsp;&nbsp;";
	if($view1==1){
		echo anchor('AOdSmIiZn/view_ticket_detail/'.$row->id,$l,$delete=array('title'=>"View Ticket",'class'=>"glyphicon glyphicon-eye-open"));
	}
	?>
	&nbsp;
	<?php
	if($dele1==1){
		echo anchor('AOdSmIiZn/delete_ticket/'.$row->id,$l,$delete=array('title'=>"Delete",'class'=>"glyphicon glyphicon-remove",'onclick'=>"return confirm('Do you want to delete this ticket ?');"));
	 } 
	 echo "</td>";

echo "</tr>";			
	
$i++;
	}
		
	}?>											
  </tbody>
</table>

				<?php echo form_close(); ?>
				</div>
			</div>
			<!-- END EXAMPLE TABLE widget-->
		</div>
		<?php
		}
		}
	 if(isset($replyview)) { ?> 
	
	   <div class="row-fluid">
               <div class="span12">
                  <div class="widget box blue" id="form_wizard_1">
	 <div class="widget-title">
                        <h4>
                           <i class="icon-reorder"></i>Reply Ticket
                        </h4>
                        <span class="tools">
                           <a href="javascript:;" class="icon-chevron-down"></a>
                          <!-- <a href="javascript:;" class="icon-remove"></a>-->
                        </span>
              </div>
		 <div class="widget-body form">	  
	   <?php $attributes=array('class'=>'form form-horizontal','id'=>'addadmin');
	   echo  form_open_multipart('admin/sendmail',$attributes); ?>   
	 	 <div class="form-wizard">
			  <div class="navbar steps">
				 <div class="navbar-inner">
					<ul class="row-fluid">
					   <li class="span3">
						  <a href="#tab1" data-toggle="tab" class="step active">
						  <span class="number">1</span>
						  <span class="desc"><i class="icon-ok"></i>Reply Ticket</span>
						  </a>
					   </li>
					</ul>
				 </div>
			  </div>
			  <div id="bar" class="progress progress-striped">
				 <div class="bar"></div>
			  </div>
	<div class="tab-content">
	<div class="tab-pane active" id="tab1">
	<div class="control-group">
	<label class="control-label">TO:</label>
	<div class="controls">
	<input type="text" class="input req-email span8" minlength="3" maxlength="40" name="tomail" value="<?php echo $email_id;?>"  />
	</div>
	</div>
	<div class="control-group">
	<label class="control-label">Subject</label>
	<div class="controls">
	<input type="text" class="input req-string span8" name="subject" value=""  />
	</div>
	</div>
	<div class="control-group">
	<label class="control-label">Message:</label>
	<div class="controls">
	<textarea name="message" class="input req-string span8" style="width:500px;height:200px;"></textarea>
	</div>
	</div>
	</div>
	</div>
<div class="form-actions clearfix">
  <input type="submit" id="addbutton" name="submit" class="btn btn-success" value="Save" />
  <div id="errorDiv1" class="error-div" style="float:left"></div>
 <Submit <i class="icon-ok"></i>
 </a>
</div>
</div>
<?php echo form_close();?>
</div>
</div>
</div>
</div>
</div>
<?php
}
			
	 if(isset($detailview)) { ?> 
	
	   <div class="row-fluid">
               <div class="span12">
                  <div class="widget box blue" id="form_wizard_1">
	 <div class="widget-title">
                        <h4>
                           <i class="icon-reorder"></i>View Ticket Details
                        </h4>
                       
              </div>
		 <div class="">	  
	   <?php //$attributes=array('class'=>'form form-horizontal','id'=>'editadmin');
	   //echo  form_open_multipart('admin/reply_ticket',$attributes); ?>   
	 <!--<input type="hidden" name="id" value="<?php // echo $id;?>">  -->                 
		 <div class="form-wizard">
			 
			 

<div class="tab-content">
<?php if($result) { ?>
                <?php
foreach($result as $gkques)
{
    $g_id           =   $gkques->id;
    // $ques_question  =   $gkques->subject;
     $ques_answer  =   $gkques->message;
     $name  =   $gkques->name;
     $attachment=   $gkques->file;
     $user_id = $gkques->user_id;  
	
		//$username = "ADMIN";
     $username = $name;  
	
?>

<input type="hidden" name="user_id" value="<?php echo $user_id; ?>">
<div class="bs-callout bs-callout-warning">
	      <h4><?php echo $username?></h4>
	      <hr>
	      <p>#<?php echo  $g_id?></p>
          <p><?php echo  $ques_answer?></p>
		<?php /*if($attachment!='empty') { ?>
		<a download="" href="<?php echo base_url(); ?>uploads/<?php echo $attachment; ?>" class="btn btn-small btn-primary"><i class='icon-eye-open'></i> Download Attachment</a>
			 <?php //echo anchor('admin/ticketAttachment/'.$attachment,'Attachment'); ?>
		<?php } */?>	
</div>
 <?php } }else { echo "No records found at the moment."; } ?>

  </div>
  
  
<!--<div class="form-actions clearfix">
<?php // echo anchor('admin/reply_ticket','REPLY',array('class'=>'btn btn-success')); ?>
 </div>-->
<hr />  
<?php echo form_open('', array('method'=>'POST')); ?>
<input type="hidden" name="username" value="<?php echo $username; ?>">
<p><textarea class="span12" cols="100" rows="10" name="message" value="<?php echo set_value('message'); ?>"></textarea></p>
<div style="color:#F33"> <?php echo form_error('message'); ?> </div>
<p><button class="btn btn-warning btn-large" type="submit" name="post_ticket_reply"  value="post_ticket_reply">Reply</button></p>
<?php echo form_close(); ?>
 </a>
</div>
</div>
</form>
</div>
</div>
</div>

</div>
<?php
}
?>			
</div>
</div>
</div>
</div>
</div>
</div>
	
<?php $this->load->view('admin/footer'); ?>	
		
		
