<?php $this->load->view("admin/header"); ?>
    <div id="wrapper">
        <?php $this->load->view("admin/sidebar"); ?>
        
        <!--END CHAT FORM--><!--BEGIN PAGE WRAPPER-->
        <div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
            <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                <div class="page-header pull-left">
                    <div class="page-title">Manage Email Templates</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a href="<?php echo base_url(); ?>AOdSmIiZn">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li><li class="active">Manage Email Templates</li>
                </ol>
                <div class="clearfix"></div>
				
            </div>
			
            <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
            <div class="page-content">
			
                <div class="row">
				
                    <div class="col-lg-12">
					<div class="panel panel-green">
                    <div class="panel-heading">Manage Email Templates</div>
                    <div class="panel-body">
                    <div class="table-responsive">						
 <?php if(isset($view)) { ?>
<!-- BEGIN EXAMPLE TABLE widget-->
<div class="widget">
<div class="widget-title">
	<h4><i class="icon-reorder"></i>
<?php echo $this->lang->line(''); ?></h4>
	<span class="tools">
		<a href="javascript:;" class="icon-chevron-down"></a>
	   <!-- <a href="javascript:;" class="icon-remove"></a>-->
	</span>
</div>
<div class="widget-body">
	<table class="table table-striped table-bordered" id="example">
	<thead>
		<tr>
			<th class="hidden-phone"><?php echo $this->lang->line(''); ?>Template Title</th>
			<!--<th style='text-align:center'>Description</th>
			<th style='text-align:center' class="hidden-phone">Status</th>-->
			<th ><?php echo $this->lang->line(''); ?>Options</th>
		</tr>
	</thead>
<tbody>
																				
	<?php 				
										foreach($result as $record)
										{
										echo "<tr>";$l=" ";	
		
										 echo "<td>".$record->title."</td>";
	echo "<td>".anchor('AOdSmIiZn/edit_emailtemplates/'.$record->id,$l,$attr=array('title'=>"Edit",'class'=>"glyphicon glyphicon-edit"))
 ."</td>";
	echo "</tr>";
	}
	?>	
   </tbody>
</table>

		</form>
		</div>
	</div>
	<!-- END EXAMPLE TABLE widget-->

<?php
}
	 if(isset($edit)) { ?> 
	
	
		
	   <?php $attributes=array('class'=>'','id'=>'');
	   echo  form_open_multipart('AOdSmIiZn/edit_email_template',$attributes); ?>   
	  <input type="hidden" name="id" value="<?php echo $id; ?>">                   
		 <div class="form-wizard">
			  
			 
			  <div class="tab-content">
				 <div class="tab-pane active" id="tab1">
					<div class="form-group">
					   <label class="control-label"><?php echo $this->lang->line(''); ?>Title</label>
					   <div class="controls">
						  <input type="text" class="form-control" name="templatetitle" value="<?php echo $templatetitle; ?>"  />
						  <?php if(form_error('pagetitle')) {?><br><font color="#CC0000"><?php echo form_error('pagetitle'); ?></font><?php } ?>
					   </div>
					</div>
					 <div class="form-group">
					 <label class=""><?php echo $this->lang->line(''); ?>Subject</label>
					   <div class="controls">
					<input class="form-control" id="tooltipInput" type="text" name="subject" title="Page Display Title" value="<?php echo $subject; ?>"/>	</div>
					<?php if(form_error('description')) {?><br><font color="#CC0000"><?php echo form_error('description'); ?></font><?php } ?>
			</div> 
			<!-- <div class="control-group">
					 <label class="control-label">Page Display Title</label>
					   <div class="controls">
					<input class="input req-string" id="tooltipInput" type="text" name="displaytitle" title="Page Display Title" value="<?php echo $displaytitle; ?>"/>	</div>
			</div> -->
		<div class="form-group">
		<label class="control-label"><?php echo $this->lang->line(''); ?>Message</label>
					<div class="controls">
					<textarea name="message" id="ckeditor_full" cols="30" rows="10" class="ckeditor form-control"><?php echo $message;?></textarea>
				</div>
			</div>  		
		
 </div>
<div class="form-actions clearfix">
  <input type="submit" id="submitBtn1" name="submit" class="btn btn-success" value="Save" />
  <div id="errorDiv1" class="error-div" style="float:left"></div>
 <Submit <i class="icon-ok"></i>
 </a>
</div>
</div>
</form>
</div>
</div>
</div>


<?php
}
?>	</div></div>		  
	
</div>
</div>



<?php $this->load->view('admin/footer'); ?>	