<?php $this->load->view("admin/header"); ?>
<div id="wrapper">
<?php $this->load->view("admin/sidebar"); ?>
<div id="page-wrapper">
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
<div class="page-header pull-left">
<div class="page-title">Bank List </div>
</div>
<ol class="breadcrumb page-breadcrumb pull-right">
<li><i class="fa fa-home"></i>&nbsp;<a href="<?php echo base_url(); ?>AOdSmIiZn">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li><li class="active">Bank List</li>
</ol>
<div class="clearfix"></div>
</div>
<div class="page-content">
<div class="row">
<div class="col-lg-12">
<div class="panel panel-green">
<div class="panel-heading">Bank List</div>
<div class="panel-body">
<div class="table-responsive">
<?php
$success=$this->session->flashdata('success');
if($success)	{ ?> 
<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong><?php echo $this->lang->line(''); ?>Success! </strong> <?php echo $success;?>.
	</div><?php } ?>  
	<?php
	$error=$this->session->flashdata('error');
	if($error)
	{ ?>
	<div class="alert alert-danger">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong>Oh! </strong><?php echo $error;?>.
	</div>
	<?php } ?>		
	<table class="table table-striped table-bordered" id="example">
		<thead>
		<tr>
			<th>ID</th>
			<th>Bank Name</th>	
			<th>Currency</th>
			<th>Action</th>
		</tr>
		</thead>
		<tbody>	
	    <?php 
	    $i=1;
	    
	    foreach ($banklist as $eachtras) {
	    	if($eachtras->status=='active'){ $sts = '<span class="green">Active</span>';}else{ $sts='<span class="but_in">Inactive'; }
	    	if($eachtras->type=='real'){ $sts1 = '<span class="grey">Real</span>';}else{ $sts1='<span class="gold">Crypto</span>'; }?>
	     <tr>
			<td><?php echo $i; ?></td>	
			<td><?php echo $eachtras->bank_name; ?></td>	
			<td><?php echo $eachtras->currency; ?></td>
			<td><?php echo anchor('AOdSmIiZn/bankdetail/'.$eachtras->acc_id,'<i class="glyphicon glyphicon-edit"></i>'); ?>
				<?php //echo anchor('admin/delcurrencypair/'.$eachtras->percen_id,'<i class="icon-remove"></i>',
				         // array('title'=>"Delete",'onclick'=>"return confirm('Do you want to delete this Currency Pair?');")); ?></td>
		</tr><?php $i++;
	    }?>
	</tbody>
	</table>
	</form>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
		
<?php $this->load->view('admin/footer'); ?>	