<?php $this->load->view("admin/header"); ?>
    <div id="wrapper">
        <?php $this->load->view("admin/sidebar"); ?>
        
        <!--END CHAT FORM--><!--BEGIN PAGE WRAPPER-->
        <div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
            <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                <div class="page-header pull-left">
                    <div class="page-title">Bank Details</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a href="<?php echo base_url(); ?>AOdSmIiZn">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li><li class="active">Bank Details</li>
                </ol>
                <div class="clearfix"></div>
				
            </div>
			
            <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
            <div class="page-content">
			
                <div class="row">
				
                    <div class="col-lg-12">
			
			  <div class="panel panel-blue">
                                            <div class="panel-heading">Bank Details</div>
                                            <div class="panel-body pan">
											<br>
											<?php 
	$success=$this->session->flashdata('success');									
	if($success)	{	?> 
	<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong><?php echo $this->lang->line(''); ?>Success! </strong> <?php echo $success;?>.
	</div><?php }?>  
	<?php  $error=$this->session->flashdata('error');										
	if($error)	{	?> 
	<div class="alert alert-danger">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong>Oh! </strong><?php echo $error;?>.
	</div>
	<div class="span12">								<?php } ?>  		
	


	
	
	<?php $attributes=array('class'=>'form form-horizontal','id'=>'editadmin');
	echo  form_open('AOdSmIiZn/edit_bankdetail',$attributes); ?>                  
	<div class="form-wizard">
	
	<div class="form-group">
	<label class="col-md-2 control-label" for="inputUsername">Currency <span class="require">*</span></label>
	<div class="col-md-6">
	<input type="text" class="form-control" minlength="3" maxlength="40" value="<?php echo $currency; ?>" required />
	</div>
	</div>
	
	<div class="form-group">
	<label class="col-md-2 control-label" for="inputUsername">Account Holder <span class="require">*</span></label>
	<div class="col-md-6">
	<input type="text" class="form-control" minlength="3" maxlength="40" name="account_owner" value="<?php echo $account_owner;?>" required />
		<input type="hidden" name="acc_id" value="<?php echo $this->uri->segment(3); ?>" />
	</div>
	<?php if(form_error('account_owner')) {?><font color="#CC0000"><?php echo form_error('account_owner'); ?></font><?php } ?>
	</div>

	<div class="form-group">
	<label class="col-md-2 control-label" for="inputUsername">Account Number<span class="require">*</span></label>
	
	<div class="col-md-6">
	
	<input type="text" class="form-control" minlength="3" maxlength="40" name="acc_number" value="<?php echo $acc_number;?>" required  /></div>
	<?php if(form_error('acc_number')) {?><br><font color="#CC0000"><?php echo form_error('acc_number'); ?></font><?php } ?>
	
	</div>

	
	<div class="form-group">
	<label class="col-md-2 control-label" for="inputUsername"><?php echo ($currency == "INR")?'IFSC':'IBAN';?> <span class="require">*</span></label>
	<div class="col-md-6">
	<input type="text" class="form-control" minlength="3" maxlength="40" name="iban" value="<?php echo $iban;?>"   required /></div>
	<?php if(form_error('iban')) {?><br><font color="#CC0000"><?php echo form_error('iban'); ?></font><?php } ?>
	</div>
	<div class="form-group">
	<label class="col-md-2 control-label" for="inputUsername">Messages <span class="require">*</span></label>
	<div class="col-md-6">
	<input type="text" class="form-control" minlength="40"  name="message" value="<?php echo $message;?>" required />
	</div>
	<?php if(form_error('message')) {?><br><font color="#CC0000"><?php echo form_error('message'); ?></font><?php } ?>
	</div>

	<div class="form-group">
	<label class="col-md-2 control-label" for="inputUsername">Bank Name <span class="require">*</span></label>
	<div class="col-md-6">
	<input type="text" class="form-control" minlength="3" maxlength="40" name="bank_name" value="<?php echo $bank_name;?>" required  />
	</div>
	<?php if(form_error('bank_name')) {?><br><font color="#CC0000"><?php echo form_error('bank_name'); ?></font><?php } ?>
	</div>


	<!--<div class="form-group">
	<label class="col-md-2 control-label" for="inputUsername">Bank Address<span class="require">*</span></label>
	<div class="col-md-6">

		<textarea class="form-control" minlength="3" maxlength="40" name="bank_address" style="width: 400px; height: 150px;"><?php echo $bank_address;?></textarea>
	</div>
	<?php if(form_error('bank_address')) {?><br><font color="#CC0000"><?php echo form_error('bank_address'); ?></font><?php } ?>
	</div> -->
	
	<div class="form-group">
	<label class="col-md-2 control-label" for="inputUsername">Bank Country<span class="require">*</span></label>
	<div class="col-md-6">
	<input type="text" class="form-control" minlength="3" maxlength="40" name="bank_country" value="<?php echo $bank_country;?>" required  />
	</div>
	<?php if(form_error('bank_country')) {?><br><font color="#CC0000"><?php echo form_error('bank_country'); ?></font><?php } ?>
	</div>

		<!--<div class="form-group">
	<label class="col-md-2 control-label" for="inputUsername">Bank City<span class="require">*</span></label>
	<div class="col-md-6">
	<input type="text" class="form-control" minlength="3" maxlength="40" name="bank_city" value="<?php echo $bank_city;?>"  />
	</div>
	<?php if(form_error('bank_city')) {?><br><font color="#CC0000"><?php echo form_error('bank_city'); ?></font><?php } ?>
	</div>


	

	<div class="form-group">
	<label class="col-md-2 control-label" for="inputUsername">BIC<span class="require">*</span></label>
	<div class="col-md-6">
	<input type="text" class="form-control" minlength="3" maxlength="40" name="BIC" value="<?php echo $BIC;?>"  />
	</div>
	<?php if(form_error('BIC')) {?><br><font color="#CC0000"><?php echo form_error('BIC'); ?></font><?php } ?>
	</div> -->

	</div>
	<div class="form-actions">
                                                        <div class="col-md-offset-3 col-md-9">
	<input type="submit" id="" name="submit" class="btn btn-success" value="Save" />
	<div id="errorDiv1" class="error-div" style="float:left"></div>
	<Submit <i class="icon-ok"></i>
	</a>
	</div>
	</div>
	</form>
	</div>
	</div>
	
			
	</div>
	

	


	
	<?php $this->load->view('admin/footer'); ?>	
