<?php $this->load->view("admin/header"); ?>
    <div id="wrapper">
        <?php $this->load->view("admin/sidebar"); ?>
        
        <!--END CHAT FORM--><!--BEGIN PAGE WRAPPER-->
        <div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
            <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                <div class="page-header pull-left">
                    <div class="page-title">Bank Verification</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a href="<?php echo base_url(); ?>AOdSmIiZn">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li><li class="active">Bank Verification</li>
                </ol>
                <div class="clearfix"></div>				
            </div>
			
            <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
            <div class="page-content">
			
                <div class="row">
				
                    <div class="col-lg-12">
					<div class="panel panel-green">
                    <div class="panel-heading">Bank Verification</div>
                    <div class="panel-body">
                    <div class="table-responsive">
	
		<?php if(isset($view)) { ?>


  <!-- BEGIN EXAMPLE TABLE widget-->
  <div class="widget">
 
  <div class="widget-body">
    <?php 
	$success=$this->session->flashdata('success');
	if($success)	{ ?> 
	<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong>Success! </strong> <?php echo $success;?>.
	</div><?php } ?> 
  <table class="table table-striped table-bordered" id="example">
  <thead>
  <tr>
  <th >S.No</th>
  <th>Created On</th>
  <th>Client Id</th>
  <th>Holder Name</th>
  <th>Account Number</th>
  <th>Branch</th>
  <th>Code</th>
  <th>Status</th>
  <th>Verify By</th>	
  <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <?php
  if($result) {
	  $i=1;
	  foreach($result as $value)
	  {
	  ?>
	<tr>
	<td><?php echo $i; ?></td>
	<td><?php echo $value->create_date; ?></td>
	<td><?php echo client_id($value->DiZrIeSsOu); ?></td>
	<td><?php echo $value->account_holder; ?></td>
	<td><?php echo $value->account_number; ?></td>
	<td><?php echo $value->bank_address; ?></td>
	<td><?php echo $value->iban_code; ?></td>
	<td><?php echo $value->status; ?></td>
	<td><?php echo $value->verify_by; ?></td>
	<td><a href="<?php echo base_url(); ?>AOdSmIiZn/bank_verification_view/<?php echo $value->bank_id; ?>" class="glyphicon glyphicon-eye-open"></a>
	</td>
	
	</tr>  
	  
<?php
$i++;
  }
  }
  }
  ?>
  </tbody>
  </table>
  
 <?php   if(isset($display)) {   ?> 

  <?php 
  $success=$this->session->flashdata('success');                  
  if($success)  { ?> 
  <div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>  </strong> <?php echo $success;?>.
  </div><?php }?>  
  <?php  $error=$this->session->flashdata('error');                   
  if($error)  { ?> 
  <div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>  </strong><?php echo $error;?>.
  </div>
  <?php }?>
  <div class="row-fluid">
               <div class="span12">
                  <div class="widget">
                        <div class="widget-title">
                           <h4><i class="icon-user"></i></h4>
                           <span class="tools">
                           <a href="javascript:;" class="icon-chevron-down"></a>
                           <a href="javascript:;" class="icon-remove"></a>
                           </span>                    
                        </div>
                        <div class="widget-body">
                         
                                                        <div class="span6">
                                <h4>Bank Verification Details</h4>

                                
                                <table class="table table-borderless">
                                    <tbody>
                                     <tr>
                                        <td class="span2"> Account Holder Name :</td>
                                        <td>
                                         <?php echo $row->account_holder; ?>
										 </td>
                                    </tr>
									
									<tr>
                                        <td class="span2"> Bank Name :</td>
                                        <td>
                                         <?php echo $row->bank_name; ?>
										 </td>
                                    </tr>
									
									<tr>
                                        <td class="span2">Account Number :</td>
                                        <td>
                                          <?php echo $row->account_number; ?> 
                                        </td>
                                    </tr>
									<tr>
									<td class="span2">Account Type :</td>
                                        <td>
                                          <?php echo $row->account_type; ?> 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="span2">Request Date :</td>
                                        <td> <?php echo $row->create_date; ?></td>
                                    </tr>
									 
									
									<tr>
                                        <td class="span2">Branch :</td>
                                        <td><?php echo $row->bank_address; ?>
										</td>
                                    </tr>
									<tr>
                                        <td class="span2">User comments :</td>
                                        <td><?php echo ($row->bank_comments != "")?$row->bank_comments:'---'; ?>
										</td>
                                    </tr>
                                    <tr>
                                        <td class="span2">IBAN Code:</td>
                                        <td><?php echo $row->iban_code; ?>  </td>
                                    </tr> 
									<?php if($row->document != "") { ?>
									<tr>
                                        <td class="span2">Passbook:</td>
                                        <td><a target="_blank" href="<?php echo base_url(); ?>assets/uploads/verification/<?php echo $row->document; ?>"><img src="<?php echo base_url(); ?>assets/uploads/verification/<?php echo $row->document; ?>"  height="50"></a></td>
                                    </tr> <?php } ?>
									
									<tr>
                                        <td class="span2">Status :</td>
                                        <td>
                                           <?php echo $row->status; ?> 
                                        </td>
                                    </tr>
									</tbody>
                                </table>
                               
                            </div>
							<div class="space5"></div>
                        </div>
                  </div>
            
            
		<?php if($row->status == "pending") { ?>
		<a onclick="return confirm('Are you sure want to Approved?')" href="<?php echo base_url(); ?>AOdSmIiZn/bank_confirm/<?php echo $row->bank_id; ?>/verified/<?php echo $row->user_id; ?>">	<input type="button" value="Approved" class="btn btn-success"></a>
			<!--  href="<?php echo base_url(); ?>AOdSmIiZn/bank_confirm/<?php echo $row->bank_id; ?>/rejected/<?php echo $row->user_id; ?>"--> 
				<a href="#myModal"  data-toggle="modal"   >	
			<input type="button" value="Reject" class="btn btn-danger"></a>
		<?php } else { ?>
		
		<a href="<?php echo base_url(); ?>AOdSmIiZn/bank_verification">	
			<input type="button" value="Back" class="btn btn-success"></a>
		<?php } ?>
  <?php   }  ?>
  
  
  </div>
  </div>
  <!-- END EXAMPLE TABLE widget-->
  </div>
 
	

				
				</div>
			</div>
			<!-- END EXAMPLE TABLE widget-->
		</div>
		
	
</div>
</div>

<div id="myModal" class="modal fade" style="display: none; ">
                                        <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Reason to reject</h4>
        </div>
        <div class="modal-body"> 
                                             <?php echo form_open('AOdSmIiZn/bank_confirm/'.$row->bank_id.'/rejected/'.$row->DiZrIeSsOu); ?>
<span><?php echo 'Reason to reject'; ?></span>
<textarea name="mail_content" class="form-control errortest" required ></textarea>
<br><button type="submit" class="btn btn-small btn-danger rejece" id="reject_button" ><?php echo 'REJECT'; ?></button>
<?php echo form_close(); ?>
                                            </div>
                                        </div>
                                       
                                      </div>
                                      </div>


 

	
<?php $this->load->view('admin/footer'); ?>	

<!--<script>
$('.rejece').click(function(){ 
	var test = $('.errortest').val(); 
	if(test==''){ $('.errortest').css('border','1px solid red'); return false; }else{ $("#reject_button").attr('disabled',true); return true; } });
</script>-->
