<?php $this->load->view("admin/header"); ?>
    <div id="wrapper">
        <?php $this->load->view("admin/sidebar"); ?>        
        <!--END CHAT FORM--><!--BEGIN PAGE WRAPPER-->
        <div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
            <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                <div class="page-header pull-left">
                    <div class="page-title">Currency Details</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a href="<?php echo base_url(); ?>AOdSmIiZn">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li><li class="active">Currency Details</li>
                </ol>
                <div class="clearfix"></div>
				
            </div>
			
            <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
            <div class="page-content">
			
                <div class="row">
				
                    <div class="col-lg-12">
			
			  <div class="panel panel-blue">
                                            <div class="panel-heading">Currency Details</div>
                                            <div class="panel-body pan">
											<br>
  
<?php 
	 $success=$this->session->flashdata('success');									
		if($success)	{	?> 
		<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong><?php echo $this->lang->line('Success'); ?>! </strong> <?php echo $success;?>.
	</div><?php }?>  
	<?php  $error=$this->session->flashdata('error');										
										if($error)	{	?> 
									 <div class="alert alert-error">
										<button type="button" class="close" data-dismiss="alert">&times;</button>
										<strong>Oh! </strong><?php echo $error;?>.
									</div>
									<?php }?>  		
	   <div class="row-fluid">
               <div class="span12">
                  <div class="widget box blue" id="form_wizard_1">
	 
		 <div class="widget-body form">	  

	   <?php $attributes=array('class'=>'form form-horizontal','id'=>'');
	   echo  form_open_multipart('AOdSmIiZn/currency_submit',$attributes); ?> 
         
		 <input type="hidden" name="id" value="<?php echo $this->uri->segment(3); ?>">
		 <div class="form-wizard">
			
		
			  <br />
			  <div class="">
				 <div class="tab-pane active" id="tab1">
					
					
					<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">Currency Name <span class="require">*</span></label>

                                                            <div class="col-md-6">
					   	
					 
					   	
					   <input type="text" id="currency_name" name="currency_name" class="form-control" 
					   value="<?php echo $row->currency_name; ?>" readonly />
						</div>
					</div>
				
				<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">Currency Symbol <span class="require">*</span></label>

                                                            <div class="col-md-6">
					   	
					   <input type="text" id="currency_symbol" name="currency_symbol" class="form-control" 
					   value="<?php echo $row->currency_symbol; ?>" readonly />
						</div>
					</div>
					
		<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">Reserve amount <span class="require">*</span></label>
		<div class="col-md-6">
		<input type="text" id="currency_symbol" name="reserve_amount" class="form-control" 
					   value="<?php echo $row->reserve_amount; ?>" <?php if($row->currency_symbol == "INR" || $row->currency_symbol == "AED") { ?> <?php } else { ?> readonly <?php } ?>/>
		</div>
		</div>
		
			<?php  $selected3 =($srow->fee_type=='percentage')?"selected='selected'":'';
				       $selected4 =($row->flat=='inactive')?"selected='selected'":'';

				?>	
		
		
		<!--<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">Withdraw Type <span class="require">*</span></label>
			<div class="col-md-6">
				
					<select <?php echo ($row->currency_symbol!='INR')?'disabled':''; ?> class="form-control"  name="fee_type" id="fee_type"   >
					<option value="percentage" <?php echo $selected3; ?>>Percentage</option>
					<option value="flat" <?php echo  $selected4; ?>>Flat</option>
					</select>
					
						</div>
					</div> -->
			
			<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">Withdraw Fee <span class="require">*</span></label>
			<div class="col-md-6">
			<input type="text" id="with_fee" name="with_fee" class="form-control" 
					   value="<?php echo $row->with_fee; ?>" required />
						</div>
					</div>
			
			<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">Deposit Fee <span class="require">*</span></label>
			<div class="col-md-6">
					   
					   <input <?php if($row->currency_symbol =='INR' || $row->currency_symbol =='AUD'){ ?>type="text" min=1<?php } else { ?>type="text"<?php } ?> id="dep_fee" name="dep_fee" class="form-control" 
					   value="<?php echo $row->dep_fee; ?>" required />
						</div>
					</div>

					<?php  $selected =($srow->status=='active')?"selected='selected'":'';
				       $selected1 =($row->status=='inactive')?"selected='selected'":'';
				?>	
				
				
			<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">Status <span class="require">*</span></label>
			<div class="col-md-6">
				<select class="form-control"  name="status" id="status">
				
				<option value="active" <?php echo $selected; ?>>Active</option>
				<option value="inactive" <?php echo  $selected1; ?>>Inactive</option>
				</select>
					</div>
					</div>
						
			
						
		
 </div>
<div class="form-actions">
                                                        <div class="col-md-offset-3 col-md-9">
  <input type="submit" id="submitBtn1" name="submit" class="btn btn-success" value="Save" /></div>
  <div id="errorDiv1" class="error-div" style="float:left"></div>
 <Submit <i class="icon-ok"></i>
 </a>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
	
</div>
</div>
</div>

<?php $this->load->view('admin/footer'); ?>	


		
		 
