
<?php
$urii=$this->uri->segment('3'); 
foreach ($_GET as $key => $value) {
 	$rest = $key; 
 } 

$faqid = $each_pay->faqid;
if($rest=='' || $rest=='english')
{
  $language = $rest;
  $pagetitle = $each_pay->question;
  $pagecontent = $each_pay->answer;
}
?>
 <?php $this->load->view("admin/header"); ?>
    <div id="wrapper">
        <?php $this->load->view("admin/sidebar"); ?>
        
        <!--END CHAT FORM--><!--BEGIN PAGE WRAPPER-->
        <div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
            <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                <div class="page-header pull-left">
                    <div class="page-title"><?php echo ($urii != "")?'Edit':'Add'; ?> FAQ</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a href="<?php echo base_url(); ?>AOdSmIiZn">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li><li class="active"><?php echo ($urii != "")?'Edit':'Add'; ?> FAQ</li>
                </ol>
                <div class="clearfix"></div>
				
            </div>
			
            <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
            <div class="page-content">
			
                <div class="row">
				
                    <div class="col-lg-12">
			
			  <div class="panel panel-blue">
                                            <div class="panel-heading"><?php echo ($urii != "")?'Edit':'Add'; ?> FAQ</div>
                                            <div class="panel-body pan">
											<br>

	   <?php $attributes=array('class'=>'','id'=>'editcms');
	   echo  form_open_multipart('AOdSmIiZn/faq_submit',$attributes); ?> 
         
		 <div class="form-wizard">
		
			  <div class="tab-content">
				 <div class="tab-pane active" id="tab1">
					
					
					<div class="form-group">
					   <label class=""><?php echo $this->lang->line(''); ?>Question </label>
					   <div class="controls">
					   	<input type="hidden" name="language" value="<?php echo $rest; ?>" />
					   	<input type="hidden" name="faqid" value="<?php echo $faqid; ?>" />	
					   	
					   <input type="text" id="pagetitle" name="pagetitle" class="form-control" 
					   value="<?php echo $pagetitle; ?>" required />
						</div>
					</div>
			
				<div class="form-group">
		<label class=""><?php echo $this->lang->line(''); ?>Answer</label>
					
					<textarea name="pagecontent" id="ckeditor_full" cols="30" rows="10" class="ckeditor form-control"><?php echo $pagecontent;?></textarea>
			
			</div>  			
		
 </div>
<div class="form-actions clearfix">
  <input type="submit" id="submitBtn1" name="submit" class="btn btn-success" value="Save" />
  <div id="errorDiv1" class="error-div" style="float:left"></div>
 <Submit <i class="icon-ok"></i>
 </a>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
	
</div>

	
<?php $this->load->view('admin/footer'); ?>

		
		 