
<?php
foreach ($_GET as $key => $value) {
 	$rest = $key; 
 } 

$pageid = $each_pay->pageid;
if($rest=='' || $rest=='english')
{
  $language = $rest;
  $pagetitle = $each_pay->pagetitle;
  $pagecontent = $each_pay->pagecontent;
}
else if($rest=='chinese_sym')
{
  $language = $rest;
  $pagetitle = $each_pay->pagetitle_chinese_sym;
  $pagecontent = $each_pay->pagecontent_chinese_sym;
}
?>
<?php $this->load->view("admin/header"); ?>
    <div id="wrapper">
        <?php $this->load->view("admin/sidebar"); ?>
        
        <!--END CHAT FORM--><!--BEGIN PAGE WRAPPER-->
        <div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
            <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                <div class="page-header pull-left">
                    <div class="page-title">Edit Page</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a href="<?php echo base_url(); ?>AOdSmIiZn">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li><li class="active">Edit Page</li>
                </ol>
                <div class="clearfix"></div>				
            </div>
			
            <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
            <div class="page-content">
			
                <div class="row">
				
                    <div class="col-lg-12">
			
			  <div class="panel panel-blue">
                                            <div class="panel-heading">Edit Page</div>
                                            <div class="panel-body pan">
											<br>

	   <h4>Edit Pages</h4>
	   <?php $attributes=array('class'=>'','id'=>'editcms');
	   echo  form_open_multipart('AOdSmIiZn/page_submit',$attributes); ?> 
         
		 <div class="">
			  
		  
			  <br/>
			  <div class="tab-content">
				 <div class="tab-pane active" id="tab1">
					<div class="form-group">
					   <label class=""><?php echo $this->lang->line(''); ?>Page Title</label>
					  
					   	<input type="hidden" name="language" value="<?php echo $rest; ?>" />
					   	<input type="hidden" name="pageid" value="<?php echo $pageid; ?>" />	
					   	
					   <input type="text" id="pagetitle" name="pagetitle" class="form-control" 
					   value="<?php echo $pagetitle; ?>" />
			
					</div>
			
				<div class="form-group">
		<label class=""><?php echo $this->lang->line(''); ?>Content</label>
					<div class="controls">
					<textarea name="pagecontent" id="ckeditor_full" cols="30" rows="10"  class="ckeditor form-control"><?php echo $pagecontent;?></textarea>
				</div>
			</div>  			
		
 </div>
<div class="form-actions clearfix">
  <input type="submit" id="submitBtn1" name="submit" class="btn btn-success" value="<?php echo $this->lang->line(''); ?>Save" />
  <div id="errorDiv1" class="error-div" style="float:left"></div>
 <Submit <i class="icon-ok"></i>
 </a>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
	
</div>
</div>
</div>

<?php $this->load->view('admin/footer'); ?>	
		