

<?php
$uri2=$this->uri->segment(3);
foreach ($_GET as $key => $value) {
 	$rest = $key; 
 } 
 
$faqid = $each_pay->news_id;
if($rest=='' || $rest=='english')
{
  $language = $rest;
  $pagetitle = $each_pay->heading;
  $pagecontent = $each_pay->description;
  $img = $each_pay->img;
  $cat_id = $each_pay->cat_id;
}

?>
<?php $this->load->view("admin/header"); ?>
    <div id="wrapper">
        <?php $this->load->view("admin/sidebar"); ?>
        
        <!--END CHAT FORM--><!--BEGIN PAGE WRAPPER-->
        <div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
            <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                <div class="page-header pull-left">
                    <div class="page-title"><?php if($uri2)echo "Edit";else echo "Add"; ?> Blogs</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a href="<?php echo base_url(); ?>AOdSmIiZn">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li><li class="active"><?php if($uri2)echo "Edit";else echo "Add"; ?> Blogs</li>
                </ol>
                <div class="clearfix"></div>
				
            </div>
			
            <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
            <div class="page-content">
			
                <div class="row">
				
                    <div class="col-lg-12">
			
			  <div class="panel panel-blue">
                                            <div class="panel-heading"><?php if($uri2)echo "Edit";else echo "Add"; ?> Blogs</div>
                                            <div class="panel-body pan">
											<br>
	   <?php $attributes=array('class'=>'','id'=>'editcms');
	   echo  form_open_multipart('AOdSmIiZn/news_submit',$attributes); ?> 
         
		 <div class="form-wizard">
			
		  
			  <br />
			  <div class="tab-content">
				 <div class="tab-pane active" id="tab1">
					
					<div class="form-group">
					   <label class="">Category </label>
					   <div class="controls">
					   	<select name="cat_id" class="form-control" required >
						<?php foreach($category as $category1) { ?>
						<option value="<?php echo $category1->cat_id; ?>" <?php if($cat_id == $category1->cat_id) { echo "selected"; } ?>><?php echo $category1->category; ?></option>
						<?php } ?>
						</select>						
									
						</div>
					</div>
					
					<div class="form-group">
					   <label class=""><?php echo $this->lang->line(''); ?>Heading </label>
					   <div class="controls">
					   	<input type="hidden" name="language" value="<?php echo $rest; ?>" />
					   	<input type="hidden" name="faqid" value="<?php echo $faqid; ?>" />	
					   	
					   <input type="text" id="pagetitle" name="pagetitle" class="form-control" 
					   value="<?php echo $pagetitle; ?>" required />
						</div>
					</div>
					
					<div class="form-group">
					   <label class="">Image </label>
					   <div class="controls">
					   	<input type="file" name="img">				
									<?php if($img != "") { ?>
									<img src="<?php echo base_url(); ?>assets/uploads/blog_cat/<?php echo $img; ?>" height="50">
									<?php }  ?>
									<input type="hidden" value="<?php echo $img; ?>" name="old_img">
						</div>
					</div>
					
			
				<div class="form-group">
		<label class=""><?php echo $this->lang->line(''); ?>Description</label>
					
					<textarea name="pagecontent" id="ckeditor_full" cols="30" rows="10" class="ckeditor form-control"><?php echo $pagecontent;?></textarea>
			
			</div>  			
		
 </div>
<div class="form-actions clearfix">
  <input type="submit" id="submitBtn1" name="submit" class="btn btn-success" value="Save" />
  <div id="errorDiv1" class="error-div" style="float:left"></div>
 <Submit <i class="icon-ok"></i>
 </a>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
	
</div>
</div>
</div>
	
<?php $this->load->view('admin/footer'); ?>	
		
		 