<?php $this->load->view("admin/header"); ?>
    <div id="wrapper">
        <?php $this->load->view("admin/sidebar"); ?>
        
        <!--END CHAT FORM--><!--BEGIN PAGE WRAPPER-->
        <div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
            <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                <div class="page-header pull-left">
                    <div class="page-title">Exchange Pair </div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a href="<?php echo base_url(); ?>AOdSmIiZn">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li><li class="active">Exchange Pair </li>
                </ol>
                <div class="clearfix"></div>
				
            </div>
			
            <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
            <div class="page-content">
			
                <div class="row">
				
                    <div class="col-lg-12">
					<div class="panel panel-green">
                    <div class="panel-heading">Exchange Pair </div>
                    <div class="panel-body">
                    <div class="table-responsive">
	<?php 
	 $success=$this->session->flashdata('success');									
		if($success)	{	?> 
		<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong><?php echo $this->lang->line(''); ?>Success! </strong> <?php echo $success;?>.
	</div><?php } ?>  
	<?php  $error=$this->session->flashdata('error');										
										if($error)	{ ?> 
									 <div class="alert alert-danger">
										<button type="button" class="close" data-dismiss="alert">&times;</button>
										<strong>Oh! </strong><?php echo $error;?>.
									</div>
										<?php } ?>		

										
	<table class="table table-striped table-bordered" id="example">
		<thead>
		<tr>
			<th>ID</th>
			<th>Pair</th>			
			
			
			<th>Exchange Fee%</th>
			<th>Less amount</th>			
			<th>Min amount</th>			
			<th>Max amount</th>			
			<!--<th>Status</th>-->
			<th>Action</th>
		</tr>
		</thead>
		<tbody>	
	    <?php 
	    $i=1;
	    
	    foreach ($exchangepairlist as $eachtras) {
	    	if($eachtras->status=='active'){ $sts = '<span class="green">Active</span>';}else{ $sts='<span class="but_in">Inactive'; }
	    	if($eachtras->type=='real'){ $sts1 = '<span class="grey">Real</span>';}else{ $sts1='<span class="gold">Crypto</span>'; }?>
	     <tr>
			<td><?php echo $i; ?></td>	
			<td><?php echo substr($eachtras->pair,0,3) ."/" . substr($eachtras->pair,4) ; ?></td>			
			
			<td><?php echo $eachtras->ex_fee; ?></td>
			<td><?php echo $eachtras->less_amount; ?></td>
			<td><?php echo $eachtras->min_amnt; ?></td>
			<td><?php echo $eachtras->max_amnt; ?></td>
			
			<!--<td><?php echo $sts; ?></td>-->
			<td><?php echo anchor('AOdSmIiZn/edit_exchangepair/'.$eachtras->ex_id,'<i class="glyphicon glyphicon-edit"></i>'); ?>
				<?php //echo anchor('admin/delcurrencypair/'.$eachtras->percen_id,'<i class="icon-remove"></i>',
				         // array('title'=>"Delete",'onclick'=>"return confirm('Do you want to delete this Currency Pair?');")); ?></td>
		</tr><?php $i++;
	    }?>
		

		</tbody>
	</table>

				</form>
				</div>
			</div>
			<!-- END EXAMPLE TABLE widget-->
		</div>
		
	
</div>
</div>
</div>
		
<?php $this->load->view('admin/footer'); ?>	
		
