

<div id="footer">
                <div class="copyright"><?php echo date('Y'); ?> ©Bitunio - Responsive Admin Template</div>
            </div>
           </div>
       </div>
<?php $uri=$this->uri->segment(2); ?> 
<script src="<?php echo base_url(); ?>assets_admin/js/jquery-1.10.2.min.js"></script>
<script src="<?php echo base_url(); ?>assets_admin/js/jquery-migrate-1.2.1.min.js"></script>
<script src="<?php echo base_url(); ?>assets_admin/vendors/bootstrap/js/bootstrap.min.js"></script>
<script src="<?php echo base_url(); ?>assets_admin/vendors/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js">
</script>
<script src="<?php echo base_url(); ?>assets_admin/vendors/metisMenu/jquery.metisMenu.js"></script>
<script src="<?php echo base_url(); ?>assets_admin/vendors/slimScroll/jquery.slimscroll.js"></script>
<script src="<?php echo base_url(); ?>assets_admin/js/jquery.menu.js"></script>
<script src="<?php echo base_url(); ?>assets_admin/vendors/responsive-tabs/responsive-tabs.js"></script>



<!--<script src="<?php echo base_url(); ?>assets_admin/js/tables.js"></script> -->
  <!--<link href="<?php echo base_url(); ?>assets_admin/vendors/datatables/dataTables.bootstrap.css" rel="stylesheet" media="screen">  -->
    <script src="<?php echo base_url(); ?>assets_admin/js/jquery-ui.js"></script>
	<!--<script src="<?php echo base_url(); ?>assets_admin/vendors/datatables/js/jquery.dataTables.min.js"></script>
    <script src="<?php echo base_url(); ?>assets_admin/vendors/datatables/dataTables.bootstrap.js"></script> -->
	<?php if($uri == "editfaq_before" || $uri == "editpage_before" || $uri == "editnews_before" || $uri == "edit_emailtemplate" || $uri == "news_letter") { ?>
	<script src="<?php echo base_url(); ?>assets_admin/vendors/ckeditor/ckeditor.js"></script>
	
    <script src="<?php echo base_url(); ?>assets_admin/vendors/ckeditor/adapters/jquery.js"></script>
	<?php } ?>

	
	<link href="<?php echo base_url(); ?>assets/css/jquery.dataTables.min.css" rel="stylesheet" media="screen">  
	  <link href="<?php echo base_url(); ?>assets/css/buttons.dataTables.min.css" rel="stylesheet" media="screen">
	
	<script src="<?php echo base_url(); ?>assets/js/pdfmake.min.js"></script>
	<script src="<?php echo base_url(); ?>assets/js/vfs_fonts.js"></script>
	<script src="<?php echo base_url(); ?>assets/js/jszip.min.js"></script>
	<script src="<?php echo base_url(); ?>assets/js/jquery.dataTables.min.js"></script>
    <script src="<?php echo base_url(); ?>assets/js/dataTables.buttons.min.js"></script> 
	<script src="<?php echo base_url(); ?>assets/js/buttons.html5.min.js"></script>
	<script>
	$(document).ready(function() {
    $('#example').DataTable({
        dom: 'Bfrtip',
        buttons: ['csv','pdf','excel']
    });
} );
	</script>
	
	<?php if($this->session->userdata('loggeduser') != "") { ?>
	<script>
	var base_url="<?php echo base_url(); ?>";
	</script>
<script src="<?php echo base_url(); ?>assets_admin/js/lga.js?<?php echo time(); ?>"></script>

<?php } ?>
<script src="<?php echo base_url(); ?>assets/js/wow.min.js"></script>
<script>
 new WOW().init();
jQuery(window).load(function() { 
 jQuery("#status").fadeOut();
 jQuery("#preloader").delay(500).fadeOut("slow");
})
</script>

	<script src="<?php echo base_url(); ?>assets_admin/js/main.js"></script>
	
	
	
	
</body>
</html>