<div id="footer">
                <div class="copyright">2017 ©Bitunio - Responsive Admin Template</div>
            </div>
           </div>
       </div>
<?php $uri=$this->uri->segment(2); ?>
<script src="<?php echo base_url(); ?>assets_admin/js/jquery-1.10.2.min.js"></script>
<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" media="screen">  
	  <link href="https://cdn.datatables.net/buttons/1.4.1/css/buttons.dataTables.min.css" rel="stylesheet" media="screen">
  
	
	<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.1/js/dataTables.buttons.min.js"></script> 
	<script src="//cdn.datatables.net/buttons/1.4.1/js/buttons.html5.min.js"></script>
	
	<script>
	$(document).ready(function() {
    $('#example123').DataTable( {
        dom: 'Bfrtip',
        buttons: ['csv']
    } );
} );
	</script>
	
	
</body>
</html>