<?php  $ad_id = $this->session->userdata('id');
$admin_details = $this->admin_model->getsubadmin_details($ad_id);
$permisssion = explode(',',$admin_details[0]->permission);
?>
<?php $this->load->view("admin/header"); ?>
    <div id="wrapper">
        <?php $this->load->view("admin/sidebar"); ?>
        
		<?php 
		
$year=date('Y');    
$projectscnt=$this->admin_model->getProjectsCount($year);   

    $total=date('m');  
    for($i=1;$i<=$total;$i++)
    {
        $month=date("M", mktime(0, 0, 0, $i, 10));  
        $j[$i]="'$month'";  
    }                   
    $res=implode(',',$j);   

    if($projectscnt)    
    {   
        foreach($projectscnt as $cnt1)
        {
            
            $count1[$cnt1->month]   =   $cnt1->cnt;
            //$month[$cnt1->month]    =   $cnt1->start_on;
            @list($modified_year,$modified_month)=   $cnt1->start_on;
             $month1[$cnt1->month]  =   date("M", mktime(0, 0, 0, $modified_month, 10));    
        }
    }
    for($j=1;$j<=$total;$j++)
    {
        if(isset($month1[$j])==$j)
        {
    @   $ans1[$j]=round($count1[$j],2);
        }
        else
        {
            $ans1[$j]=0;
        }       
        if($ans1[$j]=='')
        {
            $ans1[$j]=0;
        }
    }
    $projectscnt=implode(",",$ans1); 
    
	
	
	$projectscnt1=$this->admin_model->getProjectsCount1($year);   

    $total=date('m');  
    for($i=1;$i<=$total;$i++)
    {
        $month=date("M", mktime(0, 0, 0, $i, 10));  
        $j[$i]="'$month'";  
    }                   
    $res=implode(',',$j);   

    if($projectscnt1)    
    {   
        foreach($projectscnt1 as $cnt1)
        {
            
            $count1[$cnt1->month]   =   $cnt1->cnt;
            //$month[$cnt1->month]    =   $cnt1->start_on;
            @list($modified_year,$modified_month)=   $cnt1->start_on;
             $month1[$cnt1->month]  =   date("M", mktime(0, 0, 0, $modified_month, 10));    
        }
    }
    for($j=1;$j<=$total;$j++)
    {
        if(isset($month1[$j])==$j)
        {
    @   $ans1[$j]=round($count1[$j],2);
        }
        else
        {
            $ans1[$j]=0;
        }       
        if($ans1[$j]=='')
        {
            $ans1[$j]=0;
        }
    }
    $projectscnt1=implode(",",$ans1); 
    ?>
	<div id="page-wrapper">
            <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                <div class="page-header pull-left">
                    <div class="page-title">Dashboard</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;
                    <li class="hidden"><a href="#">Dashboard</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
                    <li class="active">Dashboard</li>
                </ol>
                <div class="clearfix"></div>
            </div>
         
            <div class="page-content">
                <div id="tab-general">
                    <div id="sum_box" class="row mbl">
					<?php if(in_array('14',$permisssion)) {?> 
                        <div class="col-sm-6 col-md-3">
                          <a href="<?php echo base_url(); ?>AOdSmIiZn/commission1">  <div class="panel profit db mbm">
                                <div class="panel-body"><p class="icon"><i class="icon fa fa-shopping-cart"></i></p><h4 class="value"><span data-counter="" data-start="10" data-end="50" data-step="1" data-duration="0"></span>Admin Commission<span></span></h4>

                                    <p class="description"></p>

                                    <div class="progress progress-sm mbn">
                                        <div role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;" class="progress-bar progress-bar-success"><span class="sr-only">80% Complete (success)</span></div>
                                    </div>
                                </div>
                            </div> </a>
                        </div>
						<?php } ?>
						<?php if(in_array('17',$permisssion)) {?> 
                        <div class="col-sm-6 col-md-3">
                            <a href="<?php echo base_url(); ?>AOdSmIiZn/orderlist">   <div class="panel income db mbm">
                                <div class="panel-body"><p class="icon"><i class="icon fa fa-money"></i></p><h4 class="value"><span>Order History</span><span></span></h4>

                                    <p class="description"></p>

                                    <div class="progress progress-sm mbn">
                                        <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;" class="progress-bar progress-bar-info"><span class="sr-only">60% Complete (success)</span></div>
                                    </div>
                                </div>
                            </div></a>
                        </div>
						<?php } ?>
						<?php if((in_array('7',$permisssion)) || (in_array('15',$permisssion))) { ?>
                        <div class="col-sm-6 col-md-3">
                          <a href="<?php echo base_url(); ?>AOdSmIiZn/international_depositreq">  <div class="panel task db mbm">
                                <div class="panel-body"><p class="icon"><i class="icon fa fa-signal"></i></p><h4 class="value"><span>Fiat Deposit</span></h4>

                                    <p class="description"></p>

                                    <div class="progress progress-sm mbn">
                                        <div role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;" class="progress-bar progress-bar-danger"><span class="sr-only">50% Complete (success)</span></div>
                                    </div>
                                </div>
                            </div></a>
                        </div>
						<?php } ?>
						 <?php if(in_array('15',$permisssion)) {?>   
                        <div class="col-sm-6 col-md-3">
                           <a href="<?php echo base_url(); ?>AOdSmIiZn/withdraw">  <div class="panel visit db mbm">
                                <div class="panel-body"><p class="icon"><i class="icon fa fa-group"></i></p><h4 class="value"><span>Fiat Withdraw</span></h4>

                                    <p class="description"></p>

                                    <div class="progress progress-sm mbn">
                                        <div role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;" class="progress-bar progress-bar-warning"><span class="sr-only">70% Complete (success)</span></div>
                                    </div>
                                </div>
                            </div></a>
                        </div>
						<?php } ?>
                    </div>
                    <div class="row mbl">
                        <div class="col-lg-12">
                            <div class="panel">
                                <div class="panel-body">
                                <div id="chartpost" style="min-width: 310px; height: 400px; margin: 0 auto;display:block;"></div>
                                </div>
                            </div>
                        </div>
						
						 <div class="col-lg-12">
                            <div class="panel">
                                <div class="panel-body">
                                <div id="chartpost1" style="min-width: 310px; height: 400px; margin: 0 auto;display:block;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            
                        </div>
                    </div>
				</div>
            </div>
            
            <?php $this->load->view("admin/footer"); ?>
			
				<script src="<?php echo base_url(); ?>assets_admin/js/highstock.js"></script>
				<script src="<?php echo base_url(); ?>assets_admin/js/highcharts.js"></script>
			
			<script type="text/javascript">
$('#chartpost').highcharts({
            title: {
                text: 'Monthly Report For Verified Users',
                x: -20 //center
            },
            subtitle: {
                /*text: 'Source: WorldClimate.com',*/
                x: -20
            },
            xAxis: {
                title: {
                    text: 'Months'
                       },
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                    'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
            },
            yAxis: {
                title: {
                    text: 'Numbers'
                },               
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                /*valueSuffix: '°C'*/
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'Users',
                data: [<?php echo $projectscnt; ?>]
            }, 
           
            ]
        });
</script>


<script type="text/javascript">
$('#chartpost1').highcharts({
            title: {
                text: 'Monthly Report For Non Verified Users',
                x: -20 //center
            },
            subtitle: {
                /*text: 'Source: WorldClimate.com',*/
                x: -20
            },
            xAxis: {
                title: {
                    text: 'Months'
                       },
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                    'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
            },
            yAxis: {
                title: {
                    text: 'Numbers'
                },               
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                /*valueSuffix: '°C'*/
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'Users',
                data: [<?php echo $projectscnt1; ?>]
            }, 
           
            ]
        });
</script>

