<?php $this->load->view("admin/header"); ?>
    <div id="wrapper">
        <?php $this->load->view("admin/sidebar"); ?>
        
        <!--END CHAT FORM--><!--BEGIN PAGE WRAPPER-->
        <div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
            <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                <div class="page-header pull-left">
                    <div class="page-title">Bank Wire</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a href="<?php echo base_url(); ?>AOdSmIiZn">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li><li class="active">Bank Wire</li>
                </ol>
                <div class="clearfix"></div>
				
            </div>
			
            <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
            <div class="page-content">
			
                <div class="row">
				
                    <div class="col-lg-12">
               
			
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->          
           
			<?php 
	 $success=$this->session->flashdata('success');									
		if($success)	{	?> 
		<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong><?php echo $this->lang->line(''); ?>Success! </strong> <?php echo $success;?>.
	</div><?php }?>  
	<?php  $error=$this->session->flashdata('error');										
										if($error)	{	?> 
									 <div class="alert alert-danger">
										<button type="button" class="close" data-dismiss="alert">&times;</button>
										<strong>Oh! </strong><?php echo $error;?>.
									</div>
										<?php } ?>  
										
                  
<?php if($result)  { ?>
<div class="panel panel-green">
                        <div class="panel-heading">Deposit Requests</div>
                        <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" id="example">
                                <thead>
								
                                <tr>
									<th>S.No</th>
                                    <th>Date</th>
                                    <th>Client Id</th>
                                    <th>User name</th>                                   
                                    <th>Currency</th>
                                   <th class="hidden-phone">Deposit Amount</th>
								   <th>Comments</th>
                                    <th class="hidden-phone">Status</th>
                                    <th class="hidden-phone">Attachment</th>
									
                                    <th>Action</th>
								
                                </tr>
                                </thead>
                                <tbody>
                                
<?php

$i=1;
	foreach($result as $row)
	{
		
		$deposit_id			=	$row->deposit_id;
		$user_id			=	$row->DiZrIeSsOu;
    $withdrawCurrency   =   $row->currency;
		$amount 	= 	$row->amount;
	
		$withdrawDate 		= 	$row->request_date;
		$withdrawStatus 	= 	$row->status;
		$comments 	= 	($row->infermation != "")?$row->infermation:'---';
		$attachment 	= 	$row->attachment;
		$query = $this->admin_model->getuserdetails($user_id);
		foreach($query as $fetch)
		{
			$username = $fetch->emanZrIeSsOu;
		}
		echo "<tr>";
		$l=" ";
		
		echo "<td>".$i."</td>";
		echo "<td>".$withdrawDate."</td>";
		echo "<td>".client_id($user_id)."</td>";
		echo "<td>".$username."</td>";
		
		echo "<td>".$withdrawCurrency."</td>";
		// echo "<td>".$withdrawPurse."</td>";
		// echo "<td>".$cardcode."</td>";
		echo "<td>".$amount."</td>";
		echo "<td>".$comments."</td>";
		echo "<td>".$withdrawStatus."</td>";
		?>
		<td><a target="_blank" href="<?php echo base_url(); ?>assets/uploads/deposit/<?php echo $attachment; ?>"><img src="<?php echo base_url(); ?>/assets/uploads/deposit/<?php echo $attachment; ?>"  height="40"></a></td>
		<?php
		if($withdrawStatus=="pending"){ $title="Confirmed"; } else { $title="Pending";  }
		if($withdrawStatus != "confirmed" && $withdrawStatus != "Rejected")
		{
		?>
		<td> <a href="<?php echo base_url(); ?>AOdSmIiZn/deposit_confirm/<?php  echo $deposit_id; ?>/<?php echo $withdrawCurrency; ?>" 'title' ="<?php echo $title; ?>" class="glyphicon glyphicon-refresh"></a>
		
		<a href="#myModal"  data-toggle="modal" onclick="change_form_id('<?php  echo $deposit_id; ?>','<?php  echo $user_id; ?>')" class="glyphicon glyphicon-remove"></a>
		</td>
		
		<!--echo "<td>". anchor('AOdSmIiZn/deposit_confirm1/'.$deposit_id."/".$withdrawCurrency,$l,$attr=array('title'=>$title,'class'=>"glyphicon glyphicon-refresh"))."</td>"; -->
		
		
		<?php 
		
		}
		else 
		{ ?>
	
	
	<td> <a href="javascript:void(0)" class="glyphicon glyphicon-refresh" style="color:#ccc"></td>
	
	<?php
			
		}
		
		echo "</tr>";
	$i++; } ?>
	
	
                                </tbody>
                            </table>
<?php }  else { ?>
<div class="alert alert-warning">
  <button class="close" data-dismiss="alert">×</button>
  <strong><?php echo $this->lang->line(''); ?>Sorry! </strong> <?php echo $this->lang->line(''); ?>No records found at the moment.
  </div>
  <?php } ?>  
                        </div>
                    </div>
                    <!-- END BORDERED TABLE widget-->
                </div>
            </div>
			
			
			<div id="myModal" class="modal fade" style="display: none; ">
                                        <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Reason to reject</h4>
        </div>
        <div class="modal-body"> 
                                             <?php echo form_open('',array('id'=>'form_id')); ?>
<span><?php echo 'Reason to reject'; ?></span>
<textarea name="mail_content" class="form-control errortest" required></textarea>
<br><button type="submit" class="btn btn-small btn-danger rejece" id="reject_button" ><?php echo 'REJECT'; ?></button>
<?php echo form_close(); ?>
                                            </div>
                                        </div>
                                       
                                      </div>
                                      </div>			
         
    <?php $this->load->view('admin/footer'); ?>  

	<script>
	function change_form_id(id,user_id)
	{
	
	$("#form_id").attr("action",base_url+'AOdSmIiZn/deposit_confirm1/'+id+'/'+user_id);
	}	
	
	
	</script>