<?php $this->load->view("admin/header"); ?>
    <div id="wrapper">
        <?php $this->load->view("admin/sidebar"); ?>
        
        <!--END CHAT FORM--><!--BEGIN PAGE WRAPPER-->
        <div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
            <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                <div class="page-header pull-left">
                    <div class="page-title">Manage Contact Us</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a href="<?php echo base_url(); ?>AOdSmIiZn">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li><li class="active">Manage Contact Us</li>
                </ol>
                <div class="clearfix"></div>
				
            </div>
			
            <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
            <div class="page-content">
			
                <div class="row">
				
                    <div class="col-lg-12">
					<div class="panel panel-green">
                    <div class="panel-heading">Manage Contact Us</div>
                    <div class="panel-body">
                    <div class="table-responsive">		
					<?php
$success=$this->session->flashdata('success');
if($success)	{ ?> 
<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong><?php echo $this->lang->line(''); ?>Success! </strong> <?php echo $success;?>.
	</div><?php } ?>
	<?php  $error=$this->session->flashdata('error');
	if($error)	{ ?>
	<div class="alert alert-danger">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
										<strong>Oh! </strong><?php echo $error;?>.
									</div>
										<?php } ?>	

 <?php if(isset($view)) { ?>
<table id="example" class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
		
			<th>S.No</th>
			<th>Name</th>
			<th>Message</th> 
			<th>Status</th> 
			<th>Action</th>
		</tr>
	</thead>
<tbody>
																				
	<?php
$i=1;	
		foreach($result as $record)
		{
			echo "<tr>";$l=" ";	
			echo "<td>".$i."</td>";		
			echo "<td>".$record->username."</td>";		
			echo "<td>".$record->message."</td>";		
			
			if($record->status == "replied")
			{
			echo "<td><span class='label label-success'>".$record->status."</span></td>";		
			}
			else 
			{
			echo "<td><span class='label label-danger'>".$record->status."</span></td>";		
			}
			
			

			echo "<td>".anchor('AOdSmIiZn/reply_con/'.$record->id,$l,$attr=array('title'=>$title,'class'=>"fa fa-eye"))."</td>";
			echo "</tr>";
			
			//.anchor('AOdSmIiZn/editpage_before/'.$record->pageid,' ',$attr=array('title'=>$title,'class'=>"glyphicon glyphicon-edit")).anchor('AOdSmIiZn/delete_page/'.$record->pageid,$l,$delete=array('title'=>"Delete",'class'=>"glyphicon glyphicon-remove",'onclick'=>"return confirm('Do you want to delete this CMS content ?');"))
			$i++;
		}
		?></tbody></table></form></div>
<?php } ?>
<?php $this->load->view('admin/footer'); ?>	
		