<?php $this->load->view("admin/header"); ?>
    <div id="wrapper">
        <?php $this->load->view("admin/sidebar"); ?>
        
        <!--END CHAT FORM--><!--BEGIN PAGE WRAPPER-->
        <div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
            <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                <div class="page-header pull-left">
                    <div class="page-title">News Letter</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a href="<?php echo base_url(); ?>AOdSmIiZn">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li><li class="active">Subscriber</li>
                </ol>
                <div class="clearfix"></div>
				
            </div>
			
            <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
            <div class="page-content">
			
                <div class="row">
				
                    <div class="col-lg-12">
			
			  <div class="panel panel-blue">
                                            <div class="panel-heading">Subscriber</div>
                                            <div class="panel-body pan">
											<br>
											<?php 
	$success=$this->session->flashdata('success');									
	if($success)	{	?> 
	<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong><?php echo $this->lang->line(''); ?>Success! </strong> <?php echo $success;?>.
	</div><?php }?>  
	<?php  $error=$this->session->flashdata('error');										
	if($error)	{	?> 
	<div class="alert alert-danger">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong>Oh! </strong><?php echo $error;?>.
	</div>
	<div class="span12">								<?php } ?>  		
	
	
<?php if(isset($edit)) { ?>
				
								<?php $attributes=array('class'=>'form form-horizontal');
							 echo  form_open_multipart('AOdSmIiZn/update_news_letter',$attributes); ?>
						 
						 <br>
                                <div class="form-wizard">	
	<div class="form-group">
	<label class="col-md-2 control-label" for="inputUsername">User <span class="require">*</span></label>
	<div class="col-md-6">
							   
								<select name="title[]" id="title" multiple class="form-control ">
								<?php
										if($result)
										{ 
											 foreach($result as $row)
											{
											echo $email_id=$row->user_emailid;
				                 ?>
								 	<option value="<?php echo $email_id;?>"><?php echo $email_id;?></option> 
								 <?php
											}	
											
										} ?>
							
								</select>
                              
                               
                              </div> 
                           </div>
                           </div>
						   <span id="tit" style="color:red;display:none">Choose email</span>
						   <div class="form-wizard">	
	<div class="form-group">
	<label class="col-md-2 control-label" for="inputUsername">Subject <span class="require">*</span></label>
	<div class="col-md-6">
							 
                                 <input required type="text" class="form-control " name="subject" id="subject" value="<?php if(isset($subject)){echo $subject; } ?>"/>
                                
                              </div>
                           </div>
                           </div>
						   <span id="sub" style="color:red;display:none"><?php echo 'Fill subject'; ?></span>
						    <div class="form-wizard">	
	<div class="form-group">
	<label class="col-md-2 control-label" for="inputUsername">Message <span class="require">*</span></label>
	<div class="col-md-6">
	<textarea required class="span12 ckeditor" name="message"  id="ckeditor_full" rows="6" cols="60"></textarea>
                                    </div>
                                    </div>
                                    </div>
									<span id="sm" style="color:red;display:none"><?php echo 'Fill message in editer'; ?></span>
						  
						   
						    <div class="form-actions">
                              <button type="submit" class="btn btn-success" onclick="return edit_tmp();"><?php //echo $this->lang->line('Save changes'); ?> Send</button>
                              <input type="reset" class="btn" value="Reset">
                           </div>
						  </form>
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE widget-->
                        </div>
                    </div>
					<?php } ?>
                        </div>
                 
                    <!-- END BORDERED TABLE widget-->
             
            
            <!-- BEGIN ADVANCED TABLE widget-->
           
    	<?php $this->load->view('admin/footer'); ?>	
