<?php $this->load->view("admin/header"); ?>
    <div id="wrapper">
        <?php $this->load->view("admin/sidebar"); ?>
        
        <!--END CHAT FORM--><!--BEGIN PAGE WRAPPER-->
        <div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
            <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                <div class="page-header pull-left">
                    <div class="page-title">Manage CMS Pages</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a href="<?php echo base_url(); ?>AOdSmIiZn">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li><li class="active">Manage CMS Pages</li>
                </ol>
                <div class="clearfix"></div>
				
            </div>
			
            <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
            <div class="page-content">
			
                <div class="row">
				
                    <div class="col-lg-12">
					<div class="panel panel-green">
                    <div class="panel-heading"> Pages List</div>
                    <div class="panel-body">
                    <div class="table-responsive">						
 <?php if(isset($view)) { ?>
<!-- BEGIN EXAMPLE TABLE widget-->



<div class="widget-body">
<?php 

 $success=$this->session->flashdata('success');
	if($success)	{	?> 
	<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong><?php echo $this->lang->line(''); ?>Success !</strong> <?php echo $success;?>.
</div><?php }?>  
<?php  $error=$this->session->flashdata('error');
	if($error)	{	?> 
 <div class="alert alert-error">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong>Oh !</strong><?php echo $error;?>.
</div>
<?php }?>
	<table class="table table-striped table-bordered" id="example">
	<thead>
		<tr>
			<th>Pages</th>
			<!--<th>Status</th>			-->	
			<th>Action</th>
		</tr>
	</thead>
<tbody>
																				
	<?php 				
		foreach($result as $record)
		{
			echo "<tr>";$l=" ";	
			echo "<td>".$record->pagetitle."</td>";		
			
			//echo "<td>".$record->pagetitle_chinese_tredi."</td>";						 
			//echo "<td>".ucfirst($record->status)."</td>";		 
			if($record->status == "active"){ $title="Deactivate"; }else { $title="Activate";} 

			echo "<td>".anchor('AOdSmIiZn/editpage_before/'.$record->pageid,$l,$attr=array('title'=>$title,'class'=>"glyphicon glyphicon-edit"))."</td>";
			echo "</tr>";
			
			//.anchor('AOdSmIiZn/editpage_before/'.$record->pageid,' ',$attr=array('title'=>$title,'class'=>"glyphicon glyphicon-edit")).anchor('AOdSmIiZn/delete_page/'.$record->pageid,$l,$delete=array('title'=>"Delete",'class'=>"glyphicon glyphicon-remove",'onclick'=>"return confirm('Do you want to delete this CMS content ?');"))
		}
		?>	
   </tbody>
</table>

		</form>
		</div>
	</div>
	<!-- END EXAMPLE TABLE widget-->
</div>
<?php
}
	 if(isset($edit)) { ?> 
	
	   <div class="row-fluid">
               <div class="span12">
                  <div class="widget box blue" id="form_wizard_1">
	 <div class="widget-title">
                        <h4>
                           <i class="icon-reorder"></i>Edit CMS Pages - <span class="step-title">Step 1 of 1</span>
                        </h4>
                        <span class="tools">
                           <a href="javascript:;" class="icon-chevron-down"></a>
                          <!-- <a href="javascript:;" class="icon-remove"></a>-->
                        </span>
              </div>
		 <div class="widget-body form">	  
		<h4><?php echo anchor('admin/pages','CMS Page List'); ?></h4>
	   <?php $attributes=array('class'=>'form form-horizontal','id'=>'editcms');
	   echo  form_open_multipart('admin/editpage',$attributes); ?>   
	  <input type="hidden" name="pageid" value="<?php echo $pageid;?>">                   
		 <div class="form-wizard">
			  
			  <div class="tab-content">
				 <div class="tab-pane active" id="tab1">
					<div class="control-group">
					   <label class="control-label">Page Title</label>
					   <div class="controls">
						  <input type="text" class="input req-string span8" name="pagetitle" value="<?php echo $pagetitle;?>"  />
						  <?php if(form_error('pagetitle')) {?><br><font color="#CC0000"><?php echo form_error('pagetitle'); ?></font><?php } ?>
					   </div>
					</div>
					 <div class="control-group">
					 <label class="control-label">Description</label>
					   <div class="controls">
					<input class="input req-string" id="tooltipInput" type="text" name="description" title="Page Display Title" value="<?php echo $description; ?>"/>	</div>
					<?php if(form_error('description')) {?><br><font color="#CC0000"><?php echo form_error('description'); ?></font><?php } ?>
			</div> 
			 <div class="control-group">
					 <label class="control-label">Page Display Title</label>
					   <div class="controls">
					<input class="input req-string" id="tooltipInput" type="text" name="displaytitle" title="Page Display Title" value="<?php echo $displaytitle; ?>"/>	</div>
			</div> 
		<div class="control-group">
		<label class="control-label">Content</label>
					<div class="controls">
					<textarea name="content" id="textareacontent" cols="30" rows="10"><?php echo $content;?></textarea>
				</div>
			</div>  		
		
 </div>
<div class="form-actions clearfix">
  <input type="submit" id="submitBtn1" name="submit" class="btn btn-success" value="Save" />
  <div id="errorDiv1" class="error-div" style="float:left"></div>
 <Submit <i class="icon-ok"></i>
 </a>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<?php
}
?>			  
	
</div>
</div>
</div>
</div>
		
<?php $this->load->view('admin/footer'); ?>	
		