<?php $this->load->view("admin/header"); ?>
    <div id="wrapper">
        <?php $this->load->view("admin/sidebar"); ?>
        
        <!--END CHAT FORM--><!--BEGIN PAGE WRAPPER-->
        <div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
            <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                <div class="page-header pull-left">
                    <div class="page-title">Manage Email Templates</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a href="<?php echo base_url(); ?>AOdSmIiZn">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li><li class="active">Manage Email Templates</li>
                </ol>
                <div class="clearfix"></div>
				
            </div>
			
            <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
            <div class="page-content">
			
                <div class="row">
				
                    <div class="col-lg-12">
					<div class="panel panel-green">
                    <div class="panel-heading">Manage Email Templates</div>
                    <div class="panel-body">
                    <div class="table-responsive">		
													
												</div>
												<br>
	<?php $attributes=array('class'=>'form form-horizontal','id'=>'editadmin');
	echo  form_open('AOdSmIiZn/reply_message_for_support',$attributes); ?>                  
	<div class="form-wizard">
	<input type="hidden" name="id" value="<?php echo $row->id;?>"> 
	
	<div class="form-group">
	<label class="col-md-2 control-label" for="inputUsername">User name <span class="require">*</span></label>
	<div class="col-md-6">
	<input type="text" class="form-control" minlength="3" maxlength="40" value="<?php if(isset($row->username)){echo $row->username; } ?>" disabled />
	</div>
	</div>
	
	<div class="form-group">
	<label class="col-md-2 control-label" for="inputUsername">Email<span class="require">*</span></label>
	<div class="col-md-6">
	<input type="text" class="form-control" minlength="3" maxlength="40" value="<?php if(isset($row->email_id)){echo $row->email_id; } ?>" disabled />
	</div>
	</div>
	
	<div class="form-group">
	<label class="col-md-2 control-label" for="inputUsername">Subject<span class="require">*</span></label>
	<div class="col-md-6">
	<input type="text" class="form-control" minlength="3" maxlength="40" value="<?php if(isset($row->subject)){echo $row->subject; } ?>" disabled />
	</div>
	</div>
	
	<div class="form-group">
	<label class="col-md-2 control-label" for="inputUsername">Message<span class="require">*</span></label>
	<div class="col-md-6">
	<textarea disabled  class="form-control"  minlength="3"><?php if(isset($row->message)){echo $row->message; } ?></textarea>
	</div>
	</div>
	
	<?php if($row->document != NULL) { ?>
	<div class="form-group">
	<label class="col-md-2 control-label" for="inputUsername">Document<span class="require">*</span></label>
	<div class="col-md-6">
	<a href="<?php echo base_url(); ?>design_cab/uploads/contact/<?php echo $row->document; ?>" target="_blank"><img src="<?php echo base_url(); ?>design_cab/uploads/contact/<?php echo $row->document; ?>" height="70"></a>
	</div>
	</div> <?php  } ?>
	
	<div class="form-group">
	<label class="col-md-2 control-label" for="inputUsername">Reply Message<span class="require">*</span></label>
	<div class="col-md-6">
	  <textarea class="form-control" rows="3" name="area" id="area" required><?php echo ($row->reply_message)?$row->reply_message:''; ?></textarea>
	</div>
	</div>
	
	

	</div>
	<div class="form-group">
                                                        <div class="col-md-offset-3 col-md-9">
														<?php if($row->status != "replied") { ?>
	<input type="submit" id="" name="submit" class="btn btn-success" value="Reply" />
	<?php } else { ?> <input type="button" class="btn btn-danger" value="Replied" /><?php } ?>
	
<a href="<?php echo base_url();?>AOdSmIiZn/manage_contact_us" class="btn" value="">Cancel<a/>
	<div id="errorDiv1" class="error-div" style="float:left"></div>
	<Submit <i class="icon-ok"></i>
	</a>
	</div>
	</div>
	</form>
	</div>
	
	<?php $this->load->view('admin/footer'); ?>	