<?php $this->load->view("admin/header"); ?>
    <div id="wrapper">
        <?php $this->load->view("admin/sidebar"); ?>
        
        <div id="page-wrapper">
            <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                <div class="page-header pull-left">
                    <div class="page-title">Admin settings</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a href="<?php echo base_url(); ?>AOdSmIiZn">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li><li class="active">Admin settings</li>
                </ol>
                <div class="clearfix"></div>
				
            </div>
			
            <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
            <div class="page-content">
			
                <div class="row">
				
                    <div class="col-lg-12">
			
			  <div class="panel panel-blue">
                                            <div class="panel-heading">Admin settings</div>
                                            <div class="panel-body pan">
											
											
											<br>
											<?php 
	$success=$this->session->flashdata('success');									
	if($success)	{	?> 
	<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong><?php echo $this->lang->line(''); ?>Success! </strong> <?php echo $success;?>.
	</div><?php }?>  
	<?php  $error=$this->session->flashdata('error');										
	if($error)	{	?> 
	<div class="alert alert-danger">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong>Oh! </strong><?php echo $error;?>.
	</div>
	<div class="span12">								<?php } ?>  	
	<?php $attributes=array('class'=>'form form-horizontal','id'=>'accountForm');
	echo  form_open_multipart('AOdSmIiZn/admin_setting',$attributes); ?>   
	 <input type="hidden" name="id" value="<?php echo $id;?>" > 
	 <input type="hidden" name="ft" id='ft' value=""/>
	
	<input type="hidden" name="ft1" id='ft1'/>
	<fieldset>
	<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">Company Name <span class="require">*</span></label>
	<div class="col-md-6">
	<input type="text" class="form-control companyname" minlength="3" id="companyname" maxlength="40" name="companyname" value="<?php echo $companyname;?>" required />
	</div>
	</div>
	
	<!--<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">User Name <span class="require">*</span></label>

                                                            <div class="col-md-6">
	
	
	<input type="text" class="form-control username" id="username" name="username" value="<?php echo  $username ?>" required />
	
	</div>
	</div>-->
	
	<input type="hidden" class="form-control username" id="username" name="username" value="<?php echo  $username ?>" required />
	
	<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">Old Pattern <span class="require">*</span></label>
	<div class="col-md-6">
	<div id="gesturepwd"></div>
	</div>
	</div>

	<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">New Pattern <span class="require"></span></label>
	<div class="col-md-6">
	<div id="gesturepwd1"></div>
	</div>
	</div>
	
	
	<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">Contact Person <span class="require">*</span></label>

                                                            <div class="col-md-6">

	<input type="text" class="form-control contactperson"  name="contactperson" id="contactperson"  value="<?php echo $contactperson;?>" required  />


	</div>
	</div>

	<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">Email Id<span class="require">*</span></label>

                                                            <div class="col-md-6">
	
	<input type="text" class="form-control email" id="email" name="email" value="<?php echo $emailid; ?>" disabled  />
	
	</div>
	</div>

	<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">Address <span class="require">*</span></label>

                                                            <div class="col-md-6">
	
	<textarea name="address" id="address" class="form-control address"><?php echo $address; ?></textarea>
	
	</div>
	</div>

	<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">City <span class="require">*</span></label>

                                                            <div class="col-md-6">
	<input type="text" class="form-control city"  name="city" id="city" value="<?php echo $city;?>" required />

	</div>
	</div>

	<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">State<span class="require">*</span></label>

                                                            <div class="col-md-6">
	
	<input type="text" class="form-control state"  name="state" id="state" value="<?php echo $state;?>" required />
	
	</div>
	</div>

	
	<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">Phone Number <span class="require">*</span></label>

                                                            <div class="col-md-6">
	
	<input type="text" class="form-control numeric"  autocomplete="off" name="phone" id="phone" value="<?php echo $phone;?>" required />
	
	</div>
	</div>

	<!--<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">FAX Number <span class="require">*</span></label>

                                                            <div class="col-md-6">
	
	<input type="text" class="form-control fax_no"  name="fax_no" id="fax_no" value="<?php echo $fax_no;?>"  />
	
	</div>
	</div>-->
	
<!--	<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">Paypal Mode <span class="require">*</span></label>

                                                            <div class="col-md-6">
	
	
	<select class="form-control" name="paypal_mode">
	<option value="live" <?php if($paypal_mode == "live"){ echo "selected"; } ?>>live</option>
	<option value="sandbox" <?php if($paypal_mode == "sandbox"){ echo "selected"; } ?>>sandbox</option>
	</select>	
	</div>
	</div> -->	
	
	<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">Facebook URL<span class="require">*</span></label>

                                                            <div class="col-md-6">
<input type="text" class="form-control facebook_url"  name="facebook_url" value="<?php echo $facebook_url;?>" required />
	
	</div>
	</div>

		<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">Twitter URL<span class="require">*</span></label>

                                                            <div class="col-md-6">
	
	<input type="text" class="form-control twitter_url"  name="twitter_url" value="<?php echo $twitter_url;?>" required />
	
	</div>
	</div>
	
		<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">Googleplus URL<span class="require">*</span></label>

         <div class="col-md-6">
															
	<input type="text" class="form-control google_plus"  name="google_plus" value="<?php echo $google_plus;?>"  required />
	
	</div>
	</div>
	
	
			<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">Medium URL<span class="require">*</span></label>

         <div class="col-md-6">
															
	<input type="text" class="form-control medium_url"  name="medium_url" value="<?php echo $medium_url;?>"  required />
	
	</div>
	</div>
	
	
<?php if($smtp_host == "") { ?>
	<p><h4><b>SMTP Section</b></h4> </p>

		<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">SMTP Host<span class="require">*</span></label>

                                                            <div class="col-md-6">
	
	<input type="text" class="form-control"  name="smtp_host" value="<?php echo $smtp_host;?>"  required />
	
	</div>
	</div>

	<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">SMTP Port<span class="require">*</span></label>

                                                            <div class="col-md-6">
	
	
	<input type="text" class="form-control smtp_port"  autocomplete="off" name="smtp_port" value="<?php echo $smtp_port;?>" required/>

	</div>
	</div>

		<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">Smtp Username<span class="require">*</span></label>

                                                            <div class="col-md-6">
	
	<input type="text" class="form-control smtp_username"  name="smtp_username" id="smtp_username"  value="<?php echo encrypt_decrypt("2",$smtp_username);?>" / >

	
	</div>
	</div>

	<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">SMTP Password<span class="require">*</span></label>

                                                            <div class="col-md-6">
	
	<input type="text" class="form-control smtp_password"  name="smtp_password" id="smtp_password"  value="" />
	</div>
	</div>
	
		<?php } ?>
	
	<div class="form-group">
	<label class="col-md-2 control-label" for="inputUsername">Trade Referel Percentage ( % )<span class="require">*</span></label>

                                                            <div class="col-md-6">
	
	<input type="text" class="form-control referral_credit_amount"  name="referral_credit_amount" value="<?php echo $referral_credit_amount;?>" required/>
	
	</div>
	</div>
	
	<div class="form-group">
	<label class="col-md-2 control-label" for="inputUsername">Exchange Referel Percentage ( % )<span class="require">*</span></label>

                                                            <div class="col-md-6">
	
	<input type="text" class="form-control referral_credit_amount"  name="referral_credit_amount_exchange" value="<?php echo $referral_credit_amount_exchange;?>" required/>
	
	</div>
	</div>
	
	<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">Trade Status <span class="require">*</span></label>

                                                            <div class="col-md-6">
	
	
	<select class="form-control" name="trade_status">
	<option value="enable" <?php if($trade_status == "enable"){ echo "selected"; } ?>>Enable</option>
	<option value="disable" <?php if($trade_status == "disable"){ echo "selected"; } ?>>Disable</option>
	</select>
	</div>
	</div>
	
	<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">Exchange Status <span class="require">*</span></label>

    <div class="col-md-6">
	<select class="form-control" name="exchange_status">
	<option value="enable" <?php if($exchange_status == "enable"){ echo "selected"; } ?>>Enable</option>
	<option value="disable" <?php if($exchange_status == "disable"){ echo "selected"; } ?>>Disable</option>
	</select>	
	</div>
	</div>
	
	
	<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">Registration<span class="require">*</span></label>

    <div class="col-md-6">
	<select class="form-control" name="registration">
	<option value="enable" <?php if($registration == "enable"){ echo "selected"; } ?>>Enable</option>
	<option value="disable" <?php if($registration == "disable"){ echo "selected"; } ?>>Disable</option>
	</select>	
	</div>
	</div>
	
	
	<div class="form-group">
	<label class="col-md-2 control-label" for="inputUsername">Offer Expire Date<span class="require">*</span></label>
	<div class="col-md-6">	
	<input type="text" class="form-control"  name="offer_expire" id="startDate" value="<?php echo $offer_expire; ?>" />
	</div>
	</div>	
	
	<div class="form-group">
	<label class="col-md-2 control-label" for="inputUsername">Pasword Expire Date<span class="require">*</span></label>
	<div class="col-md-6">	
	<input type="number" class="form-control"  name="password_expire"  value="<?php echo $password_expire; ?>" required min="1" />
	</div>
	</div>	
	
	<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">Admin url <span class="require">*</span></label>

                                                            <div class="col-md-6">
	
	
	<input type="text" class="form-control" id="admin_url" name="admin_url" value="<?php echo  $admin_url; ?>" required />
	
	</div>
	</div>
	
	<div class="form-group">
	<label class="col-md-2 control-label" for="inputUsername">Footer Content<span class="require">*</span></label>
	<div class="col-md-6">	
	<input type="text" class="form-control footer_content"  name="footer_content" value="<?php echo $footer_content; ?>" required />	
	</div>
	</div>	
	</fieldset>

	


	

	</div>

	<div class="form-actions ">
	 <div class="col-md-offset-3 col-md-9">
	<input type="submit" id="submitBtn1" name="submit" class="btn btn-success sce" value="Save" />
	<div id="errorDiv1" class="error-div" style="float:left"></div>
	<Submit <i class="icon-ok"></i>
	</a>
	</div>
	</div>
	</div>
	</form>
	</div>
<?php $this->load->view('admin/footer'); ?>			
<script type="text/javascript" src="<?php echo base_url();?>assets/js/bootstrap-datepicker.js"></script>
<script src='<?php echo base_url(); ?>assets_admin/js/jquery.mobile.custom.min1.js?<?php echo time(); ?>'></script>


	<script type="text/javascript">
$("#startDate").datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true,
        startDate: '-0m',
        maxDate: '0',
        onClose: function( selectedDate ) {
        $( "#endDate" ).datepicker( "option", "minDate", selectedDate );
        }
    });
</script>		


