<?php $this->load->view("admin/header"); ?>
<div id="wrapper">
<?php $this->load->view("admin/sidebar"); ?>
<div id="page-wrapper">
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
<div class="page-header pull-left">
<div class="page-title">Subadmin Management </div>
</div>
<ol class="breadcrumb page-breadcrumb pull-right">
<li><i class="fa fa-home"></i>&nbsp;<a href="<?php echo base_url(); ?>AOdSmIiZn">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li><li class="active">Subadmin Management </li>
</ol>
<div class="clearfix"></div>
</div>
<div class="page-content">
<div class="row">
<div class="col-lg-12">
<div class="panel panel-green">
<div class="panel-heading">Subadmin Management</div>
<div class="panel-body">
<div class="table-responsive">
<?php
$success=$this->session->flashdata('success');
if($success)	{ ?> 
<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong><?php echo $this->lang->line(''); ?>Success! </strong> <?php echo $success;?>.
	</div><?php } ?>  
	<?php  $error=$this->session->flashdata('error');										
										if($error)	{ ?> 
									 <div class="alert alert-danger">
										<button type="button" class="close" data-dismiss="alert">&times;</button>
										<strong>Oh! </strong><?php echo $error;?>.
									</div>
										<?php } ?>	

	<div class="span12">  		
 <?php if(isset($view)) { ?>
	
	<?php  if(isset($notfound)) { ?>
	   <div class="alert">
			<button class="close" data-dismiss="alert">×</button>
			<strong>Sorry! </strong> <?php echo $notfound; ?>
	   </div>
<?php } 
else {  ?> 				
	
<!-- BEGIN EXAMPLE TABLE widget-->
<div class="widget">
<div class="widget-title">
	<!--<h4><i class="icon-reorder"></i> Finance </h4>-->
	<span class="tools">
		<a href="javascript:;" class="icon-chevron-down"></a>
	   <!-- <a href="javascript:;" class="icon-remove"></a>-->
	</span>
</div>
<div class="widget-body">
	<table class="table table-striped table-bordered" id="example">
		<thead>
		<tr>
			<th style='text-align:center'>Id</th>
			<th style='text-align:center'>Username</th>
			<th style='text-align:center'>Created Date</th>
			<th style='text-align:center'>Status</th>
			<th style='text-align:center'>ACTION</th>
		</tr>
		</thead>
		<tbody>
		<?php 
		$i=1;
		foreach($result as $val){ ?>
		<tr>
			<td style='text-align:center'><?php echo $i; ?></td>
			<td style='text-align:center'><?php echo $val->emanZrIeSsOu; ?></td>
			<td style='text-align:center'><?php echo $val->dateofreg; ?></td>
			<td style='text-align:center'><?php echo $val->status; ?></td>
			<td style='text-align:center'>
				<?php echo anchor('AOdSmIiZn/subadmin/edit/'.$val->id,'<span class="glyphicon glyphicon-edit"></span>'); ?>  <?php echo anchor('AOdSmIiZn/changestatus_subadmin/'.$val->id,'<span class="glyphicon glyphicon-refresh"></span>'); ?></td>
		</tr>
		<?php $i++; } ?>
		</tbody>
	</table>

				</form>
				</div>
			</div>
			<!-- END EXAMPLE TABLE widget-->
		</div>
		<?php
		}
		}
	 if(isset($add)) {  
	  ?>
   
	   <?php $attributes=array('class'=>'form form-horizontal','id'=>'add_admin');
	   echo  form_open_multipart('AOdSmIiZn/add_subadmin',$attributes); ?>               
		<div class="form-wizard">
		<div class="">
		<div class="tab-pane active" id="tab1">
			
			 <input type="hidden" name="ft" id='ft' value=""/>
		
					
					<div class="form-group">
					   <label class="col-md-2 control-label" for="inputUsername">User Name <span class="require">*</span></label>
					    <div class="col-md-6">
					   	<input type="text" class="form-control" onblur="checkusername(this.value);" name="sub_username" id="usename" value="<?php echo set_value('sub_username'); ?>"/>
					   		<?php echo form_error('sub_username','<p class="alert alert-danger span4 pull-right">', '</p>')?>
					   <span class="help-inline" id="errormsg" style="color:red;"></span>
					   </div>
					</div>
					
					<div class="form-group">
					  <label class="col-md-2 control-label" for="inputUsername">Email Id <span class="require">*</span></label>
					  
					 <div class="col-md-6">
					   	<input type="text" class="form-control"  name="sub_emailid" value="<?php echo set_value('sub_emailid'); ?>"/>
						<?php echo form_error('sub_emailid','<p class="alert alert-danger span4 pull-right">', '</p>')?>
					   </div>
					</div>
					
					<div class="form-group">
					   <label class="col-md-2 control-label" for="inputUsername">Password<span class="require">*</span></label>
					   <div class="col-md-6">
					   	<input type="text" class="form-control" name="sub_password" id="SubPassword" value="<?php echo set_value('sub_password'); ?>"/>
					   	<?php echo form_error('sub_password','<p class="alert alert-danger span4 pull-right">', '</p>')?>
					   	<span class="help-inline">
					   		<input type="button" class="btn btn-primary blue" value="Password Generator" onclick="generatePassword();"></span>
					   </div>
					</div>
					
					
					
		<div class="form-group"><label class="col-md-2 control-label" for="inputUsername">Pattern <span class="require">*</span></label>
		<div class="col-md-6">
		<div id="gesturepwd"></div>
		</div>
		</div>

<div class="form-group">
	<label class="col-md-2 control-label" for="inputUsername">Permissions <span class="require">*</span></label>
	
	<div class="col-md-5">
	<label class="checkbox">
	<div class="checker" id="uniform-undefined"><span><input type="checkbox" name="permission[]" value="1"/></span></div> Manage Users
	</label>
	<label class="checkbox">
	<div class="checker" id="uniform-undefined"><span><input type="checkbox" name="permission[]" value="2" /></span></div> User Verification
	</label>
	<label class="checkbox">
	<div class="checker" id="uniform-undefined"><span><input type="checkbox" name="permission[]" value="3" /></span></div> Broker verification
	</label>
	<label class="checkbox">
	<div class="checker" id="uniform-undefined"><span><input type="checkbox" name="permission[]" value="4" /></span></div> blocklist
	</label>
	
	
	<label class="checkbox">
	<div class="checker" id="uniform-undefined"><span><input type="checkbox" name="permission[]" value="5" style=""/></span></div> bank verification
	</label>
	<label class="checkbox">
	<div class="checker" id="uniform-undefined"><span><input type="checkbox" name="permission[]" value="6" /></span></div> bank list
	</label>
	<label class="checkbox">
	<div class="checker" id="uniform-undefined"><span><input type="checkbox" name="permission[]" value="7" /></span></div> bank deposit
	</label>
	<label class="checkbox">
	<div class="checker" id="uniform-undefined"><span><input type="checkbox" name="permission[]" value="8" /></span></div> Exchange
	</label>
	<label class="checkbox">
	<div class="checker" id="uniform-undefined"><span><input type="checkbox" name="permission[]" value="9" /></span></div> FAQ
	</label>
	
	<label class="checkbox">
	<div class="checker" id="uniform-undefined"><span><input type="checkbox" name="permission[]" value="10" /></span></div> Support
	</label>
	
	<label class="checkbox">
	<div class="checker" id="uniform-undefined"><span><input type="checkbox" name="permission[]" value="11" /></span></div> Cms
	</label>
	
	</div>

	<div class="controls col-md-5">
	<label class="checkbox">
	<div class="checker" id="uniform-undefined"><span><input type="checkbox" name="permission[]" value="12" style=""/></span></div> Exchange Pairs
	</label>
	<label class="checkbox">
	<div class="checker" id="uniform-undefined"><span><input type="checkbox" name="permission[]" value="13" /></span></div> currencies
	</label>
	<label class="checkbox">
	<div class="checker" id="uniform-undefined"><span><input type="checkbox" name="permission[]" value="14" /></span></div> commision
	</label>
	<label class="checkbox">
	<div class="checker" id="uniform-undefined"><span><input type="checkbox" name="permission[]" value="15" /></span></div> Deposit
	</label>
	<label class="checkbox">
	<div class="checker" id="uniform-undefined"><span><input type="checkbox" name="permission[]" value="16" /></span></div> Withdraw
	</label>
	<label class="checkbox">
	<div class="checker" id="uniform-undefined"><span><input type="checkbox" name="permission[]" value="17" /></span></div> Trade History
	</label>
	<label class="checkbox">
	<div class="checker" id="uniform-undefined"><span><input type="checkbox" name="permission[]" value="18" /></span></div> Order History
	</label>
	<label class="checkbox">
	<div class="checker" id="uniform-undefined"><span><input type="checkbox" name="permission[]" value="19" /></span></div> pair & fee
	</label>
	
	<label class="checkbox">
	<div class="checker" id="uniform-undefined"><span><input type="checkbox" name="permission[]" value="20" /></span></div> Blogs
	</label>
	
	<label class="checkbox">
	<div class="checker" id="uniform-undefined"><span><input type="checkbox" name="permission[]" value="21" /></span></div> Templates
	</label>
	
	
	</div>
<?php echo form_error('permission','<p class="alert alert-danger span4 pull-right">', '</p>')?>
	</div>

		<div class="form-actions clearfix">
		<input type="submit" id="submitBtn" name="submit" class="btn btn-success" value="Save" />
		<div id="errorDiv1" class="error-div" style="float:left"></div>
		<Submit <i class="icon-ok"></i>
		</a>
		</div>
</div>
</form>
</div>
</div>

<?php
}
if(isset($edit)) {
?>
   
	   <?php $attributes=array('class'=>'form form-horizontal','id'=>'add_admin');
	   echo  form_open_multipart('AOdSmIiZn/subadmin/edit/'.$id,$attributes); ?>  
	           
		 <div class="form-wizard">
			 
			 <div class="tab-pane active" id="tab1">
					
					<div class="form-group">
					   <label class="col-md-2 control-label" for="inputUsername">Username</label>
					     <div class="col-md-6">
						  <label class="form-control" ><?php echo $emanZrIeSsOu; ?></label>
					   </div>
					</div>
					
					<div class="form-group">
					   <label class="col-md-2 control-label" for="inputUsername">Email Id</label>
					     <div class="col-md-6">
						  <label class="form-control" ><?php echo $dilZiIaSmOe; ?></label>
					   </div>
					</div>
					
		

					<!--<div class="form-group">
					   <label class="col-md-2 control-label" for="inputUsername">Status</label>
					     <div class="col-md-6">
						  <select class="form-control" name="status">
						  <option value="active">Active</option>
						  <option value="deactive">Deactive</option>						  
						  </select>
					   </div>
					</div>-->
					
					<?php
					$permissionnew =explode(',',$permission);
					?>
					
					
					
		<div class="form-group">
	<label class="col-md-2 control-label" for="inputUsername">Permissions<span class="require">*</span></label>
	
	<div class="col-md-5">
	<label class="checkbox">
	<div class="checker" id="uniform-undefined"><span><input type="checkbox" <?php if (in_array("1",$permissionnew))  { echo "checked"; } ?> name="permission[]" value="1"/></span></div> Manage Users
	</label>
	<label class="checkbox">
	<div class="checker" id="uniform-undefined"><span><input type="checkbox" <?php if (in_array("2",$permissionnew))  { echo "checked"; } ?> name="permission[]" value="2" /></span></div> User Verification
	</label>
	<label class="checkbox">
	<div class="checker" id="uniform-undefined"><span><input type="checkbox" <?php if (in_array("3",$permissionnew))  { echo "checked"; } ?> name="permission[]" value="3" /></span></div> Broker verification
	</label>
	<label class="checkbox">
	<div class="checker" id="uniform-undefined"><span><input type="checkbox" <?php if (in_array("4",$permissionnew))  { echo "checked"; } ?> name="permission[]" value="4" /></span></div> blocklist
	</label>
	
	
	<label class="checkbox">
	<div class="checker" id="uniform-undefined"><span><input type="checkbox" <?php if (in_array("5",$permissionnew))  { echo "checked"; } ?> name="permission[]" value="5" style=""/></span></div> bank verification
	</label>
	<label class="checkbox">
	<div class="checker" id="uniform-undefined"><span><input type="checkbox" <?php if (in_array("6",$permissionnew))  { echo "checked"; } ?> name="permission[]" value="6" /></span></div> bank list
	</label>
	<label class="checkbox">
	<div class="checker" id="uniform-undefined"><span><input type="checkbox" <?php if (in_array("7",$permissionnew))  { echo "checked"; } ?> name="permission[]" value="7" /></span></div> bank deposit
	</label>
	<label class="checkbox">
	<div class="checker" id="uniform-undefined"><span><input type="checkbox" <?php if (in_array("8",$permissionnew))  { echo "checked"; } ?> name="permission[]" value="8" /></span></div> Exchange
	</label>
	<label class="checkbox">
	<div class="checker" id="uniform-undefined"><span><input type="checkbox" <?php if (in_array("9",$permissionnew))  { echo "checked"; } ?> name="permission[]" value="9" /></span></div> FAQ
	</label>
	
	<label class="checkbox">
	<div class="checker" id="uniform-undefined"><span><input type="checkbox" <?php if (in_array("10",$permissionnew))  { echo "checked"; } ?> name="permission[]" value="10" /></span></div> Support
	</label>
	
	<label class="checkbox">
	<div class="checker" id="uniform-undefined"><span><input type="checkbox" <?php if (in_array("11",$permissionnew))  { echo "checked"; } ?> name="permission[]" value="11" /></span></div> Cms
	</label>
	
	</div>

	<div class="controls col-md-5">
	<label class="checkbox">
	<div class="checker" id="uniform-undefined"><span><input type="checkbox" <?php if (in_array("12",$permissionnew))  { echo "checked"; } ?> name="permission[]" value="12" style=""/></span></div> Exchange Pairs
	</label>
	<label class="checkbox">
	<div class="checker" id="uniform-undefined"><span><input type="checkbox" <?php if (in_array("13",$permissionnew))  { echo "checked"; } ?> name="permission[]" value="13" /></span></div> currencies
	</label>
	<label class="checkbox">
	<div class="checker" id="uniform-undefined"><span><input type="checkbox" <?php if (in_array("14",$permissionnew))  { echo "checked"; } ?> name="permission[]" value="14" /></span></div> commision
	</label>
	<label class="checkbox">
	<div class="checker" id="uniform-undefined"><span><input type="checkbox" <?php if (in_array("15",$permissionnew))  { echo "checked"; } ?> name="permission[]" value="15" /></span></div> Deposit
	</label>
	<label class="checkbox">
	<div class="checker" id="uniform-undefined"><span><input type="checkbox" <?php if (in_array("16",$permissionnew))  { echo "checked"; } ?> name="permission[]" value="16" /></span></div> Withdraw
	</label>
	<label class="checkbox">
	<div class="checker" id="uniform-undefined"><span><input type="checkbox" <?php if (in_array("17",$permissionnew))  { echo "checked"; } ?> name="permission[]" value="17" /></span></div> Trade History
	</label>
	<label class="checkbox">
	<div class="checker" id="uniform-undefined"><span><input type="checkbox" <?php if (in_array("18",$permissionnew))  { echo "checked"; } ?> name="permission[]" value="18" /></span></div> Order History
	</label>
	<label class="checkbox">
	<div class="checker" id="uniform-undefined"><span><input type="checkbox" <?php if (in_array("19",$permissionnew))  { echo "checked"; } ?> name="permission[]" value="19" /></span></div> pair & fee
	</label>
	
	<label class="checkbox">
	<div class="checker" id="uniform-undefined"><span><input type="checkbox" <?php if (in_array("20",$permissionnew))  { echo "checked"; } ?> name="permission[]" value="20" /></span></div> Blogs
	</label>
	
	<label class="checkbox">
	<div class="checker" id="uniform-undefined"><span><input type="checkbox" <?php if (in_array("21",$permissionnew))  { echo "checked"; } ?> name="permission[]" value="21" /></span></div> Templates
	</label>
	
	
	</div>
<?php echo form_error('permission','<p class="alert alert-danger span4 pull-right">', '</p>')?>
	</div>
			
					
					
					
					
					
					
					<div class="form-actions clearfix">
						  <input type="submit" id="submitBtn" name="update" class="btn btn-success" value="Save" />
						  <div id="errorDiv1" class="error-div" style="float:left"></div>
								<Submit <i class="icon-ok"></i>
						 </a>
					</div>
</div>
</form>

<?php
}
?>		
</div>
</div>
</div>
</div>
</div>
</div>
<script>
	$(function () {
		$('#admin_new_img').val("");
	       $('#submitBtn1').formValidator({
				onSuccess	: function() { $('#editadmin').submit();
          			},
				scope		: '#editadmin',
				errorDiv	: '#errorDiv1'
			});
			 $('#addbutton').formValidator({
				onSuccess	: function() { $('#addadmin').submit();
          			},
				scope		: '#addadmin',
				errorDiv	: '#errorDiv1'
			});
		});

function generatePassword()
{
	var text = "";
    var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

    for( var i=0; i < 10; i++ )
        text += possible.charAt(Math.floor(Math.random() * possible.length));
    $('#SubPassword').val(text);
}

function checkusername(text)
{
	$.ajax({
	url: '<?php echo base_url(); ?>AOdSmIiZn/checkusername/'+text,
	type: 'GET',			 
	success: function(res) 
	{
		if(res>0) { $('#errormsg').html('Username already exist.'); $("#usename").val(''); } else 
				{ $('#errormsg').html(''); }		
	}
	});
}
</script>			
<?php $this->load->view('admin/footer'); ?>

<script src='<?php echo base_url(); ?>assets_admin/js/jquery.mobile.custom.min1.js?<?php echo time(); ?>'></script>
