<?php $this->load->view("admin/header"); ?>
    <div id="wrapper">
        <?php $this->load->view("admin/sidebar"); ?>
        
        <!--END CHAT FORM--><!--BEGIN PAGE WRAPPER-->
        <div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
            <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                <div class="page-header pull-left">
                    <div class="page-title">Trade History</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a href="<?php echo base_url(); ?>AOdSmIiZn">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li><li class="active">Trade History</li>
                </ol>
                <div class="clearfix"></div>
				
            </div>
			
            <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
            <div class="page-content">
			
                <div class="row">
				
                    <div class="col-lg-12">
					<div class="panel panel-green">
                        <div class="panel-heading">Trade History</div>
                        <div class="panel-body">
                        <div class="table-responsive">

                            <table class="table table-striped table-bordered" id="example">
                                <thead>
      <tr>
      <th style="text-align:center">S.on</th>
      <th style="text-align:center">Date</th>
      <th style='text-align:center' class="hidden-phone">Client Id</th>
	  <th style='text-align:center' class="hidden-phone">User Name</th>
      <th style='text-align:center'>Pair</th>
      <th style='text-align:center' class="hidden-phone">Type</th>
      <th style='text-align:center' class="hidden-phone">Price</th>
      <th style='text-align:center' class="hidden-phone">Amount</th>
      <th style='text-align:center' class="hidden-phone">Total</th>
      </tr>
	  </thead>
	  <tbody>
		<?php 
		$i=1;
	foreach($result as $trade)
	{	
		$tradeuserId  = $trade->DiZrIeSsOu;
      $tradePrice   = $trade->Price;
      $tradeAmount  = $trade->Amount;
      $tradeType    = $trade->Type;
      $tradeTotal   = $trade->Total;
      $firstCurrency  = $trade->firstCurrency;
      $secondCurrency = $trade->secondCurrency;
      $orderDate    = $trade->orderDate;
      $orderTime    = $trade->orderTime;
      $ts = $orderDate;
      $query = $this->admin_model->getuserdetails($tradeuserId);
      foreach($query as $user)
      {                 
        $username = $user->emanZrIeSsOu;
      }
      $amount = $tradeAmount." ".$firstCurrency;
      $total  = $tradeTotal." ".$secondCurrency;
      $pair  = $firstCurrency."/".$secondCurrency;
      echo "<tr style='text-align:center'>";
    echo "<td>".$i."</td>";
    echo "<td>".$ts."</td>";
    echo "<td>".client_id($tradeuserId)."</td>";  
    echo "<td>".$username."</td>";  
    echo "<td>".$pair."</td>";
    echo "<td>".$tradeType."</td>";
    echo "<td>".$tradePrice."</td>";
    echo "<td>".$amount."</td>";
    echo "<td>".$total."</td>";
    echo "</tr>";
	$i++;
	}										
	?>
                                </tbody>
                            </table>


                        </div>
                    </div>
					</div>
            </div>
         </div>
   </div>
      </div>
	  
    <?php $this->load->view('admin/footer'); ?>  
