<?php $this->load->view("admin/header"); ?>
    <div id="wrapper">
        <?php $this->load->view("admin/sidebar"); ?>
        
        <!--END CHAT FORM--><!--BEGIN PAGE WRAPPER-->
        <div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
            <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                <div class="page-header pull-left">
                    <div class="page-title">E-Withdraw</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a href="<?php echo base_url(); ?>AOdSmIiZn">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li><li class="active">Withdraw&nbsp;&nbsp;</li><i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li><li class="active">view</li>
                </ol>
                <div class="clearfix"></div>
				
            </div>
			
            <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
            <div class="page-content">
			
                <div class="row">
				
                    <div class="col-lg-12">
					<div class="panel panel-green">
                        <div class="panel-heading">Withdraw</div>
                        <div class="panel-body">
<div class="table-responsive">						
                                <table class="table table-borderless">
                                    <tbody>
                                     <tr>
                                        <td class="span2"> Account name :</td>
                                        <td>
                                         <?php echo ($row->account_holder)?$row->account_holder:"--"; ?>
										 </td>
                                    </tr>
									 <tr>
                                        <td class="span2"> Bank name :</td>
                                        <td>
                                         <?php echo ($row->bank_name)?$row->bank_name:"--"; ?>
										 </td>
                                    </tr>
									
									<tr>
                                        <td class="span2"> Account Type :</td>
                                        <td>
                                         <?php echo ($row->account_type)?$row->account_type:"current"; ?>
										 </td>
                                    </tr>
									
									<tr>
                                        <td class="span2"> Bank address :</td>
                                        <td>
                                         <?php echo ($row->bank_address)?$row->bank_address:"--"; ?>
										 </td>
                                    </tr>
									
									<tr>
                                        <td class="span2"> <?php echo ($row->currency == "INR")?"IFSC":"IBAN"; ?> Code :</td>
                                        <td>
                                         <?php echo ($row->iban_code)?$row->iban_code:"--"; ?>
										 </td>
                                    </tr>
									<!--<tr>
                                        <td class="span2"> Country :</td>
                                        <td>
                                         <?php echo ($row->country)?$row->country:"--"; ?>
										 </td>
                                    </tr>
									<tr>
                                        <td class="span2"> City :</td>
                                        <td>
										<?php echo ($row->city)?$row->city:"--"; ?>
                                        
										 </td>
                                    </tr> -->
									
									<!--<tr>
                                        <td class="span2"> payment :</td>
                                        <td>
                                         <?php echo $row->payment; ?>
										 </td>
                                    </tr> -->
									
									
									<tr>
                                        <td class="span2">currency :</td>
                                        <td>
                                          <?php echo $row->currency; ?> 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="span2">Ask Amount:</td>
                                        <td> <?php echo $row->askamount; ?></td>
                                    </tr>
									 
									
									<tr>
                                        <td class="span2">Amount :</td>
                                        <td><?php echo $row->amount; ?>
										</td>
                                    </tr>
                                    <tr>
                                        <td class="span2">Token:</td>
                                        <td><?php echo $row->token; ?>  </td>
                                    </tr>
									
									<tr>
                                        <td class="span2">Request Date & time :</td>
                                        <td>
                                           <?php echo $row->request_date; ?> <?php echo $row->request_time; ?> 
                                        </td>
                                    </tr>
									
									<tr>
                                        <td class="span2">Status :</td>
                                        <td>
                                           <?php echo $row->status; ?> 
                                        </td>
                                    </tr>
									<tr>
                                       
                                        <td colspan="2">
                                           <?php if($row->status == "pending") { ?>
		<a onclick="return confirm('Are you sure?')" href="<?php echo base_url(); ?>AOdSmIiZn/withdraw_accept1/<?php echo $row->req_id; ?>">	<input type="button" value="Accept" class="btn btn-success"></a>
			
				<!--<a onclick="return confirm('Are you sure want to Reject?')" href="<?php echo base_url(); ?>AOdSmIiZn/withdraw_reject1/<?php echo $row->req_id; ?>">	 -->
				<a href="#myModal"  data-toggle="modal" >
				
			<input type="button" value="Reject" class="btn btn-danger"></a>
		<?php } else { ?>
		
		<a href="<?php echo base_url(); ?>AOdSmIiZn/withdraw/1">	
			<input type="button" value="Back" class="btn btn-success"></a>
		<?php } ?>
                                        </td>
                                    </tr>
									</tbody>
                                </table>
                               
                            </div>
							<div class="space5"></div>
                        </div>
                  </div>
               </div>
            </div>
			
			
			
			
				</div>
			</div>
			
			
			<div id="myModal" class="modal fade" style="display: none; ">
                                        <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Reason to reject</h4>
        </div>
        <div class="modal-body"> 
		
                                             <?php echo form_open('AOdSmIiZn/withdraw_reject1/'.$row->req_id); ?>
<span><?php echo 'Reason to reject'; ?></span>
<textarea name="mail_content" class="form-control errortest"required ></textarea>
<br><button type="submit" class="btn btn-small btn-danger rejece" ><?php echo 'REJECT'; ?></button>
<?php echo form_close(); ?>
                                            </div>
                                        </div>
                                       
                                      </div>
                                      </div>
			<!-- END EXAMPLE TABLE widget-->
	
		
<?php $this->load->view('admin/footer'); ?>	
			