<?php $this->load->view("admin/header"); ?>
<div id="wrapper">
        <?php $this->load->view("admin/sidebar"); ?>
        
        <!--END CHAT FORM--><!--BEGIN PAGE WRAPPER-->
        <div id="page-wrapper"><!--BEGIN TITLE & BREADCRUMB PAGE-->
            <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                <div class="page-header pull-left">
                    <div class="page-title">Fiat Withdraw</div>
                </div>
                <ol class="breadcrumb page-breadcrumb pull-right">
                    <li><i class="fa fa-home"></i>&nbsp;<a href="<?php echo base_url(); ?>AOdSmIiZn">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li><li class="active">Withdraw</li>
                </ol>
                <div class="clearfix"></div>
				
            </div>
			
            <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
            <div class="page-content">
			
                <div class="row">
				
                    <div class="col-lg-12">
					<div class="panel panel-green">
                        <div class="panel-heading">Withdraw</div>
                        <div class="panel-body">
                        <div class="table-responsive">
<?php 
	$success=$this->session->flashdata('success');									
	if($success)	{	?> 
	<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong><?php echo $this->lang->line(''); ?>Success! </strong> <?php echo $success;?>.
	</div><?php }?> 
	<table class="table table-striped table-bordered" id="example">
		<thead>
		<tr>
				<th>S.No</th>
				<th>Date & time</th>
				<th>Client Id</th>
				<th>User Name</th>
				<th>Ask Amount</th>
				<th>Amount</th>
				<th>Status</th>
				<th>Action</th>
						
		</tr>
		</thead>
		<tbody>	
	    <?php 
		$i=1;
	    foreach ($withdrawlist as $eachtras) { ?>
	    <tr>
		<td><?php echo $i; ?></td>
		<td><?php echo $eachtras->request_date; ?> <?php echo $eachtras->request_time; ?></td>			
			<td><?php echo client_id($eachtras->DiZrIeSsOu); ?></td>
		<td><?php echo ucfirst($this->admin_model->get_user_name($eachtras->DiZrIeSsOu)); ?></td>	
		<td><?php echo $eachtras->askamount; ?></td>
		<td><?php echo $eachtras->amount; ?></td>
		<td><?php echo ucfirst($eachtras->status); ?></td>			
		<td>
		<a href="<?php echo base_url(); ?>AOdSmIiZn/withdraw_view/<?php echo $eachtras->req_id; ?>" class="glyphicon glyphicon-eye-open"></a>  <!--<?php if($eachtras->status == "pending") { ?> <a href="<?php echo base_url(); ?>AOdSmIiZn/withdraw_accept1/<?php echo $eachtras->req_id; ?>"class="glyphicon glyphicon-check" title="accept"></a> <a href="<?php echo base_url(); ?>AOdSmIiZn/withdraw_reject1/<?php echo $eachtras->req_id; ?>" class="glyphicon glyphicon-remove" title="reject"></a><?php } else { //echo $eachtras->status;
			}?> -->  
			</td>			
					
					
		</tr>
		<?php
		$i++;
	    } 
		?>
		</tbody>
	</table>

				</form>
				</div>
			</div>
		
		</div>
		
	
</div>
</div>
</div>


<?php $this->load->view('admin/footer'); ?>	

<?php
$this->session->set_userdata('details',''); ?>


		
