@media screen and (min-width:320px) and (max-width : 767px) {
.list_det ul li img {
    padding-top: 1px;
    width: 70%;
}
    .list_det ul li {
    padding-right: 0;
}
    .btn.btn_deposit {
    background: #fffdfe none repeat scroll 0 0;
    border: 1px solid #ddd;
    color: #323c46;
    font-size: 13px;
    padding: 6px 15px;
    text-transform: capitalize;
}
    .login_statuts > p {
    color: #1e2832;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 3px;
}
    user_det h3 {
    color: #0091d0;
    font-size: 13px;
    margin-top: 10px;
}
    .full_cont {
    margin: 0 auto;
    width: 100%;
}
    .fees_list ul {
    margin: 0 auto;
    padding-left: 0;
    width: 100%;
}
    .trade_history_scroll {
    height: auto;
    overflow: hidden;
}
    .orders_table td, .orders_table th {
    height: auto;
    min-width: 142px;
}

.history_tab td, .history_tab th {
    height: auto;
    min-width: 82px;
}

.sell_order_list td, .sell_order_list th {
    height: auto;
    min-width: 82px;
}
    
    
.trade_history_scroll {
    overflow: hidden;
    height: auto;
}

.sell_order {
    overflow: hidden;
    height: auto;
}

.buy_order {
    overflow: hidden;
    height: auto;
}

.order_table_scroll {
    overflow: hidden;
    height: auto;
}
    .mCSB_horizontal.mCSB_inside > .mCSB_container {
    margin-bottom: 7px;
    margin-right: 0;
}
    .orders_table table thead th {
	border-top: none;
	font-weight: 400;
	text-align: center;
	color: #1e2832;
        line-height: 23px;
}
    
    .history_tab table tbody td {
    border: medium none;
    color: #495059;
    font-size: 14px;
    line-height: 30px;
    padding: 4px;
    text-align: center;
}
    
 .sub_header ul {
 margin: 0;
 overflow-x: scroll;
 padding-left: 15px;
 padding-right: 15px;
 white-space: nowrap;
}
 .sub_header ul li {
 margin-right: 10px;
 text-align: center;
}
 .currency_tab ul {
 overflow-x: scroll;
 white-space: nowrap;
}
 .trade_btn .btn-info {
 background: #f5f5f5 none repeat scroll 0 0;
 border: 1px solid #dcdcdc;
 color: #323c46;
 font-size: 13px;
 padding: 8px 28px;
 text-transform: capitalize;
}
 .ban_cont {
 left: 0;
 position: absolute;
 top: 161px;
 width: 100%;
}
 .ban_cont h2 {
 color: #fff;
 font-size: 24px;
 font-weight: 600;
 text-align: center;
 text-transform: uppercase;
}
 .ban_cont h4 {
 color: #fff;
 font-size: 16px;
 font-weight: 400;
 margin-top: 20px;
 text-align: center;
 text-transform: capitalize;
}
 .bitcoin_det ul {
 overflow-y: hidden;
 text-align: center;
 white-space: nowrap;
}
 .feature_title h3 {
 color: #4495d1;
 font-size: 21px;
 text-align: center;
 text-transform: uppercase;
}
 .feature_title p {
 color: #323c46;
 font-size: 14px;
 line-height: 30px;
 margin: 0 auto;
 text-align: center;
 width: 100%;
}
 .sec_box_det > h4 {
 color: #4495d1;
 font-size: 17px;
 text-transform: uppercase;
}
 .sec_box_det p {
 color: #323c46;
 font-size: 12px;
 line-height: 21px;
 text-transform: capitalize;
}
 .exchange h4 {
 color: #646e78;
 font-size: 20px;
 text-align: center;
 text-transform: capitalize;
}
 .exchange {
 padding: 25px;
}
 .start_acc > h4 {
 color: #fff;
 font-size: 22px;
 margin: 14px;
 text-align: center;
 text-transform: capitalize;
}
 .acc_btn {
 display: table;
 margin: 21px auto;
}
 .newsletter > h3 {
 color: #fff;
 float: left;
 font-size: 22px;
 margin: 19px 96px;
 text-align: center;
 text-transform: capitalize;
}
.main_menu ul li {
 float: left;
 line-height: 34px;
 padding-right: 0;
 position: relative;
 text-align: center;
 width: 50%;
}
 .main_menu ul {
 margin: 0 auto;
 width: 100%;
}
 .main_menu ul li::after {
 border: none;
}
 .copy_right {
 margin-bottom: 0;
}
    
     /* The side navigation menu */
.sidenav {
 background-color: #111;
 height: 100%;
 left: 0;
 overflow-x: hidden;
 padding: 0;
 position: fixed;
 top: 0;
 transition: all 0.5s ease 0s;
 width: 0;
 z-index: 1;
}

/* The navigation menu links */
.sidenav a {
 padding: 8px 8px 8px 32px;
 text-decoration: none;
 font-size: 25px;
 color: #818181;
 display: block;
 transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus {
 color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
 position: absolute;
 top: 0;
 right: 25px;
 font-size: 36px;
 margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
 transition: margin-left .5s;
 padding: 20px;
}
.dep_im.img-responsive {
    float: left;
    right: auto;
    top: 20px;
}

 .btn.menu_btn {
 background: #222 none repeat scroll 0 0;
 float: right;
 margin-right: 15px;
 margin-top: 10px;
 padding: 4px 11px;
 text-transform: uppercase;
}
 .btn.menu_btn i {
 color: #fff;
 font-size: 23px;
}
 .sidenav ul {
 padding-left: 30px;
}
 .nav_list .navbar-collapse ul li.active a {
 background: transparent none repeat scroll 0 0;
 border: medium none;
 color: #fff;
}
 .login_modal .modal-dialog {
 width: auto;
}
 .login_modal.reg_modal .modal-dialog {
 width: auto;
}
 .login_modal .login_body .form-control.wd50 {
 width: 100%;
}
 .btn_create_pop {
 background: #0191d0 none repeat scroll 0 0;
 border-radius: 5px;
 color: #fff;
 display: table;
 font-size: 16px;
 font-weight: 400;
 margin: 0 auto;
 padding: 7px 16px;
 text-transform: capitalize;
 width: 100%;
}
 .tabbable-line > .nav-tabs > li {
 margin-right: 2px;
 text-align: left;
 width: 100%;
}
 .change_pwd_form {
 margin: 0 auto;
 width: 100%;
}
 .login_history table thead th {
 background: transparent!important;
 border: none!important;
 color: #1e2832;
 font-size: 15px;
 font-weight: normal;
 padding-bottom: 5px;
 padding-right: 5px;
 padding-top: 10px;
 text-align: left!important;
 width: 77%!important;
}
 .profile {
 margin-top: 0;
}
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
 .sidenav {
padding-top: 15px;
}
 .sidenav a {
font-size: 18px;
}
}
 @media screen and (min-width:768px) and (max-width : 1024px) {
     
     .content {
    margin: 0 auto;
    max-width: 763px;
    padding: 0 0 1em;
    text-align: center;
    width: 80%;
}
    .upload_format > p {
    color: #323c46;
    font-size: 12px;
    text-align: center;
}
     
     
     .pro_box {
    background: #f5f5f5 none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.22), 0 0 0 1px rgba(0, 0, 0, 0);
    height: 136px;
    padding: 18px 0 35px 14px;
    position: relative;
}
    
.user_det h3 {
    color: #0091d0;
    font-size: 14px;
    margin-top: 10px;
}
.login_statuts > p {
    color: #1e2832;
    font-size: 11px;
    font-weight: 400;
    margin-bottom: 3px;
}
     .user_prof {
    align-items: center;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: flex;
    float: left;
    height: 80px;
    justify-content: center;
    margin-right: 24px;
    width: 80px;
}
     .fees_list ul {
    margin: 0 auto;
    padding-left: 0;
    width: 100%;
}
 .sub_header ul li {
 margin-right: 31px;
 text-align: center;
}
 .sub_header ul li a {
 color: #fff;
 font-size: 13px;
 text-transform: uppercase;
}
.sub_header ul li {
    margin-right: 15px;
    text-align: center;
}
 .currency_tab li a {
 color: #505a64;
 font-size: 8px;
 font-weight: 500;
 text-transform: uppercase;
}
/*
.login_modal .modal-dialog {
    width: auto;
}
    .login_modal.reg_modal .modal-dialog {
    width: auto;
}
*/
.banner {
 height: 650px;
 position: relative;
 width: 100%;
}
.box_feature h4 {
 color: #4495d1;
 font-size: 15px;
 margin-bottom: 20px;
 margin-top: 14px;
 text-align: center;
 text-transform: uppercase;
}
 .box_feature p {
 color: #323c46;
 font-size: 12px;
 text-align: center;
 text-transform: capitalize;
}
 .sec_box_det > h4 {
 color: #4495d1;
 font-size: 15px;
 text-transform: uppercase;
}
 .sec_box_det p {
 color: #323c46;
 font-size: 12px;
 line-height: 26px;
 text-transform: capitalize;
}
 .exchange h4 {
 color: #646e78;
 font-size: 26px;
 text-align: center;
 text-transform: capitalize;
}
 .main_menu ul {
 margin: 0 auto;
 width: 100%;
}
 .newsletter {
 margin-top: 30px;
}
}
 @media screen and (min-width:1024px) and (max-width : 1200px) {
.bitcoin_det ul li p {
 color: #6496c8;
 font-size: 12px;
 margin-bottom: 2px;
}
}

/*style edited by neela starts*/
@media screen and (min-width:320px) and (max-width : 767px) {
.inr_lef{width:100%;}
.cm_blubtn1{font-size:13px;}
.dep_blk1 h3{font-size:18px;}
.list-inline.field1 .fst_fd, .list-inline.field1 .sec_fd, .list-inline.field1 .mid_sep{ width:98%;}
.list-inline.field1 .mid_sep{margin-top:20px;}
.cm_frm1 .form-control-label.bnk_rigtx1 {    padding-left: 0px;}
}
@media screen and (min-width:600px) and (max-width : 767px) {
.cls_resp50{width:50% !important; float:left !important;}
.sub_header ul li a{font-size:13px;}
.sub_header ul li{margin-right:2px;}
.sub_header ul{text-align:center;}
}
@media screen and (min-width:480px) and (max-width : 767px) {
.bank_det{padding-left:30px;}
.cm_frm1 .form-control-label{font-size:13px;}
}
@media screen and (min-width:480px) and (max-width : 599px) {
.cls_rsmmp50{width:50% !important; float:left !important;}
}
@media screen and (min-width:320px) and (max-width : 599px) {
/*.sub_header{padding:14px 14px 6px;}*/
.sub_header ul li a{display:inline-block; padding-bottom:0px;}
.sub_header ul li{margin-right:4px;}
.sub_header ul li a{font-size:14px;}
}
@media screen and (min-width:320px) and (max-width : 479px) {
.bank_det{padding-left:0px; border:none; margin-top:10px;}
.with_lef::after{width:0;}
}
@media screen and (min-width:768px) and (max-width : 1199px) {
.dep_blk1 h3{font-size:18px;}
.login_history.cm_table1 .table tbody tr td{line-height:23px;}
}
@media screen and (min-width:992px) and (max-width : 1199px) {
}
@media screen and (min-width:768px) and (max-width : 991px) {
}





