* {
	box-sizing: border-box;
}
body, html {
	scrollbar-face-color: ThreeDFace !important;
	scrollbar-shadow-color: ThreeDDarkShadow !important;
	scrollbar-highlight-color: ThreeDHighlight !important;
	scrollbar-3dlight-color: ThreeDLightShadow !important;
	scrollbar-darkshadow-color: ThreeDDarkShadow !important;
	scrollbar-track-color: Scrollbar !important;
	scrollbar-arrow-color: ButtonText !important;
}
body {
	font-family: 'Roboto', sans-serif;
	color: #111;
	font-size: 15px;
	line-height: 20px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x:hidden;
	background:#fff;
}
a:hover {
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
	color: #282828;
}
p {
	margin-bottom: 15px;
	line-height: 1.5;
	color: #000000;
}
a {
	outline: 0;
}
a:hover, a:active, a:focus {
	outline: 0 !important;
	color:#111;
}
.mar-top-10 {
	margin-top:10px;
}
.mar-top-20 {
	margin-top:20px;
}
.mar-top-30 {
	margin-top:30px;
}
.mar-top-40 {
	margin-top:40px;
}
.mar-top-50 {
	margin-top:50px;
}
.mar-bot-10 {
	margin-bottom:10px;
}
.mar-bot-20 {
	margin-bottom:20px;
}
.mar-bot-30 {
	margin-bottom:30px;
}
.mar-bot-40 {
	margin-bottom:40px;
}
.mar-bot-50 {
	margin-bottom:50px;
}
.pad-top-10 {
	padding-top:10px;
}
.pad-top-20 {
	padding-top:20px;
}
.pad-top-30 {
	padding-top:30px;
}
.pad-top-40 {
	padding-top:40px;
}
.pad-bot-10 {
	padding-bottom:10px;
}
.pad-bot-20 {
	padding-bottom:20px;
}
.pad-bot-30 {
	padding-bottom:30px;
}
.pad-bot-40 {
	padding-bottom:40px;
}
.no-padd {
	padding:0px;
}
.no-margin {
	margin: 0px;
}
.text_center {
	text-align: center;
}
/*loader*/
#preloader {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1050;
	width: 100%;
	height: 100%;
	overflow: visible;
	background: rgba(0,0,0,0.8) url('../img/logo.png') no-repeat center center;
}
/*loader*/

/*banner slide show*/
.cb-slideshow, .cb-slideshow:after {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 0;
}
.cb-slideshow:after {
	content: '';
	background: transparent url('../images/pattern.png') repeat top left;
}
.cb-slideshow li {
	list-style: none;
}
.cb-slideshow li span {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	color: transparent;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: none;
	opacity: 0;
	z-index: 0;
	-webkit-backface-visibility: hidden;
	-webkit-animation: imageAnimation 36s linear infinite 0s;
	-moz-animation: imageAnimation 36s linear infinite 0s;
	-o-animation: imageAnimation 36s linear infinite 0s;
	-ms-animation: imageAnimation 36s linear infinite 0s;
	animation: imageAnimation 36s linear infinite 0s;
}
.cb-slideshow li div {
	z-index: 1000;
	position: absolute;
	bottom: 30px;
	left: 0px;
	width: 100%;
	text-align: center;
	opacity: 0;
	color: #fff;
	-webkit-animation: titleAnimation 36s linear infinite 0s;
	-moz-animation: titleAnimation 36s linear infinite 0s;
	-o-animation: titleAnimation 36s linear infinite 0s;
	-ms-animation: titleAnimation 36s linear infinite 0s;
	animation: titleAnimation 36s linear infinite 0s;
}
.cb-slideshow li div h3 {
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	font-size: 240px;
	padding: 0;
	line-height: 200px;
}
.cb-slideshow li:nth-child(1) span {
 background-image: url('../img/ban1.png');
}
.cb-slideshow li:nth-child(2) span {
 background-image: url('../img/ban1.png');
 -webkit-animation-delay: 6s;
 -moz-animation-delay: 6s;
 -o-animation-delay: 6s;
 -ms-animation-delay: 6s;
 animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) span {
 background-image: url('../img/ban1.png');
 -webkit-animation-delay: 12s;
 -moz-animation-delay: 12s;
 -o-animation-delay: 12s;
 -ms-animation-delay: 12s;
 animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) span {
 background-image: url('../img/ban1.png');
 -webkit-animation-delay: 18s;
 -moz-animation-delay: 18s;
 -o-animation-delay: 18s;
 -ms-animation-delay: 18s;
 animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) span {
 background-image: url('../img/ban1.png');
 -webkit-animation-delay: 24s;
 -moz-animation-delay: 24s;
 -o-animation-delay: 24s;
 -ms-animation-delay: 24s;
 animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) span {
 background-image: url('../img/ban1.png');
 -webkit-animation-delay: 30s;
 -moz-animation-delay: 30s;
 -o-animation-delay: 30s;
 -ms-animation-delay: 30s;
 animation-delay: 30s;
}
.cb-slideshow li:nth-child(2) div {
 -webkit-animation-delay: 6s;
 -moz-animation-delay: 6s;
 -o-animation-delay: 6s;
 -ms-animation-delay: 6s;
 animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) div {
 -webkit-animation-delay: 12s;
 -moz-animation-delay: 12s;
 -o-animation-delay: 12s;
 -ms-animation-delay: 12s;
 animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) div {
 -webkit-animation-delay: 18s;
 -moz-animation-delay: 18s;
 -o-animation-delay: 18s;
 -ms-animation-delay: 18s;
 animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) div {
 -webkit-animation-delay: 24s;
 -moz-animation-delay: 24s;
 -o-animation-delay: 24s;
 -ms-animation-delay: 24s;
 animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) div {
 -webkit-animation-delay: 30s;
 -moz-animation-delay: 30s;
 -o-animation-delay: 30s;
 -ms-animation-delay: 30s;
 animation-delay: 30s;
}
/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation {
 0% {
opacity: 0;
 -webkit-animation-timing-function: ease-in;
}
 8% {
opacity: 1;
 -webkit-animation-timing-function: ease-out;
}
 17% {
opacity: 1
}
 25% {
opacity: 0
}
 100% {
opacity: 0
}
}
@-moz-keyframes imageAnimation {
 0% {
opacity: 0;
 -moz-animation-timing-function: ease-in;
}
 8% {
opacity: 1;
 -moz-animation-timing-function: ease-out;
}
 17% {
opacity: 1
}
 25% {
opacity: 0
}
 100% {
opacity: 0
}
}
@-o-keyframes imageAnimation {
 0% {
opacity: 0;
 -o-animation-timing-function: ease-in;
}
 8% {
opacity: 1;
 -o-animation-timing-function: ease-out;
}
 17% {
opacity: 1
}
 25% {
opacity: 0
}
 100% {
opacity: 0
}
}
@-ms-keyframes imageAnimation {
 0% {
opacity: 0;
 -ms-animation-timing-function: ease-in;
}
 8% {
opacity: 1;
 -ms-animation-timing-function: ease-out;
}
 17% {
opacity: 1
}
 25% {
opacity: 0
}
 100% {
opacity: 0
}
}
@keyframes imageAnimation {
 0% {
opacity: 0;
 animation-timing-function: ease-in;
}
 8% {
opacity: 1;
 animation-timing-function: ease-out;
}
 17% {
opacity: 1
}
 25% {
opacity: 0
}
 100% {
opacity: 0
}
}
/* Animation for the title */
@-webkit-keyframes titleAnimation {
 0% {
opacity: 0
}
 8% {
opacity: 1
}
 17% {
opacity: 1
}
 19% {
opacity: 0
}
 100% {
opacity: 0
}
}
@-moz-keyframes titleAnimation {
 0% {
opacity: 0
}
 8% {
opacity: 1
}
 17% {
opacity: 1
}
 19% {
opacity: 0
}
 100% {
opacity: 0
}
}
@-o-keyframes titleAnimation {
 0% {
opacity: 0
}
 8% {
opacity: 1
}
 17% {
opacity: 1
}
 19% {
opacity: 0
}
 100% {
opacity: 0
}
}
@-ms-keyframes titleAnimation {
 0% {
opacity: 0
}
 8% {
opacity: 1
}
 17% {
opacity: 1
}
 19% {
opacity: 0
}
 100% {
opacity: 0
}
}
@keyframes titleAnimation {
 0% {
opacity: 0
}
 8% {
opacity: 1
}
 17% {
opacity: 1
}
 19% {
opacity: 0
}
 100% {
opacity: 0
}
}
/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span {
	opacity: 1;
}
 @media screen and (max-width: 1140px) {
 .cb-slideshow li div h3 {
font-size: 140px
}
}
@media screen and (max-width: 600px) {
 .cb-slideshow li div h3 {
font-size: 80px
}
}
/*banner style*/

.nav_list .navbar-default {
	background: transparent none repeat scroll 0 0;
	border: medium none;
}
.nav_list .navbar-collapse ul li a {
	color: #fff;
	font-size: 16px;
	margin: 10px 15px;
	padding: 9px 0;
	text-transform: capitalize;
}
.nav_list .navbar-collapse ul li.active a {
	background: transparent;
	color: #fff;
}
/* .nav_list .navbar-collapse ul.nav_left li a:hover:hover {
	transition-delay: 10s;
} */
.nav_list .navbar-collapse ul.nav_left li a:after {
	background: #ffffff none repeat scroll 0 0;
	bottom: 0;
	content: "";
	height: 2px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	transition: width 0.5s ease 0s, background-color 0.5s ease 0s;
	width: 0;
}
 .nav_list .navbar-collapse ul.nav_left li a::after {
 background: #ffffff none repeat scroll 0 0;
 bottom: 0;
 content: "";
 height: 2px;
 left: 0;
 margin: auto;
 position: absolute;
 right: 0;
 width: 0;
 transition: width 0.5s ease 0s, background-color 0.5s ease 0s;
 -ms-transition: width 0.5s ease 0s, background-color 0.5s ease 0s;
 -moz-transition: width 0.5s ease 0s, background-color 0.5s ease 0s;
 -webkit-transition: width 0.5s ease 0s, background-color 0.5s ease 0s;
}
.nav_list .navbar-collapse ul.nav_left li a:hover:after {
	background: #ffffff none repeat scroll 0 0;
	bottom: 0;
	content: "";
	height: 2px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	width: 100%;
}
.nav_list .navbar-collapse ul li a:focus {
	background:transparent;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #fff;
    background-color:transparent !important;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #fff !important;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #555;
    background-color:transparent !important;
}


/* .nav_list .navbar-collapse ul.nav_left li a:hover:hover {
	transition-delay: 10s;
} */
/* .nav_list .navbar-collapse ul.nav_left li a:hover {
    transition: 0.5 ease 0s;
    background:#337ab7!important;
} */

.nav_list .navbar-collapse .dropdown ul li a:hover {
transition: 0.5 ease 0s;
    background:#337ab7!important;
	color:#fff;
}
.nav_list .navbar-collapse .dropdown ul li a {
    margin: 0;
    padding: 9px 10px;
}
.nav_list .navbar {
	margin-top: 20px;
}
.btn.btn_create {
	/*    background: rgb(53, 62, 71) none repeat scroll 0 0;*/
    background: rgba(92, 62, 92, 0);
	background: -moz-linear-gradient(top, rgba(92, 62, 92, 0) 0%, rgba(33, 33, 33, 0.77) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(92, 62, 92, 0)), color-stop(100%, rgba(33, 33, 33, 0.77)));
	background: -webkit-linear-gradient(top, rgba(92, 62, 92, 0) 0%, rgba(33, 33, 33, 0.77) 100%);
	background: -o-linear-gradient(top, rgba(92, 62, 92, 0) 0%, rgba(33, 33, 33, 0.77) 100%);
	background: -ms-linear-gradient(top, rgba(92, 62, 92, 0) 0%, rgba(33, 33, 33, 0.77) 100%);
	background: linear-gradient(to bottom, rgba(92, 62, 92, 0) 0%, rgba(33, 33, 33, 0.77) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c3e5c', endColorstr='#212121', GradientType=0 );
	border: 1px solid #fff;
	color: #fff;
	display: table;
	font-size: 23px;
	margin: 50px auto;
	padding: 14px 28px;
	text-transform: inherit;
}
.btn.btn_create:hover {
	background: #242a30 none repeat scroll 0 0;
	transition: all 0.5s ease 0s;
}
.ban_cont h2 {
	color: #fff;
	font-size: 45px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
}
.ban_cont h4 {
	color: #fff;
	font-size: 24px;
	font-weight: 400;
	margin-top: 20px;
	text-align: center;
	text-transform: capitalize;
}
.ban_cont {
	left: 0;
	position: absolute;
	top: 30%;
	width: 100%;
}
.banner {
	background: rgba(0, 0, 0, 0) url("../img/ban1.png") no-repeat scroll 0 0 / cover;
	height: 100vh;
	width: 100%;
}
.feature_title h3 {
	text-align: center;
	text-transform: uppercase;
	color: #4495d1;
	font-size: 30px;
}
.box_feature h4 {
	color: #4495d1;
	font-size: 18px;
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: center;
	text-transform: uppercase;
}
.box_feature p {
	font-size: 14px;
	color: #323c46;
	text-transform: capitalize;
	text-align: center;
}
.box_feature img {
	margin: 0 auto;
}
.feature {
	margin-bottom: 30px;
	margin-top: 30px;
}
.security {
	background: #f5f5f5 none repeat scroll 0 0;
	padding-bottom: 30px;
}
.box_full_feature {
	margin-top: 43px;
}
.feature_title p {
	color: #323c46;
	font-size: 14px;
	line-height: 30px;
	margin: 0 auto;
	text-align: center;
	width: 42%;
}
.box_det {
	align-items: center;
	border: 2px solid #d3d3d3;
	border-radius: 50%;
	display: flex;
	float: left;
	height: 120px;
	justify-content: center;
	margin-right: 30px;
	width: 120px;
}
.key_se:hover .box_det {
	background: #fff none repeat scroll 0 0;
	border: 2px solid #54aad7;
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.25);
	transition: all 0.5s ease 0s;
}
.sec_box_det > h4:hover {
	cursor: pointer;
}
.sec_box_det {
	overflow: hidden;
}
.sec_box_det > h4 {
	color: #4495d1;
	font-size: 20px;
	text-transform: uppercase;
}
.sec_box_det p {
	color: #323c46;
	font-size: 14px;
	line-height: 26px;
	text-transform: capitalize;
}
.key_se {
    margin-top: 30px;
    overflow: hidden;
}
.secur_list img {
	float: right;
}
.company_logo {
	background: #efefef none repeat scroll 0 0;
	border-top: 1px solid #ddd;
	padding-bottom: 50px;
	padding-top: 50px;
}
.client_log ul li {
	width: 23%;
}
.client_log ul li img {
	margin: 0 auto;
}
.exchange {
	padding: 40px;
	padding-bottom: 40px;
}
.exchange h4 {
	font-size: 24px;
	color: #646e78;
	text-transform: capitalize;
	text-align: center;
	
	margin-top: -20px;
}
.exchange h4 span {
	color: #4495d1;
	font-size: 60px;
	
	position: relative;
    top: 12px;
}
.accout_login {
	background: #4595d2 none repeat scroll 0 0;
	padding-bottom: 30px;
	padding-top: 30px;
}
.start_acc > h4 {
	color: #fff;
	font-size: 22px;
	margin: 8px 0 0 0;
	text-transform: capitalize;
}
.btn_login {
	background: transparent none repeat scroll 0 0;
	border: 1px solid #fff;
	color: #fff;
	font-size: 16px;
	padding: 7px 21px;
	text-transform: capitalize;
}
.btn_login:hover {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #fff;
	color: #333;
	font-size: 16px;
	padding: 7px 21px; 
	text-transform: capitalize;
}
.btn_reg {
	background: #ffffff none repeat scroll 0 0;
	border: 1px solid #fff;
	border-radius: 4px;
	color: #333;
	font-size: 16px;
	padding: 7px 22px;
	text-transform: capitalize;
}
.btn_reg:hover {
	background: transparent;
	border: 1px solid #fff;
	border-radius: 4px;
	color: #fff;
	font-size: 16px;
	padding: 7px 22px;
	text-transform: capitalize;
}
.newsletter > h3 {
	color: #fff;
	float: left;
	font-size: 22px;
	margin: 8px 53px 0;
	text-transform: capitalize;
}
.newsletter .input-group .form-control {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #fff;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	height: 41px;
}
.newsletter .input-group .input-group-addon {
	background: #4496d2 none repeat scroll 0 0;
	border: 1px solid #fff;
	color: #fff;
	font-size: 16px;
}
.main_menu ul {
	width: 65%;
	margin: 0 auto;
}
.main_menu ul li a {
	font-family: 'Roboto', sans-serif;
	color: #323c46;
	font-size: 14px;
	text-transform: capitalize;
}
.main_menu ul li a:hover{color:#0091d0;}
.main_menu ul li a:hover, .main_menu ul li a:focus{text-decoration:none; outline:none;}
.main_menu ul {
	border-bottom: 1px solid #b4bec8;
	padding-bottom: 16px;
}
.social_media ul {
	text-align: center;
}
.social_media ul li {
	margin-right: 20px;
}
.sub_footer {
	background: #f6f7fb none repeat scroll 0 0;
	border-top: 1px solid #ddd;
}
.copy_right {
	margin-bottom: 16px;
}
.main_menu ul li {
	padding-right: 29px;
	position: relative;
}
.main_menu ul li:last-child {
	padding-right: 0;
}
.main_menu ul li::after {
 /* border-right: 2px solid #ddd;*/
 border-right:2px solid #aab4be;
 content: "";
 height: 13px;
 position: absolute;
 right: 9px;
 top: 5px;
}
 .main_menu ul li:last-child::after {
border: none;
}
.bitcoin_det {
	bottom: 15px;
	position: absolute;
	width: 100%;
}
.bitcoin_det ul {
	text-align: center;
}
.bitcoin_det ul li {
	color: #6496c8;
}
.bitcoin_det ul li p {
	color: #6496c8;
	margin-bottom: 2px;
}
.bitcoin_det ul li p.btc_amnt {
	color: #fff;
}
.nav_list .navbar-right li span {
	margin-right: 10px;
}
 .nav_list .navbar-right li::after {
 border-right: 2px solid #fff;
 content: "";
 height: 14px;
 position: absolute;
 top: 25px;
 transform: rotate(19deg);
 right: 0;
}
.nav_list .navbar-right li {
	position: relative;
}
 .nav_list .navbar-right li:last-child::after {
border: none;
}
.box_feature:hover {
	background: #fafafa none repeat scroll 0 0;
	box-shadow: 6px 6px rgba(238, 238, 238, 0.56);
	transition: all 0.5s ease 0s;
}
.box_feature {
	padding-bottom: 20px;
	padding-top: 20px;
	transition: all 0.5s ease 0s;
	cursor: pointer;
}
.copy_right p {
	font-family: 'Roboto', sans-serif;
	margin-top: 15px;
	color: #1a3543;
	font-size:14px;
	line-height:24px;
	text-transform:initial;
}
.social_media ul li a i {
	color: #646e77;
	font-size: 16px;
}
.social_media ul li a i:hover {
	color: #4496D0;
	transition: all 0.5s ease 0s;
}
.nav_list .navbar-collapse ul li.active a {
	background: transparent none repeat scroll 0 0;
	border-bottom: 2px solid #fff;
	color: #fff;
}
.nav_list .navbar-collapse ul li:hover.active a {
	border: none;
}
.nav_list .navbar-right li a:hover {
	color:#44ADE4;
	transition: all 0.5s ease 0s;
}
/*back to top*/

.to-top {
	position: fixed;
	z-index: 9999;
	bottom: 23px;
	right: 27px;
	display: none;
}
.to-top a.back-to-top {
	text-decoration: none;
	display: block;
	text-align: center;
	color: #fff;
	font-size: 2em;
	width: 50px;
	height: 50px;
	line-height: 50px;
	background: #000;
	opacity: 0.7;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.to-top a.back-to-top:hover {
	opacity: 1;
}
.nav_list .navbar-collapse .dropdown ul li a {
	color: #222;
}
/*login popup*/

.login_modal .modal-dialog {
	width: 363px;
}
.login_modal .modal-header h5 {
	color: #323c46;
	display: inline;
	font-size: 16px;
	font-weight: 400;
	text-transform: capitalize;
	margin-left: 20px;
}
.login_modal .modal-header .close {
	color: #646e78;
	font-size: 27px;
	opacity: 1;
}
.modal.in .modal-dialog {
	transform: translate(0px, 0px);
}
.login_modal .login_body .form-control {
	box-shadow: none;
	height: 40px;
	margin-bottom: 10px;
}
.btn_login_pop {
	background: #0191d0 none repeat scroll 0 0;
	border-radius: 5px;
	color: #fff;
	font-weight: 600;
	padding: 9px 16px;
	text-transform: uppercase;
	width: 100%;
}
.btn_login_pop:hover {
	background: #333;
	transition: all 0.5s ease 0s;
	color: #fff;
}
.forgot_sec {
	margin-top: 17px;
}
.forgot_lft {
	float: left;
	width: 50%;
}
.forgot_lft label {
	color: #323c46;
	font-size: 16px;
	padding-left: 0;
	text-transform: capitalize;
}
.forgot_rht > a {
	color: #323c46;
	text-transform: capitalize;																																																						
}
.forgot_rht {
	float: right;
	padding-top: 6px;
	border-bottom: 1px solid;
}
.forgot_sec > h5 {
	color: #323c46;
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 6px;
	margin-top: 26px;
	text-align: center;
	text-transform: capitalize;
}
.login_modal .modal-footer h4 {
	color: #323c46;
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 0;
	margin-top: 0;
	text-align: center;
	text-transform: capitalize;
}
.login_modal.reg_modal .modal-dialog {
	width: 563px;
}
.reg_body .checkbox label {
	color: #323c46;
	font-weight: 500;
	padding-left: 0;
	text-align: center;
	
}
.btn_create_pop {
	background: #0191d0 none repeat scroll 0 0;
	border-radius: 5px;
	color: #fff;
	display: table;
	font-size: 16px;
	font-weight: 400;
	margin: 0 auto;
	padding: 7px 16px;
	text-transform: capitalize;
	width: 31%;
}
.reg_body .checkbox {
	margin-bottom: 21px;
	text-align: center;
}
.captcha img {
	margin: 0 auto;
}
/*.login_modal .login_body .form-control.wd50 {
	float: left;
	margin-right: 19px;
	width: 48%;
}*/
.marrht0 {
	margin-right: 0!important;
}
.login_modal.reg_modal .modal-header {
	padding: 8px;
}
.login_body p {
	color: #323c46;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
}

.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
	color: #0191d0;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}



/*header_inner*/

.header_inner {
	background: #f6f6f6 none repeat scroll 0 0;
	padding: 18px;
}
.user_profile .dropdown a {
	color: #323c46;
	font-size: 16px;
}
.user_profile .dropdown a span {
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
}
.user_profile {
	float: right;
}
 .dropdown-toggle::after {
 border-left: 0.3em solid transparent;
 border-right: 0.3em solid transparent;
 border-top: 0.3em solid;
 content: "";
 display: inline-block;
 height: 0;
 margin-left: 0.3em;
 vertical-align: middle;
 width: 0;
}
.user_profile .dropdown-menu a {
	display: block;
	font-size: 14px;
	line-height: 26px;
	padding-left: 10px;
}
.user_profile .dropdown-menu a:hover {
  background-color: #0091d0;
  color: #ffffff;
}
.sub_header {
	background: #0091d0 none repeat scroll 0 0;
}
.sub_header ul {
	margin: 0;
	padding-left: 15px;
	padding-right: 15px;
}
.sub_header ul li.active {
    background: #fff none repeat scroll 0 0;
    color: #fff;
}
.sub_header ul li {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 1%;
}
.sub_header ul li.active a {
    color: #222;
}
.sub_header ul li:hover {
    background: #fff none repeat scroll 0 0;
    transition: all 0.5s ease 0s;
}

.sub_header ul li:hover a {
    color: #222;
}
.sub_header ul li:last-child {
	margin-right: 0;
}
.sub_header ul li a {
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  padding: 14px 11px;
  text-transform: uppercase;
}
.currency_tab li a {
	color: #505a64;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
}
.currency_tab ul li {
	margin-right: 6px;
}
.currency_tab ul li:last-child {
	margin-right: 0;
}
.currency_tab ul li.active a {
	border-bottom: 1px solid;
	color: #0091d0;
}
.currency_tab ul li:hover a {
	border-bottom: 1px solid;
	color: #0091d0;
}
.graph_sec {
	background: #fff;
	padding: 10px;
}
.title_trade h4 {
	border-bottom: 1px solid #dcdcdc;
	color: #0091d0;
	font-size: 20px;
	font-weight: 400;
	line-height: 50px;
	text-align: left;
	text-transform: uppercase;
	margin-bottom: 0;
}
.bal_qus {
	float: left;
	width: 50%;
}
.bal_ans {
	float: left;
	width: 50%;
}
.bal_qus > h4 {
	color: #1e2832;
	font-size: 16px;
	font-weight: 400;
	text-transform: capitalize;
	position: relative;
}
.bal_qus > h4:after {
	content: ":";
	position: absolute;
	right: 43px;
}
.bal_ans > h4 {
	color: #0091d0;
	font-size: 16px;
	font-weight: 400;
}
.trade_btn .btn-info {
	background: #f5f5f5 none repeat scroll 0 0;
	border: 1px solid #dcdcdc;
	color: #323c46;
	font-size: 16px;
	padding: 8px 36px;
	text-transform: capitalize;
}
.tab_group_list label {
	color: #1e2832;
	font-size: 16px;
	font-weight: 400;
	text-transform: capitalize;
}
.tab_group_list .form-control {
	border: 1px solid #dcdcdc;
	box-shadow: none;
	height: 46px;
	color: #222;
	font-size: 16px;
}
.tab_group_list .input-group-addon {
	background: transparent none repeat scroll 0 0;
	color: #0091d0;
	font-size: 16px;
	padding-left: 10px;
	text-transform: uppercase;
}
.tab_group_list {
	margin-top: 16px;
}
.fee_qus {
	width: 50%;
	float: left;
}
.fee_ans {
	width: 50%;
	float: left;
}
.fee_qus h4 {
	color: #1e2832;
	text-transform: capitalize;
	font-size: 16px;
	position: relative;
	font-weight: 400;
}
.fee_ans h4 {
	color: #1e2832;
	text-transform: capitalize;
	font-size: 16px;
	font-weight: 400;
}
.button_final {
	display: table;
	margin: 20px auto;
}
.btn_btc {
	background: #00A650;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	padding: 8px 20px;
	border-radius: 5px;
}
.btn_sell {
	background: #F11716;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	padding: 8px 20px;
	border-radius: 5px;
}
 .fee_qus h4::after {
 content: ":";
 position: absolute;
 right: 43px;
}
.trade_btn .btn-info.active {
	background:#63788B;
	color: #fff;
}
.red {
	color: #ff0000!important;
}
.green {
	color: #00a651!important;
}
.history_tab table thead th {
    border-bottom: 1px solid #ddd;
    box-shadow: none;
    color: #0091d0;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 15px;
    text-align: center;
}
.history_tab table tbody td {
    border: medium none;
    color: #495059;
    font-size: 10px;
    line-height: 22px;
    padding: 4px;
    text-align: center;
}
.table_order table thead th {
    border-bottom: 1px solid #ddd;
    box-shadow: none;
    color: #1e2832;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 40px;
    text-align: center;
}
.table_order table tbody td {
    border: medium none;
    color: #1e2832;
    font-size: 14px;
    line-height: 37px;
    padding: 0 5px;
    text-align: center;
}
.orders_table table tbody td {
    border: medium none;
    line-height: 22px;
    text-align: center;
}
.orders_table table thead th {
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd!important;
	font-weight: 400;
	text-align: center;
	color: #1e2832;
}
/* Tabs panel */
.tabbable-panel {
	border:1px solid #eee;
	padding: 10px;
}
/* Default mode */
.tabbable-line > .nav-tabs {
	border: none;
	margin: 0px;
}
.tabbable-line > .nav-tabs > li {
	margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
	border: 0 none;
	color: #323c46;
	font-size: 16px;
	margin-right: 0;
	text-transform: capitalize;
}
.tabbable-line > .nav-tabs > li > a > i {
	color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
	border-bottom: 2px solid #0091d0;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
	border: 0;
	background: none !important;
	color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
	color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
	margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
	border-bottom: 2px solid #0091d0;
	position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
	border: 0 none;
	color: #0091d0;
	text-transform: capitalize;
}
.tabbable-line > .nav-tabs > li.active > a > i {
	color: #404040;
}
.tabbable-line > .tab-content {
	margin-top: -3px;
	background-color: #fff;
	border: 0;
/*	border-top: 1px solid #c8c8c8;*/
	padding: 15px 0;
	position: relative;
}
.tabbable-line > .tab-content::after {
  background-color: #c8c8c8;
  content: "";
  height: 1px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 84%;
}
.portlet .tabbable-line > .tab-content {
	padding-bottom: 0;
}
/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
	border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
	margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
	border-bottom: 0;
	border-top: 4px solid #fbcdcf;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
	margin-bottom: -2px;
	border-bottom: 0;
	border-top: 4px solid #f3565d;
}
.tabbable-line.tabs-below > .tab-content {
	margin-top: -10px;
	border-top: 0;
	border-bottom: 1px solid #eee;
	padding-bottom: 15px;
}
.tabbable-line.tab_center_css ul {
	display: table;
	margin: 0 auto;
}
.profile .tabbable-panel {
	border: medium none;
}
.title_pro h3 {
	color: #0091d0;
	font-size: 18px;
	margin-top: 0;
	text-align: center;
	text-transform: uppercase;
}
.profile_form .form-group label {
	color: #323c46;
	font-size: 15px;
	font-weight: 400;
	line-height: 34px;
	
}
.form_inp .form-control {
	border-radius: 5px;
	font-size: 16px;
	height: 42px;
}
.address_details {
	background: #fafafa none repeat scroll 0 0;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	padding-bottom: 30px;
	padding-top: 30px;
}
.personal_info {
	padding-bottom: 30px;
	padding-top: 15px;
}
.bank_details {
	padding-bottom: 30px;
	padding-top: 15px;
}
.update_btn_box {
	display: table;
	margin: 0 auto;
}
.update_btn {
	background: #0090CF;
	color: #fff;
	text-transform: uppercase;
	padding: 8px 18px;
	border-radius: 5px;
	font-size: 16px;
}
.update_btn:hover {
	background: #333;
	transition: all 0.5s ease 0s;
	color: #fff;
}
.foot_bor {
	border-top: 1px solid #ddd;
}
.change_pwd_form {
	width: 50%;
	margin: 0 auto;
}
.scan_sec img {
	margin: 0 auto;
}
.scan_sec h4 {
	text-transform: uppercase;
	font-size: 26px;
	color: #323232;
	text-align: center;
}
.login_history table thead th {
	background: #fafafa none repeat scroll 0 0;
	font-weight: normal;
	padding: 10px!important;
	color: #1e2832;
	text-align: center;
. font-size: 14px;
}
.login_history table tbody tr td {
	border-top: 1px solid #e6e6e6;
	color: #1e2832;
	font-size: 14px;
	line-height: 28px;
	text-align: center;
}
.login_history table {
	border: 1px solid #ddd;
}
div.dataTables_wrapper div.dataTables_filter input {
	border-radius: 3px;
	box-shadow: none;
	display: inline-block;
	height: 36px;
	margin-left: 0.5em;
	width: 250px;
}
div.dataTables_wrapper div.dataTables_length label {
	color: #323c46;
	font-size: 14px;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
}
div.dataTables_wrapper div.dataTables_length select {
	display: inline-block;
	font-size: 15px;
	height: 38px;
	margin-left: 10px;
	margin-right: 10px;
	width: 75px;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
	display: inline-block;
	margin: 2px 0;
	white-space: nowrap;
}
.login_history {
	margin-top: 30px;
}
.profile {
	margin-top: 39px;
}
.trade_btn .btn-info:hover, .trade_btn .btn-info:focus {
	background: #63788b none repeat scroll 0 0;
	color: #fff;
	transition: all 0.5s ease 0s;
	border: 1px solid #fff;
}


 @media only screen and (max-width: 800px) {
 .flip-scroll .cf:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
 .flip-scroll * html .cf {
zoom: 1;
}
 .flip-scroll *:first-child+html .cf {
zoom: 1;
}
 .flip-scroll table {
width: 100%;
border-collapse: collapse;
border-spacing: 0;
}
 .flip-scroll th, .flip-scroll td {
margin: 0;
vertical-align: top;
}
 .flip-scroll th {
text-align: left;
}
 .flip-scroll table {
display: block;
position: relative;
width: 100%;
}
 .flip-scroll thead {
display: block;
float: left;
}
 .flip-scroll tbody {
display: block;
width: auto;
position: relative;
overflow-x: auto;
white-space: nowrap;
}
 .flip-scroll thead tr {
display: block;
}
.flip-scroll th {
    background: #f1f1f1 none repeat scroll 0 0;
    display: block;
    text-align: right;
}

 .flip-scroll tbody tr {
display: inline-block;
vertical-align: top;
}
 .flip-scroll td {
display: block;
min-height: 1.25em;
text-align: left;
}

/* sort out borders */
#flip-scroll th {
border-bottom: 0;
border-left: 0;
}
#flip-scroll td {
border-left: 0;
border-right: 0;
border-bottom: 0;
}
#flip-scroll tbody tr {
border-left: 1px solid #babcbf;
}
#flip-scroll th:last-child, .flip-scroll td:last-child {
/*border-bottom: 1px solid #babcbf;*/
}
}
.bor_lef {
	border-left: 1px solid #ddd;
}

/*style edited by neela starts*/

/*deposit btc starts*/
@font-face {
font-family: 'Poppins-Regular';
src: url('../fonts/Poppins-Regular.eot');
src: url('../fonts/Poppins-Regular.woff2') format('woff2'), url('../fonts/Poppins-Regular.woff') format('woff'), url('../fonts/Poppins-Regular.ttf') format('truetype'), url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg'), url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype');
font-weight: normal;
font-style: normal;
}
.inner_title h4 {
    border-bottom: 1px solid #d3d3d3;
    color: #0091d0;
    font-size: 20px;
    font-weight: bold;
    line-height: 32px;
    margin: 18px 0;
    padding-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}
.cm_frm1 .form-control-label {
    color: #323232;    
    font-size: 16px; margin-top:6px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 8px;
}
.inner_title h4, .cm_frm1 .form-control-label, .dep_blk1 h3, .notif_blk1 h4, .notif_blk1 p {font-family: "Roboto",sans-serif;}
.cm_frm1 .form-control-label, .dep_blk1 h3, .notif_blk1 h4, .notif_blk1 p { text-transform:initial;}
.dep_blk1 h3 {    word-break: break-all;
    color: #323c46;
    font-size: 24px;
    line-height: 34px;
    margin: 4px 0;
}
.dep_blk1 .cm_blubtn1 {
    margin-top: 22px;
}
.dep_im.img-responsive {
    float: right;  margin-bottom: 10px;
    position: relative;
    right: 30px;
    top: 4px;
}
.cm_blubtn1 {
    background: #0091d0;
    border: 1px solid #0091d0;
    border-radius: 4px;
    color: #ffffff;
    font-family: "Poppins-Regular";
    font-size: 16px;
    line-height: 26px;
    padding: 6px 18px;
    text-transform: uppercase;
}
.notif_blk1 {
    padding-top: 10px;
}
.notif_blk1 h4 {
    color: #0091d0;
    font-size: 16px;
    line-height: 24px;
    margin: 10px 0 8px;
}
.notif_blk1 h4 span {
    display: inline-block;
    position: relative;
}
.notif_blk1 h4 span::after {
    background: #0091d0;
    bottom: 2px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
}
.notif_blk1 p {
    color: #323232;
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 10px;
}
.cm_blubtn1:hover, .cm_blubtn1:focus {    
	background: #333333;
    color: #ffffff;
    transition: all 0.5s ease 0s;-moz-transition: all 0.5s ease 0s;-webkit-transition: all 0.5s ease 0s;
    border-color: #333333;
    outline: none;
    text-decoration: none;
}
.select_style1 select {
    appearance: none; -moz-appearance: none; -webkit-appearance: none;
    border: none;
    color: #323232;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    height: 42px;
    line-height: 28px;
    padding-left: 6px;
    text-transform: uppercase;
    width: 100%;
}
.select_style1 select option{padding:5px 10px;}
.select_style1 {
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    height: 44px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.select_style1::after, .select_style1::before {
    background: #ffffff;
    cursor: pointer;
    height: 100%;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 36px;
}
.select_style1::before {
    color: #1e2832;
    content: "\f107";
    font-family: "FontAwesome";
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    z-index: 2;
}
.select_style1::after {
    content: "";
    z-index: 1;
}
.login_history.cm_table1 .table tbody tr td span.text-warning {
    color: #f37021;
}
.login_history.cm_table1 .table tbody tr td span.text-success {
    color: #00a76d;
}
.login_history.cm_table1 .table tbody tr td span.text-danger {
    color: #ed1c24;
}
.login_history.cm_table1 .table thead tr th{color:#323c46; font-size:14px;font-family: "Roboto",sans-serif; text-transform:initial;}
.login_history.cm_table1 .table tbody tr td{color:#1e2832; font-size:14px;font-family: "Roboto",sans-serif; text-transform:initial;}
.cm_table1 table.dataTable thead .sorting_asc::after, .cm_table1 table.dataTable thead .sorting::after {    content: "";}
.login_history.cm_table1 .table thead tr th, .login_history.cm_table1 .table tbody tr td {    text-align: left;}
.login_history.cm_table1 .table tbody tr td.snum{text-align:center;}
.cm_table1 .dataTables_wrapper div.dataTables_length {color:#323c46;font-size:14px;font-family: "Roboto",sans-serif; text-transform:initial;}
.cm_table1 .dataTables_wrapper div.dataTables_length select{background:url(../images/select1.png) no-repeat scroll right center #fff;appearance: none; -moz-appearance: none; -webkit-appearance: none;    border-color: #c8c8c8;    box-shadow: none;    height: 34px;    padding-left: 5px; width:60px; margin-left:6px; margin-right:6px;}
.cm_table1 .dataTables_wrapper .dataTables_filter {
    font-family: "Roboto",sans-serif;
    font-size: 0;
}
.cm_table1 .dataTables_wrapper .dataTables_filter .form-control {
    font-size: 14px;
}
.cm_table1 .dataTables_wrapper .dataTables_info, .cm_table1 .dataTables_wrapper .dataTables_paginate .pagination li a, 
.cm_table1 .dataTables_wrapper .dataTables_paginate .pagination li span{    font-family: "Roboto",sans-serif;}
.cm_table1 .table tbody tr:hover {   background: #f0f5fa;    cursor: pointer;}
.login_history.cm_table1{margin-top:42px;}
.dep_tablesc {    margin-bottom: 46px;}
/*deposit btc ends*/

/*deposit inr starts*/
.cm_frm1 .form-control::-moz-placeholder {
    color: #b4b4b4;
}
.cls_cminpgrp2 .form-control, .cm_frm1 .form-control {
    border-color: #c8c8c8;
    box-shadow: none;
    font-family: "Roboto",sans-serif;
    font-size: 15.9px;
    height: 44px;
    text-transform: initial;
}
.cls_cminpgrp2 .input-group-addon {
    background: #ffffff none repeat scroll 0 0;
    border-color: #c8c8c8;
    color: #323232;
    font-family: "Roboto",sans-serif;
    font-size: 15.9px;
    padding-left: 10px;
}
.tarea1 {
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    font-family: "Roboto",sans-serif;
    font-size: 15.9px;
    height: 85px;
    line-height: 24px;
    padding: 10px;
    resize: none;
    width: 100%;
}
.tarea1::-moz-placeholder {
    color: #b4b4b4;
    opacity: 1;
}
.hint1 {
    color: #505a64;
    display: inline-block;
    font-family: "Roboto",sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 4px;
    text-transform: initial;
}
.cm_frm1 .form-group {
    margin-bottom: 7px;
}
.cm_frm1 .cmnt_blk .form-control-label {
    margin-top: 0;
}
.dep_blk1 .cmnt_blk .cm_blubtn1 {
    margin-top: 18px;
}
.dep_tableinrsc .login_history.cm_table1 {
    margin-top: 34px;
}
.cm_head1 h4 {
    border-bottom: 1px solid #d3d3d3;
    color: #0091d0;
    font-family: "Roboto",sans-serif;
    font-size: 15.99px;
    font-weight: 500;
    line-height: 24px;
    margin: 0 0 8px;
    padding-bottom: 8px;
    text-transform: uppercase;
}
.bank_det {
    border-left: 1px solid #d3d3d3;
    margin-top: 5px;
    padding-left: 64px;
}
.inr_lef {
    width: 94%;
}
.fileUpload {    position: relative;    overflow: hidden;    margin: 0px;}
.fileUpload input.upload { width:100%; height:41px;    position: absolute;    top: 0;    right: 0;    margin: 0;    padding: 0;    font-size: 20px;    cursor: pointer;    opacity: 0;    filter: alpha(opacity=0);}
.btn.cm_ashbtn1 {    background: #fafafa;    border: 1px solid #c8c8c8;    border-radius: 4px;    color: #323c46;    font-family: "Roboto",sans-serif;
    font-size: 15.99px;    line-height: 25px;    padding: 8px 10px;   text-transform: initial;}
.btn.cm_ashbtn1:hover, .btn.cm_ashbtn1:focus {    background: #ddd;    color: #222;}
.fileUpload .uplo_im1 {    margin-right: 5px;    position: relative;    top: -2px;}
/*deposit inr ends*/

/*withdraw btc starts*/
.fd_col{width:100%;}
/*withdraw btc ends*/

/*withdraw inr starts*/
.dep_blk1 .with_blk1 .cm_blubtn1 {
    margin-top: 2px;
}
.with_lef {
    position: relative;
}
.with_lef::after {
    background: #d3d3d3 none repeat scroll 0 0;
    content: "";
    height: 100%;
    position: absolute;
    right: -15px;
    top: 0;
    width: 1px;
}
.bank_det.withbank_det {
    border: medium none;
}
/*withdraw inr ends*/

/*exchange starts*/

.act_link {
    color: #0091d0;
    text-decoration: underline;
}
.act_link:hover, .act_link:focus {
    color: #000000;
    outline: medium none;
    text-decoration: underline;
}
.empty_tx {
    display: inline-block;
    text-align: center;
    width: 40px;
}
.exch_lis {
    padding-bottom: 50px;
    padding-top: 28px;
}
.field1 .select_style1 {
    margin-bottom: 30px;
}
.list-inline.field1 {
    margin-bottom: 18px;
    margin-left: 0;
}
.list-inline.field1 .fst_fd, .list-inline.field1 .sec_fd {
    width: 40%;
}
.list-inline.field1 .mid_sep {
    width: 18.6%;
}
.list-inline.field1 li {
    padding-left: 0;
    padding-right: 0;
}
.list-inline.field1 .sec_fd {
    float: right;
}
.cm_head2 h3 {
    color: #0091d0;
    font-size: 20px;
    line-height: 30px;
    margin: 4px 0 16px;
}
.cm_head2 h3, .cm_head2 h4 {
    font-family: "Roboto",sans-serif;
    text-transform: initial;word-break:break-all;
}
.cm_head2 h4 {
    color: #64788c;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    margin: 10px 0 6px;
}
.cm_blupan {
    background: #f7fafc none repeat scroll 0 0;
    border: 1px solid #dce6f0;
    border-radius: 6px;
}
.cm_panbdy1 {
    border-bottom: 1px solid #dce6f0;
    padding: 38px 30px 40px;
}
.cm_head2 h3.exc_hd {
    margin-bottom: 20px;
}
.bank_lis1 {
    min-height: 310px;
}
.cm_frm1 .form-control-label.bnk_rigtx1 {
    padding-left: 18px;
}
/*exchange ends*/

/*style edited by neela ends*/



.notice_title h4 {
    color: #0091d0;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}


.notice_title > h5 {
    color: #646464;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.notice_title ul {
    display: table;
    margin: 0 auto;
}

.notice_title li {
    color: #323c46;
    font-size: 16px;
    line-height: 38px;
    list-style: outside none none;
    text-align: left;
    text-transform: capitalize;
    position: relative;
}


.notice_title li::after {
    color: #0091d0;
    content:"\f105";
    font-family: fontawesome;
    left: -21px;
    position: absolute;
    font-size: 20px;
}
    
    .btn_submit {
    background: #0091d0 none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    display: table;
    margin: 22px auto;
    padding: 10px 22px;
    font-size: 16px;
    text-transform: uppercase;
}

.about_cont h4 {
    color: #0091d0;
    font-size: 20px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.about_cont p {
    color: #323c46;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;
    text-transform: capitalize;
}




.about_cont img {
    margin: 0 auto;
}

.about_cont.safe_cont img {
    margin-bottom: 20px;
    margin-top: 46px;
}


.about_cont.safe_cont > h4 {
    margin-top: 0;
}

.test_img {
    background: #f6f6f8 none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 50%;
    float: left;
    height: 125px;
    margin-right: 29px;
    overflow: hidden;
    width: 125px;
}

.test_cont {
    overflow: hidden;
}

.test_cont > h4 {
    color: #323c46;
    font-family: poppins;
    font-size: 14px;
    font-weight: normal;
    line-height: 29px;
    padding-right: 7px;
}

.test_cont h3 {
    color: #0091d0;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
}

.test_cont > h5 {
    color: #323232;
    font-size: 14px;
    font-weight: normal;
    text-transform: capitalize;
}


.trade_history_scroll {
    overflow: hidden;
    height: 904px;
}

.sell_order {
    overflow: hidden;
    height: 365px;
}

.buy_order {
    overflow: hidden;
    height: 365px;
}

.order_table_scroll {
    overflow: hidden;
    height: 370px;
}



/*
.vino1 {
    overflow: hidden;
    height: 100px;
}
*/


.history_tab thead, .history_tab tbody {
    display: block;
}




.sell_order_list thead, .sell_order_list tbody {
    display: block;
}


.buy_order_list thead, .buy_order_list tbody {
    display: block;
}

.orders_table thead, .orders_table tbody {
    display: block;
}
.orders_table td, .orders_table th {
    height: 25px;
    width: 160px;
	font-size:14px;
}

.history_tab td, .history_tab th {
    height: 25px;
    min-width: 82px;
}

.sell_order_list td, .sell_order_list th {
    height: 25px;
    min-width: 82px;
}

.blog_cont > h4 {
    color: #0091d0;
    font-size: 18px;
    line-height: 36px;
    text-transform: capitalize;
}
.blog_cont > p {
    color: #323c46;
    font-family: poppins;
    font-size: 14px;
    line-height: 29px;
}
.blog_img {
    border: 1px solid #ddd;
    height: 186px;
}

.blog_img img {
    margin: 0 auto;
    max-height: 100%;
}

.blog_cont > h5 {
    font-weight: 400;
    margin-bottom: 20px;
}

.blog_cont h5 span {
    float: left;
    margin-right: 15px;
    font-size: 12px;
    font-family: "Poppins";
}

.comments h4 {
    font-size: 16px;
    color: #0091d0;
    text-transform: uppercase;
        font-family: "Poppins";
       line-height: 38px;
        border-bottom: 1px solid #ddd;
}

.cate_list > h4 {
    border-bottom: 1px solid #ddd;
    color: #0091d0;
    font-size: 16px;
    line-height: 38px;
    text-transform: uppercase;
        font-family: "Poppins";
}

.side_panel .form-control {
    background: rgba(0, 0, 0, 0) url("../img/search.png") no-repeat scroll 96% 49%;
    box-shadow: none;
    font-size: 16px;
    height: 39px;
    padding-right: 23px;
}

.side_panel {
    margin-top: 32px;
}

.cate_list > ul li {
    color: #323c46;
    font-family: poppins;
    font-size: 14px;
    line-height: 34px;
    list-style: outside none none;
    text-transform: capitalize;
}

.comments {
    margin-top: 40px;
}

.com_prof {
    background: #DDDDDD;
    float: left;
    height: 51px;
    margin-right: 16px;
    overflow: hidden;
    width: 50px;
    border-radius: 5px;
}

.prof_cmments {
    overflow: hidden;
}

.prof_cmments > h4 {
    color: #323c46;
    font-size: 14px;
    font-weight: normal;
    margin-top: 0;
}

.prof_cmments > p {
    color: #646e78;
    font-size: 12px;
}

.cate_list > ul {
    padding-left: 0;
}

.cate_list > ul {
    padding-left: 0;
}

.commen_sec {
    border-top: 1px solid #ddd;
}

.commen_sec h4 {
    color: #0091d0;
    font-family: poppins;
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: 30px;
    text-transform: capitalize;
}


.prof_cmments.prf_det > p {
    margin-bottom: 7px;
}
.prof_cmments.prf_det {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding-left: 12px;
    padding-top: 5px;
}

.prof_cmments.prf_det > h4 {
    color: #323c46;
    font-size: 14px;
    margin-bottom: 3px;
    margin-top: 8px;
}
.commen_sec > p {
    color: #646e78;
    font-size: 14px;
    text-transform: capitalize;
}

.leave_form .form-control {
    box-shadow: none;
    height: 42px;
}

.leave_form label {
    color: #323c46;
    font-weight: 400;
    text-transform: capitalize;
}


.leave_form textarea {
    height: 120px!important;
}


.btn_submit_leave {
    background: #0091d0 none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    padding: 8px 22px;
    text-transform: capitalize;
    margin-bottom: 40px;
}

.btn_submit_leave:hover {
    background: #333;
    transition: all 0.5s ease 0s;
    color: #fff;
}
    
.blog_img.blog_det {
    height: 213px;
    margin-top: 64px;
}


.fees_list ul {
    padding-left: 0;
}

.fees_list ul li {
    list-style: none;
}

.fee_per > h4 {
    color: #0091d0;
    font-size: 20px;
    text-align: left;
    text-transform: uppercase;
}

.fee_per {
    float: left;
    width: 50%;
}


.fees_stru > h4 {
    color: #0091d0;
    font-size: 20px;
    text-transform: uppercase;
}


.fees_stru > p {
    color: #323c46;
    font-size: 16px;
    line-height: 28px;
}

.fee_per > h5 {
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    text-transform: capitalize;
}

.fees_stru > h4 {
    color: #0091d0;
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.fees_list.clearfix li:first-child {
    border: medium none;
}

.fees_list ul {
    margin: 0 auto 0 72px;
    padding-left: 0;
    width: 75%;
}

.fees_list ul li {
    border-bottom: 1px solid #ddd;
    list-style: outside none none;
    overflow: hidden;
}

.blog_sec.fees_sec {
    margin-bottom: 60px;
}


.cont_ph {
    float: left;
    width: 10%;
}

.ph_num {
    overflow: hidden;
}

.ph_num > p {
    margin-bottom: 2px;
}

.cont_list h4 {
    color: #0091d0;
    font-size: 16px;
    margin-bottom: 22px;
    margin-top: 0;
    text-transform: uppercase;
}

.form_contact .form-control {
    box-shadow: none;
    height: 40px;
}

.form_contact .form-group {
    margin: 12px 0;
}

.full_cont {
    margin: 0 auto;
    width: 67%;
}

.contact_list > p {
    color: #323c46;
    font-size: 14px;
    line-height: 32px;
    text-transform: capitalize;
}

.ph_num > p {
    color: #323c46;
    font-size: 16px;
}

.social_list li a i {
    align-items: center;
    border: 1px solid #323c46;
    border-radius: 50%;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 30px;
    color: #646464;
}

.social_list li a i:hover {
    background: #0091D0;
    color: #fff;
    transition: all 0.5s ease 0s;
}

.social_list {
    margin-top: 21px;
}

.form_contact textarea {
    height: 90px!important;
}


.bal_det {
    float: left;
    margin-right: 20px;
}

.coin_list {
    overflow: hidden;
}

.bal_det {
    float: left;
    margin-right: 9px;
    margin-top: 8px;
    width: 40%;
}

.bal_det > h4 {
    font-weight: bold;
    line-height: 33px;
    text-transform: uppercase;
}

.bal_det span {
    float: left;
    height: 42px;
    margin-right: 10px;
    vertical-align: middle;
    width: 32px;
}

.bal_det span img {
    max-width: 100%;
}

.coin_list > h4 {
    color: #0091d0;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 3px;
}

.coin_list > p {
    color: #1e2832;
    font-size: 16px;
}

.wallet_title > h4 {
    color: #0091d0;
    margin-bottom: 20px;
    margin-top: 20px;
    text-transform: uppercase;
}

.list_det ul li {
    padding-right: 5px;
}

.btn.btn_deposit {
    background: #fffdfe none repeat scroll 0 0;
    border: 1px solid #ddd;
    color: #323c46;
    font-size: 16px;
    padding: 6px 19px;
    text-transform: capitalize;
}

.list_det ul li img {
    padding-top: 12px;
}

.back_shad {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.22), 0 0 0 1px rgba(0, 0, 0, 0);
    border-radius: 5px;
}


.back_shad {
    margin-bottom: 8px;
}


.pro_box {
    background: #f5f5f5 none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.22), 0 0 0 1px rgba(0, 0, 0, 0);
    height: 136px;
    padding: 18px 0 39px 25px;
    position: relative;
}

.user_prof {
    align-items: center;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: flex;
    float: left;
    height: 100px;
    justify-content: center;
    margin-right: 24px;
    width: 100px;
}

.user_det {
    overflow: hidden;
}

.user_det > h4 {
    border-bottom: 1px solid #ddd;
    color: #0091d0;
    font-size: 18px;
    line-height: 44px;
    margin-top: 0;
    text-transform: uppercase;
    width: 190px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user_det > h5 {
    color: #1e2832;
    font-family: poppins;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 0;
}

.login_statuts {
    float: left;
    width: 50%;
}

.login_stat {
    overflow: hidden;
    text-align: right;
    width: 50%;
}
.login_statuts > p {
    color: #1e2832;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 3px;
}
.login_bor {
    border-bottom: 1px solid #ddd;
    margin-bottom: 13px;
    margin-top: 11px;
}

.user_det h3 {
    color: #0091d0;
    font-size: 20px;
    margin-top: 10px;
}


.btn_edit {
    
    background:#0091D0;
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    text-transform: capitalizel
    font-size: 14px;
    font-size: 14px;
    font-size: 14px;
}


.btn_edit {
    background: #0091d0 none repeat scroll 0 0;
    color: #fff;
    font-family: poppins;
    font-size: 14px;
    padding: 7px 21px;
    text-transform: capitalize;
}


.choose_btn {
    position: absolute;
    right: 5px;
    top: -33px;
    z-index: -1;
}


.back_shad:hover {
    background: #fcfcfc none repeat scroll 0 0;
    transition: all 0.5s ease 0s;
}

.btn_deposit:hover {
    background: #0091d0 none repeat scroll 0 0;
    color: #fff;
    transition: all 0.5s ease 0s;
}

/* style 5 */

.inputfile-5 + label {
    color: #d3394c;
}

.inputfile-5:focus + label,
.inputfile-5.has-focus + label,
.inputfile-5 + label:hover {
    color: #722040;
}

.inputfile-5 + label figure {
    width: 100px;
    height: 135px;
    background-color: #d3394c;
    display: block;
    position: relative;
    padding: 30px;
    margin: 0 auto 10px;
}

.inputfile-5:focus + label figure,
.inputfile-5.has-focus + label figure,
.inputfile-5 + label:hover figure {
    background-color: #722040;
}

.inputfile-5 + label figure::before,
.inputfile-5 + label figure::after {
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
}

.inputfile-5 + label figure::before {
    border-top: 20px solid #dfc8ca;
    border-left: 20px solid transparent;
}

.inputfile-5 + label figure::after {
    border-bottom: 20px solid #722040;
    border-right: 20px solid transparent;
}

.inputfile-5:focus + label figure::after,
.inputfile-5.has-focus + label figure::after,
.inputfile-5 + label:hover figure::after {
    border-bottom-color: #d3394c;
}

.inputfile-5 + label svg {
    width: 100%;
    height: 100%;
    fill: #f1e5e6;
}



/* Demo links */

.codrops-demos {
	margin: 2em 0 0;
}

.codrops-demos a {
	display: inline-block;
	margin: 0 0.5em;
}

.codrops-demos a.current-demo {
	color: #333;
}


/* Content */

.content {
    margin: 0 auto;
    max-width: 763px;
    padding: 0 0 1em;
    text-align: center;
    width: 44%;
}

.content footer {
	color: #b39295;
	margin-top: 40px;
}

.content footer a:hover,
.content footer a:focus {
	color: #4b0f31;
}

.box {
    background-color: #fcfcfc;
    border: 1px solid #ddd;
    padding: 33px;
}
.box + .box {
	margin-top: 2.5rem;
}


/* Related demos */

.content--related {
	text-align: center;
	font-weight: bold;
	padding-top: 4em;
}

.media-item {
	display: inline-block;
	padding: 1em;
	vertical-align: top;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.media-item__img {
	max-width: 100%;
	opacity: 0.6;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.media-item:hover .media-item__img,
.media-item:focus .media-item__img {
	opacity: 1;
}

.media-item__title {
	margin: 0;
	padding: 0.5em;
	font-size: 1em;
}

@media screen and (max-width: 50em) {
	.codrops-header {
		padding: 3em 10% 4em;
	}
}

@media screen and (max-width: 40em) {
	.codrops-header h1 {
		font-size: 2.8em;
	}
}


.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    cursor: pointer;
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 700;
    max-width: 48%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.no-js .inputfile {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

/*
input[type="file"] {
    display: none;
}
*/

.proof {
    background: #fafafa none repeat scroll 0 0;
    border: 1px solid #ddd;
    padding-bottom: 1em;
    padding-top: 1em;
}
.accoun_info > h4 {
    color: #0091d0;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
}


.upload_format > p {
    color: #323c46;
    font-size: 14px;
    text-align: center;
}


.accoun_info {
    margin-bottom: 20px;
}

.notice_title {
    margin-top: 40px;
}

.menu_notify {
    background: #ddeffd none repeat scroll 0 0;
    border-radius: 5px;
    left: 0;
    padding: 3px 16px;
    position: absolute;
    top: -27px;
}
.menu_notify p {
    color: #000000;
    font-size: 12px;
    margin: 0;
    text-transform: capitalize;
}
.exch_icon {
    cursor: pointer;
}

.menu_notify::after {
    border-left: 11px solid transparent;
    border-right: 9px solid transparent;
    border-top: 13px solid #ddeffd;
    content: "";
    position: absolute;
}

.list_det ul li:first-child {
    width: 15%;
}

#faqAccordion .panel-heading h4 {
    font-weight: normal;
}

#faqAccordion .panel-heading.collapsed {
    background: #f8f8f8 none repeat scroll 0 0;
    border-radius: 0;
    padding: 15px;
    border-left: 5px solid transparent;
}
#faqAccordion .panel-heading {
    background: transparent none repeat scroll 0 0;
    border-left: 3px solid #0091d0;
    padding: 15px;
}

#faqAccordion .panel {
    border-radius: 0;
}

#faqAccordion .panel-body ul li {
    font-size: 14px;
    line-height: 29px;
    list-style: outside none none;
}

#faqAccordion .panel-body ul {
    padding-left: 0;
}

.question-toggle h4 {
    color: #0091d0;
    font-size: 18px;
}

.question-toggle h4 a:hover ,.question-toggle h4 a:focus { 
     color: #0091d0;
    text-decoration: none!important;
}
.question-toggle.collapsed h4 {
    color: #323c46;
    font-size: 16px;
}

.pad-no {
	padding: 0;
}


/*** css added 23Aug17 - Rajesh kumar ***/
.modal-backdrop
{
    opacity:0.8 !important;
}
.pL-0 {
  padding-left: 0;
}
.modal-body {
  padding: 15px 30px;
  position: relative;
}
.btn.active, .btn:active {
  background-image: none;
  box-shadow: none;
  outline: 0 none;
}
.form-control::-moz-placeholder {
  color: #999999;
  font-size: 14px;
  opacity: 1;
}
.formGrp {
  position: relative;
}
.formGrp .form-control {
  padding-left: 36px;
}
.formGrp > span {
  left: 8px;
  position: absolute;
  top: 8px;
}
.fees_list li:first-child, .fees_list li:last-child {
  border: medium none;
}
.fees_list li:first-child {
  padding-bottom: 10px;
}
.social_media {
  padding-top: 10px;
}
body {
  padding: 0 !important;
}
.tabbable-line .tab-content {
  margin-top: 1px;
}
.newsletter .btn {
  height: 41px;
  border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
  border-left: 1px solid #c8c8c8;
}
.btn_create_pop {
    background: #0191d0 none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    display: table;
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto;
    padding: 7px 16px;
    text-transform: capitalize;
    width: 35%;
}
.sidenav .dropdown-toggle::after {
  display: none;
}

.nav-pills li:first-child a, .trade_btn li:first-child.active a {
  border-radius: 5px 0 0 5px;
}
.nav-pills li:last-child a, .trade_btn li:last-child.active a {
  border-radius: 0 5px 5px 0;
}
.nav-pills > li + li {
  margin-left: 0;
}
.trade_btn li.active a {
  border-radius: 0;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  background-color: #63788b;
  color: #ffffff;
}

@media screen and (max-width:540px) {
.btn_create_pop { width: 100% !important; }
.pL-0 { padding-left: 0px; padding-right: 0px; }
#rc-imageselect, .g-recaptcha {transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;} 
}
#subscribe .input-group-btn {
  vertical-align: top;
}

.innerNav li a {
  color: #323c46;
  padding: 5px 20px;
}
.innerNav span img {
  filter: invert(1);
  padding-right: 10px;
}
.innerNav li a:hover {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.pr-0 {
  padding-right: 0;
}

.table_order thead, .table_order tbody {
  display: block;
}
.table_order td, .table_order th {
  height: 25px;
  min-width: 115px;
}


.tab_group_list .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #222 !important;
}
.tab_group_list .form-control::-moz-placeholder { /* Firefox 19+ */
  color: #222!important;
}
.tab_group_list .form-control:-ms-input-placeholder { /* IE 10+ */
  color: #222!important;
}
.tab_group_list .form-control:-moz-placeholder { /* Firefox 18- */
  color: #222!important;
}